/* Layout */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	margin: 0 auto;

	@media @small {
		padding-left: @gutter;
		padding-right: @gutter;
		width: @small_container_width;
	}

	@media @only_medium {
		padding-left: @gutter;
		padding-right: @gutter;
		width: @medium_container_width;
	}

	@media @medium_landscape {
		padding-left: @gutter;
		padding-right: @gutter;
		width: @medium_landscape_container_width;
	}

	@media @only_large {
		width: @large_container_width;
	}

	@media @extra_large {
		width: @extra_large_container_width;
	}
}

.top-gutter {
	margin-top: (@gutter * 2);
}

.bottom-gutter {
	margin-bottom: (@gutter * 2);
}

/* Row */


.row {
	margin: 0 -@gutter;

	&.gutter {
		padding: 0 @gutter;
	}

	&.no-gutter {
		margin: 0;
	}
}

//Clearfix
.row:after {
	display: table;
	clear: both;
	margin-right: -@gutter;
	margin-left: -@gutter;
	content: "";
}


/* Grid */


//Reponsive Columns
[class*='column-'] {
	float: left;
	min-height: 1px;
	padding-left: @gutter;
	padding-right: @gutter;

	&.no-gutter {
		padding-left: 0;
		padding-right: 0;
	}

	&.column-center {
		float: none;
		margin: 0 auto;
	}

	@media @small {
		&.no-gutter-small {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media @only_medium {
		&.no-gutter-medium {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media @only_large {
		&.no-gutter-large {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@media @extra_large {
		&.no-gutter-extra-large {
			padding-left: 0;
			padding-right: 0;
		}
	}
}


//Columns
.column-1 {
	width: @column_1;
}

.column-1-2 {
	width: @column_1_2;
}

.column-1-3 {
	width: @column_1_3;
}

.column-2-3 {
	width: @column_1_3 * 2;
}

.column-1-4 {
	width: @column_1_4;
}

.column-2-4 {
	width: @column_1_4 * 2;
}

.column-3-4 {
	width: @column_1_4 * 3;
}

.column-1-5 {
	width: @column_1_5;
}

.column-2-5 {
	width: @column_1_5 * 2;
}

.column-3-5 {
	width: @column_1_5 * 3;
}

.column-4-5 {
	width: @column_1_5 * 4;
}

.column-1-6 {
	width: @column_1_6;
}

.column-2-6 {
	width: @column_1_6 * 2;
}

.column-3-6 {
	width: @column_1_6 * 3;
}

.column-4-6 {
	width: @column_1_6 * 4;
}

.column-5-6 {
	width: @column_1_6 * 5;
}

.column-1-7 {
	width: @column_1_7;
}

.column-2-7 {
	width: @column_1_7 * 2;
}

.column-3-7 {
	width: @column_1_7 * 3;
}

.column-4-7 {
	width: @column_1_7 * 4;
}

.column-5-7 {
	width: @column_1_7 * 5;
}

.column-6-7 {
	width: @column_1_7 * 6;
}

.column-1-8 {
	width: @column_1_8;
}

.column-2-8 {
	width: @column_1_8 * 2;
}

.column-3-8 {
	width: @column_1_8 * 3;
}

.column-4-8 {
	width: @column_1_8 * 4;
}

.column-5-8 {
	width: @column_1_8 * 5;
}

.column-6-8 {
	width: @column_1_8 * 6;
}

.column-7-8 {
	width: @column_1_8 * 7;
}

.column-1-9 {
	width: @column_1_9;
}

.column-2-9 {
	width: @column_1_9 * 2;
}

.column-3-9 {
	width: @column_1_9 * 3;
}

.column-4-9 {
	width: @column_1_9 * 4;
}

.column-5-9 {
	width: @column_1_9 * 5;
}

.column-6-9 {
	width: @column_1_9 * 6;
}

.column-7-9 {
	width: @column_1_9 * 7;
}

.column-8-9 {
	width: @column_1_9 * 8;
}

.column-1-10 {
	width: @column_1_10;
}

.column-2-10 {
	width: @column_1_10 * 2;
}

.column-3-10 {
	width: @column_1_10 * 3;
}

.column-4-10 {
	width: @column_1_10 * 4;
}

.column-5-10 {
	width: @column_1_10 * 5;
}

.column-6-10 {
	width: @column_1_10 * 6;
}

.column-7-10 {
	width: @column_1_10 * 7;
}

.column-8-10 {
	width: @column_1_10 * 8;
}

.column-9-10 {
	width: @column_1_10 * 9;
}

.column-1-11 {
	width: @column_1_11;
}

.column-2-11 {
	width: @column_1_11 * 2;
}

.column-3-11 {
	width: @column_1_11 * 3;
}

.column-4-11 {
	width: @column_1_11 * 4;
}

.column-5-11 {
	width: @column_1_11 * 5;
}

.column-6-11 {
	width: @column_1_11 * 6;
}

.column-7-11 {
	width: @column_1_11 * 7;
}

.column-8-11 {
	width: @column_1_11 * 8;
}

.column-9-11 {
	width: @column_1_11 * 9;
}

.column-10-11 {
	width: @column_1_11 * 10;
}

.column-1-12 {
	width: @column_1_12;
}

.column-2-12 {
	width: @column_1_12 * 2;
}

.column-3-12 {
	width: @column_1_12 * 3;
}

.column-4-12 {
	width: @column_1_12 * 4;
}

.column-5-12 {
	width: @column_1_12 * 5;
}

.column-6-12 {
	width: @column_1_12 * 6;
}

.column-7-12 {
	width: @column_1_12 * 7;
}

.column-8-12 {
	width: @column_1_12 * 8;
}

.column-9-12 {
	width: @column_1_12 * 9;
}

.column-10-12 {
	width: @column_1_12 * 10;
}

.column-11-12 {
	width: @column_1_12 * 11;
}


//Column Offset
.column-offset-1 {
	margin-left: @column_1;
}

.column-offset-1-2 {
	margin-left: @column_1_2;
}

.column-offset-1-3 {
	margin-left: @column_1_3;
}

.column-offset-2-3 {
	margin-left: @column_1_3 * 2;
}

.column-offset-1-4 {
	margin-left: @column_1_4;
}

.column-offset-2-4 {
	margin-left: @column_1_4 * 2;
}

.column-offset-3-4 {
	margin-left: @column_1_4 * 3;
}

.column-offset-1-5 {
	margin-left: @column_1_5;
}

.column-offset-2-5 {
	margin-left: @column_1_5 * 2;
}

.column-offset-3-5 {
	margin-left: @column_1_5 * 3;
}

.column-offset-4-5 {
	margin-left: @column_1_5 * 4;
}

.column-offset-1-6 {
	margin-left: @column_1_6;
}

.column-offset-2-6 {
	margin-left: @column_1_6 * 2;
}

.column-offset-3-6 {
	margin-left: @column_1_6 * 3;
}

.column-offset-4-6 {
	margin-left: @column_1_6 * 4;
}

.column-offset-5-6 {
	margin-left: @column_1_6 * 5;
}

.column-offset-1-7 {
	margin-left: @column_1_7;
}

.column-offset-2-7 {
	margin-left: @column_1_7 * 2;
}

.column-offset-3-7 {
	margin-left: @column_1_7 * 3;
}

.column-offset-4-7 {
	margin-left: @column_1_7 * 4;
}

.column-offset-5-7 {
	margin-left: @column_1_7 * 5;
}

.column-offset-6-7 {
	margin-left: @column_1_7 * 6;
}

.column-offset-1-8 {
	margin-left: @column_1_8;
}

.column-offset-2-8 {
	margin-left: @column_1_8 * 2;
}

.column-offset-3-8 {
	margin-left: @column_1_8 * 3;
}

.column-offset-4-8 {
	margin-left: @column_1_8 * 4;
}

.column-offset-5-8 {
	margin-left: @column_1_8 * 5;
}

.column-offset-6-8 {
	margin-left: @column_1_8 * 6;
}

.column-offset-7-8 {
	margin-left: @column_1_8 * 7;
}

.column-offset-1-9 {
	margin-left: @column_1_9;
}

.column-offset-2-9 {
	margin-left: @column_1_9 * 2;
}

.column-offset-3-9 {
	margin-left: @column_1_9 * 3;
}

.column-offset-4-9 {
	margin-left: @column_1_9 * 4;
}

.column-offset-5-9 {
	margin-left: @column_1_9 * 5;
}

.column-offset-6-9 {
	margin-left: @column_1_9 * 6;
}

.column-offset-7-9 {
	margin-left: @column_1_9 * 7;
}

.column-offset-8-9 {
	margin-left: @column_1_9 * 8;
}

.column-offset-1-10 {
	margin-left: @column_1_10;
}

.column-offset-2-10 {
	margin-left: @column_1_10 * 2;
}

.column-offset-3-10 {
	margin-left: @column_1_10 * 3;
}

.column-offset-4-10 {
	margin-left: @column_1_10 * 4;
}

.column-offset-5-10 {
	margin-left: @column_1_10 * 5;
}

.column-offset-6-10 {
	margin-left: @column_1_10 * 6;
}

.column-offset-7-10 {
	margin-left: @column_1_10 * 7;
}

.column-offset-8-10 {
	margin-left: @column_1_10 * 8;
}

.column-offset-9-10 {
	margin-left: @column_1_10 * 9;
}

.column-offset-1-11 {
	margin-left: @column_1_11;
}

.column-offset-2-11 {
	margin-left: @column_1_11 * 2;
}

.column-offset-3-11 {
	margin-left: @column_1_11 * 3;
}

.column-offset-4-11 {
	margin-left: @column_1_11 * 4;
}

.column-offset-5-11 {
	margin-left: @column_1_11 * 5;
}

.column-offset-6-11 {
	margin-left: @column_1_11 * 6;
}

.column-offset-7-11 {
	margin-left: @column_1_11 * 7;
}

.column-offset-8-11 {
	margin-left: @column_1_11 * 8;
}

.column-offset-9-11 {
	margin-left: @column_1_11 * 9;
}

.column-offset-10-11 {
	margin-left: @column_1_11 * 10;
}

.column-offset-1-12 {
	margin-left: @column_1_12;
}

.column-offset-2-12 {
	margin-left: @column_1_12 * 2;
}

.column-offset-3-12 {
	margin-left: @column_1_12 * 3;
}

.column-offset-4-12 {
	margin-left: @column_1_12 * 4;
}

.column-offset-5-12 {
	margin-left: @column_1_12 * 5;
}

.column-offset-6-12 {
	margin-left: @column_1_12 * 6;
}

.column-offset-7-12 {
	margin-left: @column_1_12 * 7;
}

.column-offset-8-12 {
	margin-left: @column_1_12 * 8;
}

.column-offset-9-12 {
	margin-left: @column_1_12 * 9;
}

.column-offset-10-12 {
	margin-left: @column_1_12 * 10;
}

.column-offset-11-12 {
	margin-left: @column_1_12 * 11;
}


/* Small Devices */


@media @small {

	//Columns
	[class*='column-'] {
		width: @column_1;
	}

	.column-small-1 {
		width: @column_1;
	}

	.column-small-1-2 {
		width: @column_1_2;
	}

	.column-small-1-3 {
		width: @column_1_3;
	}

	.column-small-2-3 {
		width: @column_1_3 * 2;
	}

	.column-small-1-4 {
		width: @column_1_4;
	}

	.column-small-2-4 {
		width: @column_1_4 * 2;
	}

	.column-small-3-4 {
		width: @column_1_4 * 3;
	}

	.column-small-1-5 {
		width: @column_1_5;
	}

	.column-small-2-5 {
		width: @column_1_5 * 2;
	}

	.column-small-3-5 {
		width: @column_1_5 * 3;
	}

	.column-small-4-5 {
		width: @column_1_5 * 4;
	}

	.column-small-1-6 {
		width: @column_1_6;
	}

	.column-small-2-6 {
		width: @column_1_6 * 2;
	}

	.column-small-3-6 {
		width: @column_1_6 * 3;
	}

	.column-small-4-6 {
		width: @column_1_6 * 4;
	}

	.column-small-5-6 {
		width: @column_1_6 * 5;
	}

	.column-small-1-7 {
		width: @column_1_7;
	}

	.column-small-2-7 {
		width: @column_1_7 * 2;
	}

	.column-small-3-7 {
		width: @column_1_7 * 3;
	}

	.column-small-4-7 {
		width: @column_1_7 * 4;
	}

	.column-small-5-7 {
		width: @column_1_7 * 5;
	}

	.column-small-6-7 {
		width: @column_1_7 * 6;
	}

	.column-small-1-8 {
		width: @column_1_8;
	}

	.column-small-2-8 {
		width: @column_1_8 * 2;
	}

	.column-small-3-8 {
		width: @column_1_8 * 3;
	}

	.column-small-4-8 {
		width: @column_1_8 * 4;
	}

	.column-small-5-8 {
		width: @column_1_8 * 5;
	}

	.column-small-6-8 {
		width: @column_1_8 * 6;
	}

	.column-small-7-8 {
		width: @column_1_8 * 7;
	}

	.column-small-1-9 {
		width: @column_1_9;
	}

	.column-small-2-9 {
		width: @column_1_9 * 2;
	}

	.column-small-3-9 {
		width: @column_1_9 * 3;
	}

	.column-small-4-9 {
		width: @column_1_9 * 4;
	}

	.column-small-5-9 {
		width: @column_1_9 * 5;
	}

	.column-small-6-9 {
		width: @column_1_9 * 6;
	}

	.column-small-7-9 {
		width: @column_1_9 * 7;
	}

	.column-small-8-9 {
		width: @column_1_9 * 8;
	}

	.column-small-1-10 {
		width: @column_1_10;
	}

	.column-small-2-10 {
		width: @column_1_10 * 2;
	}

	.column-small-3-10 {
		width: @column_1_10 * 3;
	}

	.column-small-4-10 {
		width: @column_1_10 * 4;
	}

	.column-small-5-10 {
		width: @column_1_10 * 5;
	}

	.column-small-6-10 {
		width: @column_1_10 * 6;
	}

	.column-small-7-10 {
		width: @column_1_10 * 7;
	}

	.column-small-8-10 {
		width: @column_1_10 * 8;
	}

	.column-small-9-10 {
		width: @column_1_10 * 9;
	}

	.column-small-1-11 {
		width: @column_1_11;
	}

	.column-small-2-11 {
		width: @column_1_11 * 2;
	}

	.column-small-3-11 {
		width: @column_1_11 * 3;
	}

	.column-small-4-11 {
		width: @column_1_11 * 4;
	}

	.column-small-5-11 {
		width: @column_1_11 * 5;
	}

	.column-small-6-11 {
		width: @column_1_11 * 6;
	}

	.column-small-7-11 {
		width: @column_1_11 * 7;
	}

	.column-small-8-11 {
		width: @column_1_11 * 8;
	}

	.column-small-9-11 {
		width: @column_1_11 * 9;
	}

	.column-small-10-11 {
		width: @column_1_11 * 10;
	}

	.column-small-1-12 {
		width: @column_1_12;
	}

	.column-small-2-12 {
		width: @column_1_12 * 2;
	}

	.column-small-3-12 {
		width: @column_1_12 * 3;
	}

	.column-small-4-12 {
		width: @column_1_12 * 4;
	}

	.column-small-5-12 {
		width: @column_1_12 * 5;
	}

	.column-small-6-12 {
		width: @column_1_12 * 6;
	}

	.column-small-7-12 {
		width: @column_1_12 * 7;
	}

	.column-small-8-12 {
		width: @column_1_12 * 8;
	}

	.column-small-9-12 {
		width: @column_1_12 * 9;
	}

	.column-small-10-12 {
		width: @column_1_12 * 10;
	}

	.column-small-11-12 {
		width: @column_1_12 * 11;
	}


	//Offsets
	.column-small-offset-1 {
		margin-left: @column_1;
	}

	.column-small-offset-1-2 {
		margin-left: @column_1_2;
	}

	.column-small-offset-1-3 {
		margin-left: @column_1_3;
	}

	.column-small-offset-2-3 {
		margin-left: @column_1_3 * 2;
	}

	.column-small-offset-1-4 {
		margin-left: @column_1_4;
	}

	.column-small-offset-2-4 {
		margin-left: @column_1_4 * 2;
	}

	.column-small-offset-3-4 {
		margin-left: @column_1_4 * 3;
	}

	.column-small-offset-1-5 {
		margin-left: @column_1_5;
	}

	.column-small-offset-2-5 {
		margin-left: @column_1_5 * 2;
	}

	.column-small-offset-3-5 {
		margin-left: @column_1_5 * 3;
	}

	.column-small-offset-4-5 {
		margin-left: @column_1_5 * 4;
	}

	.column-small-offset-1-6 {
		margin-left: @column_1_6;
	}

	.column-small-offset-2-6 {
		margin-left: @column_1_6 * 2;
	}

	.column-small-offset-3-6 {
		margin-left: @column_1_6 * 3;
	}

	.column-small-offset-4-6 {
		margin-left: @column_1_6 * 4;
	}

	.column-small-offset-5-6 {
		margin-left: @column_1_6 * 5;
	}

	.column-small-offset-1-7 {
		margin-left: @column_1_7;
	}

	.column-small-offset-2-7 {
		margin-left: @column_1_7 * 2;
	}

	.column-small-offset-3-7 {
		margin-left: @column_1_7 * 3;
	}

	.column-small-offset-4-7 {
		margin-left: @column_1_7 * 4;
	}

	.column-small-offset-5-7 {
		margin-left: @column_1_7 * 5;
	}

	.column-small-offset-6-7 {
		margin-left: @column_1_7 * 6;
	}

	.column-small-offset-1-8 {
		margin-left: @column_1_8;
	}

	.column-small-offset-2-8 {
		margin-left: @column_1_8 * 2;
	}

	.column-small-offset-3-8 {
		margin-left: @column_1_8 * 3;
	}

	.column-small-offset-4-8 {
		margin-left: @column_1_8 * 4;
	}

	.column-small-offset-5-8 {
		margin-left: @column_1_8 * 5;
	}

	.column-small-offset-6-8 {
		margin-left: @column_1_8 * 6;
	}

	.column-small-offset-7-8 {
		margin-left: @column_1_8 * 7;
	}

	.column-small-offset-1-9 {
		margin-left: @column_1_9;
	}

	.column-small-offset-2-9 {
		margin-left: @column_1_9 * 2;
	}

	.column-small-offset-3-9 {
		margin-left: @column_1_9 * 3;
	}

	.column-small-offset-4-9 {
		margin-left: @column_1_9 * 4;
	}

	.column-small-offset-5-9 {
		margin-left: @column_1_9 * 5;
	}

	.column-small-offset-6-9 {
		margin-left: @column_1_9 * 6;
	}

	.column-small-offset-7-9 {
		margin-left: @column_1_9 * 7;
	}

	.column-small-offset-8-9 {
		margin-left: @column_1_9 * 8;
	}

	.column-small-offset-1-10 {
		margin-left: @column_1_10;
	}

	.column-small-offset-2-10 {
		margin-left: @column_1_10 * 2;
	}

	.column-small-offset-3-10 {
		margin-left: @column_1_10 * 3;
	}

	.column-small-offset-4-10 {
		margin-left: @column_1_10 * 4;
	}

	.column-small-offset-5-10 {
		margin-left: @column_1_10 * 5;
	}

	.column-small-offset-6-10 {
		margin-left: @column_1_10 * 6;
	}

	.column-small-offset-7-10 {
		margin-left: @column_1_10 * 7;
	}

	.column-small-offset-8-10 {
		margin-left: @column_1_10 * 8;
	}

	.column-small-offset-9-10 {
		margin-left: @column_1_10 * 9;
	}

	.column-small-offset-1-11 {
		margin-left: @column_1_11;
	}

	.column-small-offset-2-11 {
		margin-left: @column_1_11 * 2;
	}

	.column-small-offset-3-11 {
		margin-left: @column_1_11 * 3;
	}

	.column-small-offset-4-11 {
		margin-left: @column_1_11 * 4;
	}

	.column-small-offset-5-11 {
		margin-left: @column_1_11 * 5;
	}

	.column-small-offset-6-11 {
		margin-left: @column_1_11 * 6;
	}

	.column-small-offset-7-11 {
		margin-left: @column_1_11 * 7;
	}

	.column-small-offset-8-11 {
		margin-left: @column_1_11 * 8;
	}

	.column-small-offset-9-11 {
		margin-left: @column_1_11 * 9;
	}

	.column-small-offset-10-11 {
		margin-left: @column_1_11 * 10;
	}

	.column-small-offset-1-12 {
		margin-left: @column_1_12;
	}

	.column-small-offset-2-12 {
		margin-left: @column_1_12 * 2;
	}

	.column-small-offset-3-12 {
		margin-left: @column_1_12 * 3;
	}

	.column-small-offset-4-12 {
		margin-left: @column_1_12 * 4;
	}

	.column-small-offset-5-12 {
		margin-left: @column_1_12 * 5;
	}

	.column-small-offset-6-12 {
		margin-left: @column_1_12 * 6;
	}

	.column-small-offset-7-12 {
		margin-left: @column_1_12 * 7;
	}

	.column-small-offset-8-12 {
		margin-left: @column_1_12 * 8;
	}

	.column-small-offset-9-12 {
		margin-left: @column_1_12 * 9;
	}

	.column-small-offset-10-12 {
		margin-left: @column_1_12 * 10;
	}

	.column-small-offset-11-12 {
		margin-left: @column_1_12 * 11;
	}
}


/* Medium Devices */


@media @only_medium {

	//Columns
	.column-medium-1 {
		width: @column_1;
	}

	.column-medium-1-2 {
		width: @column_1_2;
	}

	.column-medium-1-3 {
		width: @column_1_3;
	}

	.column-medium-2-3 {
		width: @column_1_3 * 2;
	}

	.column-medium-1-4 {
		width: @column_1_4;
	}

	.column-medium-2-4 {
		width: @column_1_4 * 2;
	}

	.column-medium-3-4 {
		width: @column_1_4 * 3;
	}

	.column-medium-1-5 {
		width: @column_1_5;
	}

	.column-medium-2-5 {
		width: @column_1_5 * 2;
	}

	.column-medium-3-5 {
		width: @column_1_5 * 3;
	}

	.column-medium-4-5 {
		width: @column_1_5 * 4;
	}

	.column-medium-1-6 {
		width: @column_1_6;
	}

	.column-medium-2-6 {
		width: @column_1_6 * 2;
	}

	.column-medium-3-6 {
		width: @column_1_6 * 3;
	}

	.column-medium-4-6 {
		width: @column_1_6 * 4;
	}

	.column-medium-5-6 {
		width: @column_1_6 * 5;
	}

	.column-medium-1-7 {
		width: @column_1_7;
	}

	.column-medium-2-7 {
		width: @column_1_7 * 2;
	}

	.column-medium-3-7 {
		width: @column_1_7 * 3;
	}

	.column-medium-4-7 {
		width: @column_1_7 * 4;
	}

	.column-medium-5-7 {
		width: @column_1_7 * 5;
	}

	.column-medium-6-7 {
		width: @column_1_7 * 6;
	}

	.column-medium-1-8 {
		width: @column_1_8;
	}

	.column-medium-2-8 {
		width: @column_1_8 * 2;
	}

	.column-medium-3-8 {
		width: @column_1_8 * 3;
	}

	.column-medium-4-8 {
		width: @column_1_8 * 4;
	}

	.column-medium-5-8 {
		width: @column_1_8 * 5;
	}

	.column-medium-6-8 {
		width: @column_1_8 * 6;
	}

	.column-medium-7-8 {
		width: @column_1_8 * 7;
	}

	.column-medium-1-9 {
		width: @column_1_9;
	}

	.column-medium-2-9 {
		width: @column_1_9 * 2;
	}

	.column-medium-3-9 {
		width: @column_1_9 * 3;
	}

	.column-medium-4-9 {
		width: @column_1_9 * 4;
	}

	.column-medium-5-9 {
		width: @column_1_9 * 5;
	}

	.column-medium-6-9 {
		width: @column_1_9 * 6;
	}

	.column-medium-7-9 {
		width: @column_1_9 * 7;
	}

	.column-medium-8-9 {
		width: @column_1_9 * 8;
	}

	.column-medium-1-10 {
		width: @column_1_10;
	}

	.column-medium-2-10 {
		width: @column_1_10 * 2;
	}

	.column-medium-3-10 {
		width: @column_1_10 * 3;
	}

	.column-medium-4-10 {
		width: @column_1_10 * 4;
	}

	.column-medium-5-10 {
		width: @column_1_10 * 5;
	}

	.column-medium-6-10 {
		width: @column_1_10 * 6;
	}

	.column-medium-7-10 {
		width: @column_1_10 * 7;
	}

	.column-medium-8-10 {
		width: @column_1_10 * 8;
	}

	.column-medium-9-10 {
		width: @column_1_10 * 9;
	}

	.column-medium-1-11 {
		width: @column_1_11;
	}

	.column-medium-2-11 {
		width: @column_1_11 * 2;
	}

	.column-medium-3-11 {
		width: @column_1_11 * 3;
	}

	.column-medium-4-11 {
		width: @column_1_11 * 4;
	}

	.column-medium-5-11 {
		width: @column_1_11 * 5;
	}

	.column-medium-6-11 {
		width: @column_1_11 * 6;
	}

	.column-medium-7-11 {
		width: @column_1_11 * 7;
	}

	.column-medium-8-11 {
		width: @column_1_11 * 8;
	}

	.column-medium-9-11 {
		width: @column_1_11 * 9;
	}

	.column-medium-10-11 {
		width: @column_1_11 * 10;
	}

	.column-medium-1-12 {
		width: @column_1_12;
	}

	.column-medium-2-12 {
		width: @column_1_12 * 2;
	}

	.column-medium-3-12 {
		width: @column_1_12 * 3;
	}

	.column-medium-4-12 {
		width: @column_1_12 * 4;
	}

	.column-medium-5-12 {
		width: @column_1_12 * 5;
	}

	.column-medium-6-12 {
		width: @column_1_12 * 6;
	}

	.column-medium-7-12 {
		width: @column_1_12 * 7;
	}

	.column-medium-8-12 {
		width: @column_1_12 * 8;
	}

	.column-medium-9-12 {
		width: @column_1_12 * 9;
	}

	.column-medium-10-12 {
		width: @column_1_12 * 10;
	}

	.column-medium-11-12 {
		width: @column_1_12 * 11;
	}


	//Offset
	.column-medium-offset-1 {
		margin-left: @column_1;
	}

	.column-medium-offset-1-2 {
		margin-left: @column_1_2;
	}

	.column-medium-offset-1-3 {
		margin-left: @column_1_3;
	}

	.column-medium-offset-2-3 {
		margin-left: @column_1_3 * 2;
	}

	.column-medium-offset-1-4 {
		margin-left: @column_1_4;
	}

	.column-medium-offset-2-4 {
		margin-left: @column_1_4 * 2;
	}

	.column-medium-offset-3-4 {
		margin-left: @column_1_4 * 3;
	}

	.column-medium-offset-1-5 {
		margin-left: @column_1_5;
	}

	.column-medium-offset-2-5 {
		margin-left: @column_1_5 * 2;
	}

	.column-medium-offset-3-5 {
		margin-left: @column_1_5 * 3;
	}

	.column-medium-offset-4-5 {
		margin-left: @column_1_5 * 4;
	}

	.column-medium-offset-1-6 {
		margin-left: @column_1_6;
	}

	.column-medium-offset-2-6 {
		margin-left: @column_1_6 * 2;
	}

	.column-medium-offset-3-6 {
		margin-left: @column_1_6 * 3;
	}

	.column-medium-offset-4-6 {
		margin-left: @column_1_6 * 4;
	}

	.column-medium-offset-5-6 {
		margin-left: @column_1_6 * 5;
	}

	.column-medium-offset-1-7 {
		margin-left: @column_1_7;
	}

	.column-medium-offset-2-7 {
		margin-left: @column_1_7 * 2;
	}

	.column-medium-offset-3-7 {
		margin-left: @column_1_7 * 3;
	}

	.column-medium-offset-4-7 {
		margin-left: @column_1_7 * 4;
	}

	.column-medium-offset-5-7 {
		margin-left: @column_1_7 * 5;
	}

	.column-medium-offset-6-7 {
		margin-left: @column_1_7 * 6;
	}

	.column-medium-offset-1-8 {
		margin-left: @column_1_8;
	}

	.column-medium-offset-2-8 {
		margin-left: @column_1_8 * 2;
	}

	.column-medium-offset-3-8 {
		margin-left: @column_1_8 * 3;
	}

	.column-medium-offset-4-8 {
		margin-left: @column_1_8 * 4;
	}

	.column-medium-offset-5-8 {
		margin-left: @column_1_8 * 5;
	}

	.column-medium-offset-6-8 {
		margin-left: @column_1_8 * 6;
	}

	.column-medium-offset-7-8 {
		margin-left: @column_1_8 * 7;
	}

	.column-medium-offset-1-9 {
		margin-left: @column_1_9;
	}

	.column-medium-offset-2-9 {
		margin-left: @column_1_9 * 2;
	}

	.column-medium-offset-3-9 {
		margin-left: @column_1_9 * 3;
	}

	.column-medium-offset-4-9 {
		margin-left: @column_1_9 * 4;
	}

	.column-medium-offset-5-9 {
		margin-left: @column_1_9 * 5;
	}

	.column-medium-offset-6-9 {
		margin-left: @column_1_9 * 6;
	}

	.column-medium-offset-7-9 {
		margin-left: @column_1_9 * 7;
	}

	.column-medium-offset-8-9 {
		margin-left: @column_1_9 * 8;
	}

	.column-medium-offset-1-10 {
		margin-left: @column_1_10;
	}

	.column-medium-offset-2-10 {
		margin-left: @column_1_10 * 2;
	}

	.column-medium-offset-3-10 {
		margin-left: @column_1_10 * 3;
	}

	.column-medium-offset-4-10 {
		margin-left: @column_1_10 * 4;
	}

	.column-medium-offset-5-10 {
		margin-left: @column_1_10 * 5;
	}

	.column-medium-offset-6-10 {
		margin-left: @column_1_10 * 6;
	}

	.column-medium-offset-7-10 {
		margin-left: @column_1_10 * 7;
	}

	.column-medium-offset-8-10 {
		margin-left: @column_1_10 * 8;
	}

	.column-medium-offset-9-10 {
		margin-left: @column_1_10 * 9;
	}

	.column-medium-offset-1-11 {
		margin-left: @column_1_11;
	}

	.column-medium-offset-2-11 {
		margin-left: @column_1_11 * 2;
	}

	.column-medium-offset-3-11 {
		margin-left: @column_1_11 * 3;
	}

	.column-medium-offset-4-11 {
		margin-left: @column_1_11 * 4;
	}

	.column-medium-offset-5-11 {
		margin-left: @column_1_11 * 5;
	}

	.column-medium-offset-6-11 {
		margin-left: @column_1_11 * 6;
	}

	.column-medium-offset-7-11 {
		margin-left: @column_1_11 * 7;
	}

	.column-medium-offset-8-11 {
		margin-left: @column_1_11 * 8;
	}

	.column-medium-offset-9-11 {
		margin-left: @column_1_11 * 9;
	}

	.column-medium-offset-10-11 {
		margin-left: @column_1_11 * 10;
	}

	.column-medium-offset-1-12 {
		margin-left: @column_1_12;
	}

	.column-medium-offset-2-12 {
		margin-left: @column_1_12 * 2;
	}

	.column-medium-offset-3-12 {
		margin-left: @column_1_12 * 3;
	}

	.column-medium-offset-4-12 {
		margin-left: @column_1_12 * 4;
	}

	.column-medium-offset-5-12 {
		margin-left: @column_1_12 * 5;
	}

	.column-medium-offset-6-12 {
		margin-left: @column_1_12 * 6;
	}

	.column-medium-offset-7-12 {
		margin-left: @column_1_12 * 7;
	}

	.column-medium-offset-8-12 {
		margin-left: @column_1_12 * 8;
	}

	.column-medium-offset-9-12 {
		margin-left: @column_1_12 * 9;
	}

	.column-medium-offset-10-12 {
		margin-left: @column_1_12 * 10;
	}

	.column-medium-offset-11-12 {
		margin-left: @column_1_12 * 11;
	}
}


/* Large Devices */


@media @only_large {

	//Columns
	.column-large-1 {
		width: @column_1;
	}

	.column-large-1-2 {
		width: @column_1_2;
	}

	.column-large-1-3 {
		width: @column_1_3;
	}

	.column-large-2-3 {
		width: @column_1_3 * 2;
	}

	.column-large-1-4 {
		width: @column_1_4;
	}

	.column-large-2-4 {
		width: @column_1_4 * 2;
	}

	.column-large-3-4 {
		width: @column_1_4 * 3;
	}

	.column-large-1-5 {
		width: @column_1_5;
	}

	.column-large-2-5 {
		width: @column_1_5 * 2;
	}

	.column-large-3-5 {
		width: @column_1_5 * 3;
	}

	.column-large-4-5 {
		width: @column_1_5 * 4;
	}

	.column-large-1-6 {
		width: @column_1_6;
	}

	.column-large-2-6 {
		width: @column_1_6 * 2;
	}

	.column-large-3-6 {
		width: @column_1_6 * 3;
	}

	.column-large-4-6 {
		width: @column_1_6 * 4;
	}

	.column-large-5-6 {
		width: @column_1_6 * 5;
	}

	.column-large-1-7 {
		width: @column_1_7;
	}

	.column-large-2-7 {
		width: @column_1_7 * 2;
	}

	.column-large-3-7 {
		width: @column_1_7 * 3;
	}

	.column-large-4-7 {
		width: @column_1_7 * 4;
	}

	.column-large-5-7 {
		width: @column_1_7 * 5;
	}

	.column-large-6-7 {
		width: @column_1_7 * 6;
	}

	.column-large-1-8 {
		width: @column_1_8;
	}

	.column-large-2-8 {
		width: @column_1_8 * 2;
	}

	.column-large-3-8 {
		width: @column_1_8 * 3;
	}

	.column-large-4-8 {
		width: @column_1_8 * 4;
	}

	.column-large-5-8 {
		width: @column_1_8 * 5;
	}

	.column-large-6-8 {
		width: @column_1_8 * 6;
	}

	.column-large-7-8 {
		width: @column_1_8 * 7;
	}

	.column-large-1-9 {
		width: @column_1_9;
	}

	.column-large-2-9 {
		width: @column_1_9 * 2;
	}

	.column-large-3-9 {
		width: @column_1_9 * 3;
	}

	.column-large-4-9 {
		width: @column_1_9 * 4;
	}

	.column-large-5-9 {
		width: @column_1_9 * 5;
	}

	.column-large-6-9 {
		width: @column_1_9 * 6;
	}

	.column-large-7-9 {
		width: @column_1_9 * 7;
	}

	.column-large-8-9 {
		width: @column_1_9 * 8;
	}

	.column-large-1-10 {
		width: @column_1_10;
	}

	.column-large-2-10 {
		width: @column_1_10 * 2;
	}

	.column-large-3-10 {
		width: @column_1_10 * 3;
	}

	.column-large-4-10 {
		width: @column_1_10 * 4;
	}

	.column-large-5-10 {
		width: @column_1_10 * 5;
	}

	.column-large-6-10 {
		width: @column_1_10 * 6;
	}

	.column-large-7-10 {
		width: @column_1_10 * 7;
	}

	.column-large-8-10 {
		width: @column_1_10 * 8;
	}

	.column-large-9-10 {
		width: @column_1_10 * 9;
	}

	.column-large-1-11 {
		width: @column_1_11;
	}

	.column-large-2-11 {
		width: @column_1_11 * 2;
	}

	.column-large-3-11 {
		width: @column_1_11 * 3;
	}

	.column-large-4-11 {
		width: @column_1_11 * 4;
	}

	.column-large-5-11 {
		width: @column_1_11 * 5;
	}

	.column-large-6-11 {
		width: @column_1_11 * 6;
	}

	.column-large-7-11 {
		width: @column_1_11 * 7;
	}

	.column-large-8-11 {
		width: @column_1_11 * 8;
	}

	.column-large-9-11 {
		width: @column_1_11 * 9;
	}

	.column-large-10-11 {
		width: @column_1_11 * 10;
	}

	.column-large-1-12 {
		width: @column_1_12;
	}

	.column-large-2-12 {
		width: @column_1_12 * 2;
	}

	.column-large-3-12 {
		width: @column_1_12 * 3;
	}

	.column-large-4-12 {
		width: @column_1_12 * 4;
	}

	.column-large-5-12 {
		width: @column_1_12 * 5;
	}

	.column-large-6-12 {
		width: @column_1_12 * 6;
	}

	.column-large-7-12 {
		width: @column_1_12 * 7;
	}

	.column-large-8-12 {
		width: @column_1_12 * 8;
	}

	.column-large-9-12 {
		width: @column_1_12 * 9;
	}

	.column-large-10-12 {
		width: @column_1_12 * 10;
	}

	.column-large-11-12 {
		width: @column_1_12 * 11;
	}


	//Offset
	.column-large-offset-1 {
		margin-left: @column_1;
	}

	.column-large-offset-1-2 {
		margin-left: @column_1_2;
	}

	.column-large-offset-1-3 {
		margin-left: @column_1_3;
	}

	.column-large-offset-2-3 {
		margin-left: @column_1_3 * 2;
	}

	.column-large-offset-1-4 {
		margin-left: @column_1_4;
	}

	.column-large-offset-2-4 {
		margin-left: @column_1_4 * 2;
	}

	.column-large-offset-3-4 {
		margin-left: @column_1_4 * 3;
	}

	.column-large-offset-1-5 {
		margin-left: @column_1_5;
	}

	.column-large-offset-2-5 {
		margin-left: @column_1_5 * 2;
	}

	.column-large-offset-3-5 {
		margin-left: @column_1_5 * 3;
	}

	.column-large-offset-4-5 {
		margin-left: @column_1_5 * 4;
	}

	.column-large-offset-1-6 {
		margin-left: @column_1_6;
	}

	.column-large-offset-2-6 {
		margin-left: @column_1_6 * 2;
	}

	.column-large-offset-3-6 {
		margin-left: @column_1_6 * 3;
	}

	.column-large-offset-4-6 {
		margin-left: @column_1_6 * 4;
	}

	.column-large-offset-5-6 {
		margin-left: @column_1_6 * 5;
	}

	.column-large-offset-1-7 {
		margin-left: @column_1_7;
	}

	.column-large-offset-2-7 {
		margin-left: @column_1_7 * 2;
	}

	.column-large-offset-3-7 {
		margin-left: @column_1_7 * 3;
	}

	.column-large-offset-4-7 {
		margin-left: @column_1_7 * 4;
	}

	.column-large-offset-5-7 {
		margin-left: @column_1_7 * 5;
	}

	.column-large-offset-6-7 {
		margin-left: @column_1_7 * 6;
	}

	.column-large-offset-1-8 {
		margin-left: @column_1_8;
	}

	.column-large-offset-2-8 {
		margin-left: @column_1_8 * 2;
	}

	.column-large-offset-3-8 {
		margin-left: @column_1_8 * 3;
	}

	.column-large-offset-4-8 {
		margin-left: @column_1_8 * 4;
	}

	.column-large-offset-5-8 {
		margin-left: @column_1_8 * 5;
	}

	.column-large-offset-6-8 {
		margin-left: @column_1_8 * 6;
	}

	.column-large-offset-7-8 {
		margin-left: @column_1_8 * 7;
	}

	.column-large-offset-1-9 {
		margin-left: @column_1_9;
	}

	.column-large-offset-2-9 {
		margin-left: @column_1_9 * 2;
	}

	.column-large-offset-3-9 {
		margin-left: @column_1_9 * 3;
	}

	.column-large-offset-4-9 {
		margin-left: @column_1_9 * 4;
	}

	.column-large-offset-5-9 {
		margin-left: @column_1_9 * 5;
	}

	.column-large-offset-6-9 {
		margin-left: @column_1_9 * 6;
	}

	.column-large-offset-7-9 {
		margin-left: @column_1_9 * 7;
	}

	.column-large-offset-8-9 {
		margin-left: @column_1_9 * 8;
	}

	.column-large-offset-1-10 {
		margin-left: @column_1_10;
	}

	.column-large-offset-2-10 {
		margin-left: @column_1_10 * 2;
	}

	.column-large-offset-3-10 {
		margin-left: @column_1_10 * 3;
	}

	.column-large-offset-4-10 {
		margin-left: @column_1_10 * 4;
	}

	.column-large-offset-5-10 {
		margin-left: @column_1_10 * 5;
	}

	.column-large-offset-6-10 {
		margin-left: @column_1_10 * 6;
	}

	.column-large-offset-7-10 {
		margin-left: @column_1_10 * 7;
	}

	.column-large-offset-8-10 {
		margin-left: @column_1_10 * 8;
	}

	.column-large-offset-9-10 {
		margin-left: @column_1_10 * 9;
	}

	.column-large-offset-1-11 {
		margin-left: @column_1_11;
	}

	.column-large-offset-2-11 {
		margin-left: @column_1_11 * 2;
	}

	.column-large-offset-3-11 {
		margin-left: @column_1_11 * 3;
	}

	.column-large-offset-4-11 {
		margin-left: @column_1_11 * 4;
	}

	.column-large-offset-5-11 {
		margin-left: @column_1_11 * 5;
	}

	.column-large-offset-6-11 {
		margin-left: @column_1_11 * 6;
	}

	.column-large-offset-7-11 {
		margin-left: @column_1_11 * 7;
	}

	.column-large-offset-8-11 {
		margin-left: @column_1_11 * 8;
	}

	.column-large-offset-9-11 {
		margin-left: @column_1_11 * 9;
	}

	.column-large-offset-10-11 {
		margin-left: @column_1_11 * 10;
	}

	.column-large-offset-1-12 {
		margin-left: @column_1_12;
	}

	.column-large-offset-2-12 {
		margin-left: @column_1_12 * 2;
	}

	.column-large-offset-3-12 {
		margin-left: @column_1_12 * 3;
	}

	.column-large-offset-4-12 {
		margin-left: @column_1_12 * 4;
	}

	.column-large-offset-5-12 {
		margin-left: @column_1_12 * 5;
	}

	.column-large-offset-6-12 {
		margin-left: @column_1_12 * 6;
	}

	.column-large-offset-7-12 {
		margin-left: @column_1_12 * 7;
	}

	.column-large-offset-8-12 {
		margin-left: @column_1_12 * 8;
	}

	.column-large-offset-9-12 {
		margin-left: @column_1_12 * 9;
	}

	.column-large-offset-10-12 {
		margin-left: @column_1_12 * 10;
	}

	.column-large-offset-11-12 {
		margin-left: @column_1_12 * 11;
	}
}


/* Extra Large Devices */


@media @extra_large {

	//Columns
	.column-extra-large-1 {
		width: @column_1;
	}

	.column-extra-large-1-2 {
		width: @column_1_2;
	}

	.column-extra-large-1-3 {
		width: @column_1_3;
	}

	.column-extra-large-2-3 {
		width: @column_1_3 * 2;
	}

	.column-extra-large-1-4 {
		width: @column_1_4;
	}

	.column-extra-large-2-4 {
		width: @column_1_4 * 2;
	}

	.column-extra-large-3-4 {
		width: @column_1_4 * 3;
	}

	.column-extra-large-1-5 {
		width: @column_1_5;
	}

	.column-extra-large-2-5 {
		width: @column_1_5 * 2;
	}

	.column-extra-large-3-5 {
		width: @column_1_5 * 3;
	}

	.column-extra-large-4-5 {
		width: @column_1_5 * 4;
	}

	.column-extra-large-1-6 {
		width: @column_1_6;
	}

	.column-extra-large-2-6 {
		width: @column_1_6 * 2;
	}

	.column-extra-large-3-6 {
		width: @column_1_6 * 3;
	}

	.column-extra-large-4-6 {
		width: @column_1_6 * 4;
	}

	.column-extra-large-5-6 {
		width: @column_1_6 * 5;
	}

	.column-extra-large-1-7 {
		width: @column_1_7;
	}

	.column-extra-large-2-7 {
		width: @column_1_7 * 2;
	}

	.column-extra-large-3-7 {
		width: @column_1_7 * 3;
	}

	.column-extra-large-4-7 {
		width: @column_1_7 * 4;
	}

	.column-extra-large-5-7 {
		width: @column_1_7 * 5;
	}

	.column-extra-large-6-7 {
		width: @column_1_7 * 6;
	}

	.column-extra-large-1-8 {
		width: @column_1_8;
	}

	.column-extra-large-2-8 {
		width: @column_1_8 * 2;
	}

	.column-extra-large-3-8 {
		width: @column_1_8 * 3;
	}

	.column-extra-large-4-8 {
		width: @column_1_8 * 4;
	}

	.column-extra-large-5-8 {
		width: @column_1_8 * 5;
	}

	.column-extra-large-6-8 {
		width: @column_1_8 * 6;
	}

	.column-extra-large-7-8 {
		width: @column_1_8 * 7;
	}

	.column-extra-large-1-9 {
		width: @column_1_9;
	}

	.column-extra-large-2-9 {
		width: @column_1_9 * 2;
	}

	.column-extra-large-3-9 {
		width: @column_1_9 * 3;
	}

	.column-extra-large-4-9 {
		width: @column_1_9 * 4;
	}

	.column-extra-large-5-9 {
		width: @column_1_9 * 5;
	}

	.column-extra-large-6-9 {
		width: @column_1_9 * 6;
	}

	.column-extra-large-7-9 {
		width: @column_1_9 * 7;
	}

	.column-extra-large-8-9 {
		width: @column_1_9 * 8;
	}

	.column-extra-large-1-10 {
		width: @column_1_10;
	}

	.column-extra-large-2-10 {
		width: @column_1_10 * 2;
	}

	.column-extra-large-3-10 {
		width: @column_1_10 * 3;
	}

	.column-extra-large-4-10 {
		width: @column_1_10 * 4;
	}

	.column-extra-large-5-10 {
		width: @column_1_10 * 5;
	}

	.column-extra-large-6-10 {
		width: @column_1_10 * 6;
	}

	.column-extra-large-7-10 {
		width: @column_1_10 * 7;
	}

	.column-extra-large-8-10 {
		width: @column_1_10 * 8;
	}

	.column-extra-large-9-10 {
		width: @column_1_10 * 9;
	}

	.column-extra-large-1-11 {
		width: @column_1_11;
	}

	.column-extra-large-2-11 {
		width: @column_1_11 * 2;
	}

	.column-extra-large-3-11 {
		width: @column_1_11 * 3;
	}

	.column-extra-large-4-11 {
		width: @column_1_11 * 4;
	}

	.column-extra-large-5-11 {
		width: @column_1_11 * 5;
	}

	.column-extra-large-6-11 {
		width: @column_1_11 * 6;
	}

	.column-extra-large-7-11 {
		width: @column_1_11 * 7;
	}

	.column-extra-large-8-11 {
		width: @column_1_11 * 8;
	}

	.column-extra-large-9-11 {
		width: @column_1_11 * 9;
	}

	.column-extra-large-10-11 {
		width: @column_1_11 * 10;
	}

	.column-extra-large-1-12 {
		width: @column_1_12;
	}

	.column-extra-large-2-12 {
		width: @column_1_12 * 2;
	}

	.column-extra-large-3-12 {
		width: @column_1_12 * 3;
	}

	.column-extra-large-4-12 {
		width: @column_1_12 * 4;
	}

	.column-extra-large-5-12 {
		width: @column_1_12 * 5;
	}

	.column-extra-large-6-12 {
		width: @column_1_12 * 6;
	}

	.column-extra-large-7-12 {
		width: @column_1_12 * 7;
	}

	.column-extra-large-8-12 {
		width: @column_1_12 * 8;
	}

	.column-extra-large-9-12 {
		width: @column_1_12 * 9;
	}

	.column-extra-large-10-12 {
		width: @column_1_12 * 10;
	}

	.column-extra-large-11-12 {
		width: @column_1_12 * 11;
	}


	//Offset
	.column-extra-large-offset-1 {
		margin-left: @column_1;
	}

	.column-extra-large-offset-1-2 {
		margin-left: @column_1_2;
	}

	.column-extra-large-offset-1-3 {
		margin-left: @column_1_3;
	}

	.column-extra-large-offset-2-3 {
		margin-left: @column_1_3 * 2;
	}

	.column-extra-large-offset-1-4 {
		margin-left: @column_1_4;
	}

	.column-extra-large-offset-2-4 {
		margin-left: @column_1_4 * 2;
	}

	.column-extra-large-offset-3-4 {
		margin-left: @column_1_4 * 3;
	}

	.column-extra-large-offset-1-5 {
		margin-left: @column_1_5;
	}

	.column-extra-large-offset-2-5 {
		margin-left: @column_1_5 * 2;
	}

	.column-extra-large-offset-3-5 {
		margin-left: @column_1_5 * 3;
	}

	.column-extra-large-offset-4-5 {
		margin-left: @column_1_5 * 4;
	}

	.column-extra-large-offset-1-6 {
		margin-left: @column_1_6;
	}

	.column-extra-large-offset-2-6 {
		margin-left: @column_1_6 * 2;
	}

	.column-extra-large-offset-3-6 {
		margin-left: @column_1_6 * 3;
	}

	.column-extra-large-offset-4-6 {
		margin-left: @column_1_6 * 4;
	}

	.column-extra-large-offset-5-6 {
		margin-left: @column_1_6 * 5;
	}

	.column-extra-large-offset-1-7 {
		margin-left: @column_1_7;
	}

	.column-extra-large-offset-2-7 {
		margin-left: @column_1_7 * 2;
	}

	.column-extra-large-offset-3-7 {
		margin-left: @column_1_7 * 3;
	}

	.column-extra-large-offset-4-7 {
		margin-left: @column_1_7 * 4;
	}

	.column-extra-large-offset-5-7 {
		margin-left: @column_1_7 * 5;
	}

	.column-extra-large-offset-6-7 {
		margin-left: @column_1_7 * 6;
	}

	.column-extra-large-offset-1-8 {
		margin-left: @column_1_8;
	}

	.column-extra-large-offset-2-8 {
		margin-left: @column_1_8 * 2;
	}

	.column-extra-large-offset-3-8 {
		margin-left: @column_1_8 * 3;
	}

	.column-extra-large-offset-4-8 {
		margin-left: @column_1_8 * 4;
	}

	.column-extra-large-offset-5-8 {
		margin-left: @column_1_8 * 5;
	}

	.column-extra-large-offset-6-8 {
		margin-left: @column_1_8 * 6;
	}

	.column-extra-large-offset-7-8 {
		margin-left: @column_1_8 * 7;
	}

	.column-extra-large-offset-1-9 {
		margin-left: @column_1_9;
	}

	.column-extra-large-offset-2-9 {
		margin-left: @column_1_9 * 2;
	}

	.column-extra-large-offset-3-9 {
		margin-left: @column_1_9 * 3;
	}

	.column-extra-large-offset-4-9 {
		margin-left: @column_1_9 * 4;
	}

	.column-extra-large-offset-5-9 {
		margin-left: @column_1_9 * 5;
	}

	.column-extra-large-offset-6-9 {
		margin-left: @column_1_9 * 6;
	}

	.column-extra-large-offset-7-9 {
		margin-left: @column_1_9 * 7;
	}

	.column-extra-large-offset-8-9 {
		margin-left: @column_1_9 * 8;
	}

	.column-extra-large-offset-1-10 {
		margin-left: @column_1_10;
	}

	.column-extra-large-offset-2-10 {
		margin-left: @column_1_10 * 2;
	}

	.column-extra-large-offset-3-10 {
		margin-left: @column_1_10 * 3;
	}

	.column-extra-large-offset-4-10 {
		margin-left: @column_1_10 * 4;
	}

	.column-extra-large-offset-5-10 {
		margin-left: @column_1_10 * 5;
	}

	.column-extra-large-offset-6-10 {
		margin-left: @column_1_10 * 6;
	}

	.column-extra-large-offset-7-10 {
		margin-left: @column_1_10 * 7;
	}

	.column-extra-large-offset-8-10 {
		margin-left: @column_1_10 * 8;
	}

	.column-extra-large-offset-9-10 {
		margin-left: @column_1_10 * 9;
	}

	.column-extra-large-offset-1-11 {
		margin-left: @column_1_11;
	}

	.column-extra-large-offset-2-11 {
		margin-left: @column_1_11 * 2;
	}

	.column-extra-large-offset-3-11 {
		margin-left: @column_1_11 * 3;
	}

	.column-extra-large-offset-4-11 {
		margin-left: @column_1_11 * 4;
	}

	.column-extra-large-offset-5-11 {
		margin-left: @column_1_11 * 5;
	}

	.column-extra-large-offset-6-11 {
		margin-left: @column_1_11 * 6;
	}

	.column-extra-large-offset-7-11 {
		margin-left: @column_1_11 * 7;
	}

	.column-extra-large-offset-8-11 {
		margin-left: @column_1_11 * 8;
	}

	.column-extra-large-offset-9-11 {
		margin-left: @column_1_11 * 9;
	}

	.column-extra-large-offset-10-11 {
		margin-left: @column_1_11 * 10;
	}

	.column-extra-large-offset-1-12 {
		margin-left: @column_1_12;
	}

	.column-extra-large-offset-2-12 {
		margin-left: @column_1_12 * 2;
	}

	.column-extra-large-offset-3-12 {
		margin-left: @column_1_12 * 3;
	}

	.column-extra-large-offset-4-12 {
		margin-left: @column_1_12 * 4;
	}

	.column-extra-large-offset-5-12 {
		margin-left: @column_1_12 * 5;
	}

	.column-extra-large-offset-6-12 {
		margin-left: @column_1_12 * 6;
	}

	.column-extra-large-offset-7-12 {
		margin-left: @column_1_12 * 7;
	}

	.column-extra-large-offset-8-12 {
		margin-left: @column_1_12 * 8;
	}

	.column-extra-large-offset-9-12 {
		margin-left: @column_1_12 * 9;
	}

	.column-extra-large-offset-10-12 {
		margin-left: @column_1_12 * 10;
	}

	.column-extra-large-offset-11-12 {
		margin-left: @column_1_12 * 11;
	}
}