// Shades
@white: #FFFFFF;
@black: #000000;
@light-grey: #CCD1D9;
@grey: #656D78;
@dark-grey: #434A54;

// Indicators
@info: #3BAFDA;
@error: #DA4453;
@warning: #F6BB42;
@success: #2ECC71;

// Palette
@light: #F5F7FA;
@dark: @dark-grey;
@primary: #4BB3D6;
@secondary: #967ADC;
@tertiary: #D770AD;

// Inverse
@inverse: @dark;