.no-border {
  border: none !important;
}

.border {
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
}

.border-vertical {
  border-top-width: var(--border-width);
  border-top-style: var(--border-style);
  border-top-color: var(--border-color);
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  border-bottom-color: var(--border-color);
}

.border-horizontal {
  border-left-width: var(--border-width);
  border-left-style: var(--border-style);
  border-left-color: var(--border-color);
  border-right-width: var(--border-width);
  border-right-style: var(--border-style);
  border-right-color: var(--border-color);
}

.border-top {
  border-top-width: var(--border-width);
  border-top-style: var(--border-style);
  border-top-color: var(--border-color);
}

.border-right {
  border-right-width: var(--border-width);
  border-right-style: var(--border-style);
  border-right-color: var(--border-color);
}

.border-bottom {
  border-bottom-width: var(--border-width);
  border-bottom-style: var(--border-style);
  border-bottom-color: var(--border-color);
}

.border-left {
  border-left-width: var(--border-width);
  border-left-style: var(--border-style);
  border-left-color: var(--border-color);
}
