.no-border-radius,
.border-radius-none {
  border-radius: 0;
}

.border-radius {
  border-radius: var(--border-radius);
}

.border-radius-top {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.border-radius-right {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.border-radius-bottom {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.border-radius-left {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.border-radius-top-left {
  border-top-left-radius: var(--border-radius);
}

.border-radius-top-right {
  border-top-right-radius: var(--border-radius);
}

.border-radius-bottom-left {
  border-bottom-left-radius: var(--border-radius);
}

.border-radius-bottom-right {
  border-bottom-right-radius: var(--border-radius);
}
