.display-none {
  display: none;
}

.display-contents {
  display: contents;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.display-grid {
  display: grid;
}

.display-table {
  display: table;
}

.display-table-cell {
  display: table-cell;
}
