.fill-current-color {
  fill: currentColor;
}

.fill-inherit {
  fill: inherit;
}

.fill-white {
  fill: var(--white);
}

.fill-black {
  fill: var(--black);
}

.fill-light {
  fill: var(--light);
}

  .fill-light-50 {
    fill: var(--light-50);
  }

  .fill-light-100 {
    fill: var(--light-100);
  }

  .fill-light-200 {
    fill: var(--light-200);
  }

  .fill-light-300 {
    fill: var(--light-300);
  }

  .fill-light-400 {
    fill: var(--light-400);
  }

  .fill-light-500 {
    fill: var(--light-500);
  }

  .fill-light-600 {
    fill: var(--light-600);
  }

  .fill-light-700 {
    fill: var(--light-700);
  }

  .fill-light-800 {
    fill: var(--light-800);
  }

  .fill-light-900 {
    fill: var(--light-900);
  }

.fill-grey {
  fill: var(--grey);
}

  .fill-grey-50 {
    fill: var(--grey-50);
  }

  .fill-grey-100 {
    fill: var(--grey-100);
  }

  .fill-grey-200 {
    fill: var(--grey-200);
  }

  .fill-grey-300 {
    fill: var(--grey-300);
  }

  .fill-grey-400 {
    fill: var(--grey-400);
  }

  .fill-grey-500 {
    fill: var(--grey-500);
  }

  .fill-grey-600 {
    fill: var(--grey-600);
  }

  .fill-grey-700 {
    fill: var(--grey-700);
  }

  .fill-grey-800 {
    fill: var(--grey-800);
  }

  .fill-grey-900 {
    fill: var(--grey-900);
  }

.fill-dark {
  fill: var(--dark);
}

  .fill-dark-50 {
    fill: var(--dark-50);
  }

  .fill-dark-100 {
    fill: var(--dark-100);
  }

  .fill-dark-200 {
    fill: var(--dark-200);
  }

  .fill-dark-300 {
    fill: var(--dark-300);
  }

  .fill-dark-400 {
    fill: var(--dark-400);
  }

  .fill-dark-500 {
    fill: var(--dark-500);
  }

  .fill-dark-600 {
    fill: var(--dark-600);
  }

  .fill-dark-700 {
    fill: var(--dark-700);
  }

  .fill-dark-800 {
    fill: var(--dark-800);
  }

  .fill-dark-900 {
    fill: var(--dark-900);
  }

.fill-primary {
  fill: var(--primary);
}

  .fill-primary-50 {
    fill: var(--primary-50);
  }

  .fill-primary-100 {
    fill: var(--primary-100);
  }

  .fill-primary-200 {
    fill: var(--primary-200);
  }

  .fill-primary-300 {
    fill: var(--primary-300);
  }

  .fill-primary-400 {
    fill: var(--primary-400);
  }

  .fill-primary-500 {
    fill: var(--primary-500);
  }

  .fill-primary-600 {
    fill: var(--primary-600);
  }

  .fill-primary-700 {
    fill: var(--primary-700);
  }

  .fill-primary-800 {
    fill: var(--primary-800);
  }

  .fill-primary-900 {
    fill: var(--primary-900);
  }

.fill-secondary {
  fill: var(--secondary);
}

  .fill-secondary-50 {
    fill: var(--secondary-50);
  }

  .fill-secondary-100 {
    fill: var(--secondary-100);
  }

  .fill-secondary-200 {
    fill: var(--secondary-200);
  }

  .fill-secondary-300 {
    fill: var(--secondary-300);
  }

  .fill-secondary-400 {
    fill: var(--secondary-400);
  }

  .fill-secondary-500 {
    fill: var(--secondary-500);
  }

  .fill-secondary-600 {
    fill: var(--secondary-600);
  }

  .fill-secondary-700 {
    fill: var(--secondary-700);
  }

  .fill-secondary-800 {
    fill: var(--secondary-800);
  }

  .fill-secondary-900 {
    fill: var(--secondary-900);
  }

.fill-tertiary {
  fill: var(--tertiary);
}

  .fill-tertiary-50 {
    fill: var(--tertiary-50);
  }

  .fill-tertiary-100 {
    fill: var(--tertiary-100);
  }

  .fill-tertiary-200 {
    fill: var(--tertiary-200);
  }

  .fill-tertiary-300 {
    fill: var(--tertiary-300);
  }

  .fill-tertiary-400 {
    fill: var(--tertiary-400);
  }

  .fill-tertiary-500 {
    fill: var(--tertiary-500);
  }

  .fill-tertiary-600 {
    fill: var(--tertiary-600);
  }

  .fill-tertiary-700 {
    fill: var(--tertiary-700);
  }

  .fill-tertiary-800 {
    fill: var(--tertiary-800);
  }

  .fill-tertiary-900 {
    fill: var(--tertiary-900);
  }

.fill-error {
  fill: var(--error);
}

  .fill-error-50 {
    fill: var(--error-50);
  }

  .fill-error-100 {
    fill: var(--error-100);
  }

  .fill-error-200 {
    fill: var(--error-200);
  }

  .fill-error-300 {
    fill: var(--error-300);
  }

  .fill-error-400 {
    fill: var(--error-400);
  }

  .fill-error-500 {
    fill: var(--error-500);
  }

  .fill-error-600 {
    fill: var(--error-600);
  }

  .fill-error-700 {
    fill: var(--error-700);
  }

  .fill-error-800 {
    fill: var(--error-800);
  }

  .fill-error-900 {
    fill: var(--error-900);
  }

.fill-warning {
  fill: var(--warning);
}

  .fill-warning-50 {
    fill: var(--warning-50);
  }

  .fill-warning-100 {
    fill: var(--warning-100);
  }

  .fill-warning-200 {
    fill: var(--warning-200);
  }

  .fill-warning-300 {
    fill: var(--warning-300);
  }

  .fill-warning-400 {
    fill: var(--warning-400);
  }

  .fill-warning-500 {
    fill: var(--warning-500);
  }

  .fill-warning-600 {
    fill: var(--warning-600);
  }

  .fill-warning-700 {
    fill: var(--warning-700);
  }

  .fill-warning-800 {
    fill: var(--warning-800);
  }

  .fill-warning-900 {
    fill: var(--warning-900);
  }

.fill-success {
  fill: var(--success);
}

  .fill-success-50 {
    fill: var(--success-50);
  }

  .fill-success-100 {
    fill: var(--success-100);
  }

  .fill-success-200 {
    fill: var(--success-200);
  }

  .fill-success-300 {
    fill: var(--success-300);
  }

  .fill-success-400 {
    fill: var(--success-400);
  }

  .fill-success-500 {
    fill: var(--success-500);
  }

  .fill-success-600 {
    fill: var(--success-600);
  }

  .fill-success-700 {
    fill: var(--success-700);
  }

  .fill-success-800 {
    fill: var(--success-800);
  }

  .fill-success-900 {
    fill: var(--success-900);
  }

.fill-info {
  fill: var(--info);
}

  .fill-info-50 {
    fill: var(--info-50);
  }

  .fill-info-100 {
    fill: var(--info-100);
  }

  .fill-info-200 {
    fill: var(--info-200);
  }

  .fill-info-300 {
    fill: var(--info-300);
  }

  .fill-info-400 {
    fill: var(--info-400);
  }

  .fill-info-500 {
    fill: var(--info-500);
  }

  .fill-info-600 {
    fill: var(--info-600);
  }

  .fill-info-700 {
    fill: var(--info-700);
  }

  .fill-info-800 {
    fill: var(--info-800);
  }

  .fill-info-900 {
    fill: var(--info-900);
  }