.right {
  float: right;
}

.right-xs {
  @media (--xs) {
    float: right;
  }
}

.right-s {
  @media (--s) {
    float: right;
  }
}

.right-s-up {
  @media (--s-up) {
    float: right;
  }
}

.right-s-down {
  @media (--s-down) {
    float: right;
  }
}

.right-m {
  @media (--m) {
    float: right;
  }
}

.right-m-up {
  @media (--m-up) {
    float: right;
  }
}

.right-m-down {
  @media (--m-down) {
    float: right;
  }
}

.right-l {
  @media (--l) {
    float: right;
  }
}

.right-l-up {
  @media (--l-up) {
    float: right;
  }
}

.right-l-down {
  @media (--l-down) {
    float: right;
  }
}

.right-xl {
  @media (--xl) {
    float: right;
  }
}

.left {
  float: left;
}

.left-xs {
  @media (--xs) {
    float: left;
  }
}

.left-s {
  @media (--s) {
    float: left;
  }
}

.left-s-up {
  @media (--s-up) {
    float: left;
  }
}

.left-s-down {
  @media (--s-down) {
    float: left;
  }
}

.left-m {
  @media (--m) {
    float: left;
  }
}

.left-m-up {
  @media (--m-up) {
    float: left;
  }
}

.left-m-down {
  @media (--m-down) {
    float: left;
  }
}

.left-l {
  @media (--l) {
    float: left;
  }
}

.left-l-up {
  @media (--l-up) {
    float: left;
  }
}

.left-l-down {
  @media (--l-down) {
    float: left;
  }
}

.left-xl {
  @media (--xl) {
    float: left;
  }
}
