.font-weight-thin {
  font-weight: var(--font-weight-thin);
}

.font-weight-extra-light {
  font-weight: var(--font-weight-extra-light);
}

.font-weight-light {
  font-weight: var(--font-weight-light);
}

.font-weight-regular {
  font-weight: var(--font-weight-regular);
}

.font-weight-medium {
  font-weight: var(--font-weight-medium);
}

.font-weight-semibold {
  font-weight: var(--font-weight-semibold);
}

.font-weight-bold {
  font-weight: var(--font-weight-bold);
}

.font-weight-extra-bold {
  font-weight: var(--font-weight-extra-bold);
}

.font-weight-black {
  font-weight: var(--font-weight-black);
}

.font-weight {
  font-weight: var(--font-weight);
}

.font-weight-100 {
  font-weight: 100;
}

.font-weight-200 {
  font-weight: 200;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}
