.font-family-system {
  font-family: var(--font-family-system);
}

.font-family-sans-serif {
  font-family: var(--font-family-sans-serif);
}

.font-family-serif {
  font-family: var(--font-family-serif);
}

.font-family-monospace {
  font-family: var(--font-family-monospace);
}
