.no-gutter {
  padding: 0;
}

.gutter {
  padding: var(--gutter);
}

.gutter-vertical {
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}

.gutter-top {
  padding-top: var(--gutter);
}

.gutter-bottom {
  padding-bottom: var(--gutter);
}

.gutter-horizontal {
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}

.gutter-left {
  padding-left: var(--gutter);
}

.gutter-right {
  padding-right: var(--gutter);
}
