.line-height-1 {
  line-height: 1;
}

.line-height-xxl {
  line-height: var(--line-height-xxl);
}

.line-height-xl {
  line-height: var(--line-height-xl);
}

.line-height-l {
  line-height: var(--line-height-l);
}

.line-height-m {
  line-height: var(--line-height-m);
}

.line-height-s {
  line-height: var(--line-height-s);
}

.line-height-xs {
  line-height: var(--line-height-xs);
}

.line-height-xxs {
  line-height: var(--line-height-xxs);
}
