.no-margin {
  margin: 0 !important;
}

.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.margin-auto {
  margin: auto;
}

.margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-xl {
  margin: var(--margin-xl);
}

.margin-horizontal-xl {
  margin-left: var(--margin-xl);
  margin-right: var(--margin-xl);
}

.margin-vertical-xl {
  margin-top: var(--margin-xl);
  margin-bottom: var(--margin-xl);
}

.margin-top-xl {
  margin-top: var(--margin-xl);
}

.margin-bottom-xl {
  margin-bottom: var(--margin-xl);
}

.margin-left-xl {
  margin-left: var(--margin-xl);
}

.margin-right-xl {
  margin-right: var(--margin-xl);
}

.margin-l {
  margin: var(--margin-l);
}

.margin-horizontal-l {
  margin-left: var(--margin-l);
  margin-right: var(--margin-l);
}

.margin-vertical-l {
  margin-top: var(--margin-l);
  margin-bottom: var(--margin-l);
}

.margin-top-l {
  margin-top: var(--margin-l);
}

.margin-bottom-l {
  margin-bottom: var(--margin-l);
}

.margin-left-l {
  margin-left: var(--margin-l);
}

.margin-right-l {
  margin-right: var(--margin-l);
}

.margin-m {
  margin: var(--margin-m);
}

.margin-horizontal-m {
  margin-left: var(--margin-m);
  margin-right: var(--margin-m);
}

.margin-vertical-m {
  margin-top: var(--margin-m);
  margin-bottom: var(--margin-m);
}

.margin-top-m {
  margin-top: var(--margin-m);
}

.margin-bottom-m {
  margin-bottom: var(--margin-m);
}

.margin-left-m {
  margin-left: var(--margin-m);
}

.margin-right-m {
  margin-right: var(--margin-m);
}

.margin-s {
  margin: var(--margin-s);
}

.margin-horizontal-s {
  margin-left: var(--margin-s);
  margin-right: var(--margin-s);
}

.margin-vertical-s {
  margin-top: var(--margin-s);
  margin-bottom: var(--margin-s);
}

.margin-top-s {
  margin-top: var(--margin-s);
}

.margin-bottom-s {
  margin-bottom: var(--margin-s);
}

.margin-left-s {
  margin-left: var(--margin-s);
}

.margin-right-s {
  margin-right: var(--margin-s);
}

.margin-xs {
  margin: var(--margin-xs);
}

.margin-horizontal-xs {
  margin-left: var(--margin-xs);
  margin-right: var(--margin-xs);
}

.margin-vertical-xs {
  margin-top: var(--margin-xs);
  margin-bottom: var(--margin-xs);
}

.margin-top-xs {
  margin-top: var(--margin-xs);
}

.margin-bottom-xs {
  margin-bottom: var(--margin-xs);
}

.margin-left-xs {
  margin-left: var(--margin-xs);
}

.margin-right-xs {
  margin-right: var(--margin-xs);
}
