.no-margin {
  margin: 0 !important;
}

.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.no-margin-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.margin-vertical-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.margin-vertical-3-4 {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.margin-vertical-1-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.margin-vertical-1-4 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.margin-auto {
  margin: auto;
}

.margin-horizontal-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-vertical-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-xxl {
  margin: var(--space-xxl);
}

.margin-negative-xxl {
  margin: calc(var(--space-xxl) * -1);
}

.margin-horizontal-xxl {
  margin-left: var(--space-xxl);
  margin-right: var(--space-xxl);
}

.margin-vertical-xxl {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}

.margin-top-xxl {
  margin-top: var(--space-xxl);
}

.margin-bottom-xxl {
  margin-bottom: var(--space-xxl);
}

.margin-left-xxl {
  margin-left: var(--space-xxl);
}

.margin-right-xxl {
  margin-right: var(--space-xxl);
}

.margin-xl {
  margin: var(--space-xl);
}

.margin-negative-xl {
  margin: calc(var(--space-xl) * -1);
}

.margin-horizontal-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.margin-vertical-xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.margin-top-xl {
  margin-top: var(--space-xl);
}

.margin-bottom-xl {
  margin-bottom: var(--space-xl);
}

.margin-left-xl {
  margin-left: var(--space-xl);
}

.margin-right-xl {
  margin-right: var(--space-xl);
}

.margin-l {
  margin: var(--space-l);
}

.margin-negative-l {
  margin: calc(var(--space-l) * -1);
}

.margin-horizontal-l {
  margin-left: var(--space-l);
  margin-right: var(--space-l);
}

.margin-vertical-l {
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

.margin-top-l {
  margin-top: var(--space-l);
}

.margin-bottom-l {
  margin-bottom: var(--space-l);
}

.margin-left-l {
  margin-left: var(--space-l);
}

.margin-right-l {
  margin-right: var(--space-l);
}

.margin-m {
  margin: var(--space-m);
}

.margin-negative-m {
  margin: calc(var(--space-m) * -1);
}

.margin-horizontal-m {
  margin-left: var(--space-m);
  margin-right: var(--space-m);
}

.margin-vertical-m {
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
}

.margin-top-m {
  margin-top: var(--space-m);
}

.margin-bottom-m {
  margin-bottom: var(--space-m);
}

.margin-left-m {
  margin-left: var(--space-m);
}

.margin-right-m {
  margin-right: var(--space-m);
}

.margin-s {
  margin: var(--space-s);
}

.margin-negative-s {
  margin: calc(var(--space-s) * -1);
}

.margin-horizontal-s {
  margin-left: var(--space-s);
  margin-right: var(--space-s);
}

.margin-vertical-s {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

.margin-top-s {
  margin-top: var(--space-s);
}

.margin-bottom-s {
  margin-bottom: var(--space-s);
}

.margin-left-s {
  margin-left: var(--space-s);
}

.margin-right-s {
  margin-right: var(--space-s);
}

.margin-xs {
  margin: var(--space-xs);
}

.margin-negative-xs {
  margin: calc(var(--space-xs) * -1);
}

.margin-horizontal-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.margin-vertical-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.margin-top-xs {
  margin-top: var(--space-xs);
}

.margin-bottom-xs {
  margin-bottom: var(--space-xs);
}

.margin-left-xs {
  margin-left: var(--space-xs);
}

.margin-right-xs {
  margin-right: var(--space-xs);
}

.margin-xxs {
  margin: var(--space-xxs);
}

.margin-negative-xxs {
  margin: calc(var(--space-xxs) * -1);
}

.margin-horizontal-xxs {
  margin-left: var(--space-xxs);
  margin-right: var(--space-xxs);
}

.margin-vertical-xxs {
  margin-top: var(--space-xxs);
  margin-bottom: var(--space-xxs);
}

.margin-top-xxs {
  margin-top: var(--space-xxs);
}

.margin-bottom-xxs {
  margin-bottom: var(--space-xxs);
}

.margin-left-xxs {
  margin-left: var(--space-xxs);
}

.margin-right-xxs {
  margin-right: var(--space-xxs);
}
