.min-height-25vh {
  min-height: 25vh;
}

.min-height-33vh {
  min-height: 33vh;
}

.min-height-50vh {
  min-height: 50vh;
}

.min-height-66vh {
  min-height: 66vh;
}

.min-height-75vh {
  min-height: 75vh;
}

.min-height-80vh {
  min-height: 80vh;
}

.min-height-90vh {
  min-height: 90vh;
}

.min-height-100vh {
  min-height: 100vh;
}
