.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.position-top-left {
  top: 0;
  left: 0;
}

.position-top-right {
  top: 0;
  right: 0;
}

.position-bottom-left {
  bottom: 0;
  left: 0;
}

.position-bottom-right {
  bottom: 0;
  right: 0;
}
