.position-top-left {
  position: absolute;
  top: 0;
  left: 0;
}

.position-top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.position-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}

.position-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
