.fixed,
.position-fixed {
  position: fixed;
}

.relative,
.position-relative {
  position: relative;
}

.absolute,
.position-absolute {
  position: absolute;
}

.sticky,
.position-sticky {
  position: sticky;
}

.static,
.position-static {
  position: static;
}

.position-top {
  top: 0;
}

.position-top-left {
  top: 0;
  left: 0;
}

.position-top-right {
  top: 0;
  right: 0;
}

.position-right {
  right: 0;
}

.position-bottom {
  bottom: 0;
}

.position-bottom-left {
  bottom: 0;
  left: 0;
}

.position-bottom-right {
  bottom: 0;
  right: 0;
}

.position-left {
  left: 0;
}
