.text-transform-none {
  text-transform: none;
}

.text-transform-capitalize {
  text-transform: capitalize;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-lowercase {
  text-transform: lowercase;
}

.text-transform-full-width {
  text-transform: full-width;
}
