.clearfix {
  @apply --clearfix;
}

.cover {
  @apply --cover;
}

.center {
  @apply --center;
}

.circle {
  border-radius: 50%;
}

.full-height {
  height: 100%;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.pointer {
  cursor: pointer;
}

.no-border {
  border: none !important;
}
