.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.visible-print {
  display: none !important;

  @media print {
    display: block !important;
  }
}

.hidden-print {
  @media print {
    display: none !important;
  }
}

.visible-screen {
  display: none !important;

  @media screen {
    display: block !important;
  }
}

.hidden-screen {
  @media screen {
    display: none !important;
  }
}

.hide-visually {
  @apply --hide-visually;
}

.text-hide {
  @apply --text-hide;
}

.hidden-xs {
  @media (--xs) {
    display: none !important;
  }
}

.hidden-s {
  @media (--s) {
    display: none !important;
  }
}

.hidden-s-up {
  @media (--s-up) {
    display: none !important;
  }
}

.hidden-s-down {
  @media (--s-down) {
    display: none !important;
  }
}

.hidden-m {
  @media (--m) {
    display: none !important;
  }
}

.hidden-m-up {
  @media (--m-up) {
    display: none !important;
  }
}

.hidden-m-down {
  @media (--m-down) {
    display: none !important;
  }
}

.hidden-l {
  @media (--l) {
    display: none !important;
  }
}

.hidden-l-up {
  @media (--l-up) {
    display: none !important;
  }
}

.hidden-l-down {
  @media (--l-down) {
    display: none !important;
  }
}

.hidden-xl {
  @media (--xl) {
    display: none !important;
  }
}

.visible-xs {
  display: none !important;

  @media (--xs) {
    display: block !important;
  }
}

.visible-s {
  display: none !important;

  @media (--s) {
    display: block !important;
  }
}

.visible-s-up {
  display: none !important;

  @media (--s-up) {
    display: block !important;
  }
}

.visible-s-down {
  display: none !important;

  @media (--s-down) {
    display: block !important;
  }
}

.visible-m {
  display: none !important;

  @media (--m) {
    display: block !important;
  }
}

.visible-m-up {
  display: none !important;

  @media (--m-up) {
    display: block !important;
  }
}

.visible-m-down {
  display: none !important;

  @media (--m-down) {
    display: block !important;
  }
}

.visible-l {
  display: none !important;

  @media (--l) {
    display: block !important;
  }
}

.visible-l-up {
  display: none !important;

  @media (--l-up) {
    display: block !important;
  }
}

.visible-l-down {
  display: none !important;

  @media (--l-down) {
    display: block !important;
  }
}

.visible-xl {
  display: none !important;

  @media (--xl) {
    display: block !important;
  }
}
