/*
 * Arrows
 */

// Arrows
.arrow-boxes {
	margin: 0 auto;
	text-align: center;
	.clearfix();
}

.arrow-box {
	position: relative;
	display: inline-block;
	margin: 20px;
	.square(50px);
	background: @primary;
}

.arrow-top:before {
	.arrow-top(10px, @primary);
}

.arrow-top-left:before {
	.arrow-top-left(10px, @primary, 10px);
}

.arrow-top-right:before {
	.arrow-top-left(10px, @primary, 10px);
}

.arrow-bottom:before {
	.arrow-bottom(10px, @primary);
}

.arrow-bottom-left:before {
	.arrow-bottom-left(10px, @primary, 10px);
}

.arrow-bottom-right:before {
	.arrow-bottom-left(10px, @primary, 10px);
}

.arrow-left:before {
	.arrow-left(10px, @primary);
}

.arrow-right:before {
	.arrow-right(10px, @primary);
}