/*
 * Code Theme
 */

// Code Blocks
pre[class*="language-"] {
	position: relative;

	> code[data-language] {
		overflow: auto;
		display: block;

		&:before {
			content: attr(data-language);
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			padding: 2px 4px;
			font-size: 10px;
			color: @grey;
		}
	}
}

/*
 * Tokens
 */

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: darken(@light-grey, 20%);
}

.token.punctuation {
	color: @grey;
}

.namespace {
	
}

.token.variable {
	color: @secondary;
}

.token.atrule,
.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: @secondary;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: @success;
}

.token.attr-name,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: @grey;
}

.token.attr-value,
.token.keyword {
	color: @info;
}

.token.tag {
	color: @tertiary;
}

.token.function {
	color: @primary;
}

.token.regex,
.token.important {
	color: @error;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}