/*
 * Files
 */

// Files
ul.files {
	margin: @pre-margin;
	padding: @pre-padding;
	list-style: none;
	background: @pre-background;
	border: @pre-border;

	li {
		margin: 0;
		list-style: none;
		font-family: @monospace-font-family;
		font-weight: normal;
		.font-size(1.2);

		ul {
			margin: 0;

			li {
				margin: 0px 0px 0px 20px;

				&:before {
					margin-right: 10px;
					font-size: 14px;
					content: '└';
				}

				ul {

					li {

						&:before {
							content: '├';
						}

						&:last-child:before {
							content: '└';
						}
					}
				}
			}
		}
	}
}