/*
 * Footer
 */

// Footer
.footer {
	padding: 50px 0px;
	text-align: center;
	background: @grey;

	a {

		&:hover,
		&:focus {
			color: @white;
		}
	}

	p {
		margin-top: 0;
		color: @white;
	}

	nav ul li {
		color: @white;
	}
}