/*
 * Grid Item
 */

// Grid Item
.grid-item {
	padding: 15px;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 600;
	color: @grey;
	text-align: center;
	background: @light-grey;
	
	&.grid-item-nested {
		margin-bottom: 0;
		color: @white;
		background: @grey;
	}
}