/*
 * Header
 */

// Header
.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
	background: @primary;
}

.header-title {
	margin: 0;
	.logo-font();
	.font-size(1.6);
	color: @white;
	line-height: 50px;
}
