/*
 * Home
 */

// Home Header
.home-header {
	padding: 80px 0px;
	text-align: center;
	background: @primary;
	
	@media @medium-up {
		padding: 150px 0px;
	}
}

.home-header-title {
	margin: 30px 0px;
	.logo-font();
	.font-size(3.6);
	color: @white;
}

.home-header-lead {
	margin: 30px auto;
	max-width: 600px;
	.regular-font();
	color: @white;
}

// Home Button
.home-button {
	margin: 10px;
	min-width: 260px;
	color: @white;
	background: transparent;
	border: 1px solid @white;

	&:not(:disabled):hover,
	&:not(:disabled):focus {
		color: @primary;
		background: @white;
		border: 1px solid @white;
	}
}

// Home blocks
.home-blocks {
	padding: 100px 0px;

	@media @small-down {
		padding: 50px 0px;
	}

	.container {
		max-width: 860px;
	}

	h2 {
		margin: 20px 0px;
	}
	
	p {
		max-width: 360px;

		+ .button {

			@media @small-up {
				margin-top: 30px;
			}
		}
	}
}

// Home Section
.home-section {
	padding: 50px 0px;
	text-align: center;
	background: @secondary;

	.container {
		max-width: 600px;
	}

	.lead {
		.regular-font();
		color: @white;
	}

	.home-button {

		&:not(:disabled):hover,
		&:not(:disabled):focus {
			color: @secondary;
		}
	}
}