/*
 * Home
 */

// Home
.home-header {
	padding: 80px 0px;
	text-align: center;
	background: @primary;
	
	@media @medium-up {
		padding: 150px 0px;
	}
}

.home-header-icon {
	
}

.home-header-title {
	margin: 30px 0px;
	.logo-font();
	.font-size(3.6);
	color: @white;
}

.home-section {
	padding: 50px 0px;

	.container {
		max-width: 860px;
	}
}

.home-section-inner {
	
	p,
	.lead {
		margin-left: auto;
		margin-right: auto;
		max-width: 360px;
	}
}

.home-block {
	
	p {
		max-width: 360px;
	}
}

.home-block-title {
	margin: 30px 0px;
}

.home-button {
	margin: 10px;
	min-width: 260px;
	

	&.button-border {
		color: @white;
		border: 1px solid @white;

		&:hover,
		&:focus {
			color: @primary;
			background: @white;
			border: 1px solid @white;
		}
	}
}