/*
 * Navigation
 */

// Navigaiton Toggle
.navigation-toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	padding: 15px 13px;
	background: transparent;
	border: none;
	border-radius: 0;
	
	.bar {
		display: block;
		margin-bottom: 4px;
		width: 24px;
		height: 2px;
		background: @white;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&:hover,
	&:focus {
		background: transparent;
		border: none;
	}
}

// Navigation
.navigation {
	padding-bottom: 50px;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			margin: 0;
			padding: 0;

			&.active {

				ul {
					
				}
			}
			
			a {
				display: block;
				margin-left: 0;
				padding: 15px 20px;
				.medium-font();
				.font-size(1.6);
				color: @body-color;
				.transition(all @transition-fast ease-in-out);
				
				&.active {
					.medium-font();
					color: @primary;
				}

				&:hover,
				&:focus {
					color: @primary;
				}
			}
			
			ul {
				
				li {
				
					a {
						padding: 5px 30px 5px 35px;
						.regular-font();
						.font-size(1.4);

						&:hover,
						&:focus {
							color: @primary;
						}
					}
				}
			}
		}
	}
}
