/*
 * Section
 */

// Section
.section {
	padding-top: 30px;
	padding-bottom: 30px;

	@media @medium-up {
		padding: 60px 30px;
	}

	+ hr {
		margin: 0 auto;
	}
}

.section-header {
	background: @primary;

	h1,
	.lead {
		color: @white;
	}

	.lead {
		margin: 0;
		max-width: 800px;
		.regular-font();
	}
}

// Section Title
.section-title {
	margin-bottom: 35px;
	
	code {
		margin-left: 10px;
		color: @grey;
		vertical-align: baseline;
	}

	@media @xsmall {
		margin-bottom: 20px;

		code {
			display: block;
			margin-left: 0;
			margin-top: 15px;
		}
	}
}

.section-block-title {
	margin: 50px 0px 20px;
}