/*
 * Sidebar
 */

// Sidebar
.sidebar {
	position: fixed;
	float: left;
	width: 270px;
	height: 100%;
	background: @dark;
	.overflow-scroll();
	
	@media @small-down {
		.translateX(-270px);
		.transition-transform(@transition-fast ease-in-out);
		
		&.open {
			.translateX(0);
		}
	}
}

// Sidebar Title
.sidebar-title {
	margin: 0;
	padding: 20px;
	.logo-font();

	a {
		
	}
	
	code {
		margin-left: 5px;
		font-size: 9px;
		color: @light-grey;
		vertical-align: baseline;
		text-transform: none;
		letter-spacing: 0;
	}
}