@import '/turret/turret.less';
@import '/docs/styles/theme.less';

.logo-font() {
	font-family: @font-family-sans-serif;
	font-weight: 600;
	letter-spacing: 0.35rem;
	text-transform: uppercase;
}

.divider {
	margin: 50px auto;
	max-width: 100px;
}

.emoji {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

// General
code {
	font-family: monaco,Consolas, "Lucida Console", monospace;
	font-weight: normal;
	font-size: 12px;
	color: darken(@tertiary, 10%);
}

small {
	
	code {
		font-size: 10px !important;
	}
}

svg {

	rect {
		fill: @primary;
	}
}

// Color
.color {
	text-align: center;
	
	small {
		.font-size(1);
	}
}

.text-color {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

// Swatch
.swatches {
	margin-left: -5px;
	margin-right: -5px;
	.clearfix();	
}

.swatch {
	position: relative;
	display: inline-block;
	margin: 5px;
	height: 120px;
	width: 100px;
	
	small {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 20px;
		font-size: 10px;
		line-height: 20px;
		background: @white;
		text-align: center;
	}
}

// Grid Item
.grid-item {
	padding: 15px;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 600;
	color: @grey;
	text-align: center;
	background: @light-grey;
	
	&.grid-item-nested {
		margin-bottom: 0;
		color: @white;
		background: @grey;
	}
}

.sidebar,
.content {
	float: left;
	min-height: 100%;
	.overflow-scroll();
}

// Sidebar
.sidebar {
	position: fixed;
	width: 270px;
	height: 100%;
	background: @white;
	border-right: 1px solid @light;
	.overflow-scroll();
	
	@media @small-down {
		.translateX(-270px);
		.transition-transform(@transition-fast ease-in-out);
		
		&.open {
			.translateX(0);
		}
	}
}

// Sidebar Title
.sidebar-title {
	margin: 0;
	padding: 20px;
	.logo-font();

	a {
		color: @dark;
	}
	
	code {
		margin-left: 5px;
		font-size: 9px;
		color: @grey;
		vertical-align: baseline;
		text-transform: none;
		letter-spacing: 0;
	}
}

// Content
.content {
	width: 100%;
	background: @white;

	@media @medium-up {
		margin-left: 270px;
		width: ~"calc(100% - 270px)";
	}
	
	@media @small-down {
		padding-top: 50px;
		.transition-transform(@transition-fast ease-in-out);
		
		&.open {
			.translateX(270px);
		}
	}
}

// Header
.header {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	text-align: center;
	background: @primary;
}

.header-title {
	margin: 0;
	.logo-font();
	.font-size(1.6);
	color: @white;
	line-height: 50px;
}

// Navigaiton Toggle
.navigation-toggle {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	padding: 15px 13px;
	background: transparent;
	border: none;
	border-radius: 0;
	
	.bar {
		display: block;
		margin-bottom: 4px;
		width: 24px;
		height: 2px;
		background: @white;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&:hover,
	&:focus {
		background: transparent;
		border: none;
	}
}

// Navigation
.navigation {
	padding-bottom: 50px;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			margin: 0;
			padding: 0;

			&.active {

				ul {
					
				}
			}
			
			a {
				display: block;
				margin-left: 0;
				padding: 15px 20px;
				.medium-font();
				.font-size(1.4);
				color: @dark;
				.transition(all @transition-fast ease-in-out);
				
				&.active {
					.medium-font();
					color: @primary;
				}

				&:hover,
				&:focus {
					color: @primary;
				}
			}
			
			ul {
				
				li {
				
					a {
						padding: 5px 30px 5px 35px;
						.regular-font();

						&:hover,
						&:focus {
							color: @primary;
						}
					}
				}
			}
		}
	}
}

// Hero
.home-header {
	padding: 80px 0px;
	text-align: center;
	background: @primary;
	
	@media @medium-up {
		padding: 150px 0px;
	}
	
	.button-border {
		margin: 10px;
		min-width: 200px;
		color: @white;
		border: 1px solid @white;
		
		&:hover,
		&:focus {
			color: @primary;
			background: @white;
			border: 1px solid @white;
		}
	}
}

.home-header-icon {
	
}

.home-header-title {
	margin: 30px 0px;
	.logo-font();
	.font-size(3.6);
	color: @white;
}

.home-section {
	padding-top: 65px;
}


// Section
.section {
	padding: 30px 15px;

	@media @medium-up {
		padding: 60px 50px;
	}

	+ hr {
		margin: 0 auto;
	}
}

.section-header {
	background: @primary;

	h1,
	.lead {
		color: @white;
	}

	.lead {
		margin: 0;
		.regular-font();
		color: @dark;

		@media @medium-up {
			max-width: 50%;
		}
	}
}

// Section Title
.section-title {
	margin-bottom: 35px;
	
	code {
		margin-left: 10px;
		color: @grey;
		vertical-align: baseline;
	}

	@media @xsmall {
		margin-bottom: 20px;

		code {
			display: block;
			margin-left: 0;
			margin-top: 15px;
		}
	}
}

.section-block-title {
	margin: 50px 0px 20px;
}

// Tables
.is-clear,
.is-float {
	text-transform: capitalize;
}

.is-null,
.is-hidden,
.is-float,
.is-unsupported {
	color: darken(@light, 15%);
	background: lighten(@light, 5%);
}


/**
 * prism.js default theme for JavaScript, CSS and HTML
 * @author Scott de Jonge
 */

code[class*="language-"],
pre[class*="language-"] {
	direction: ltr;
	font-family: monaco,Consolas, "Lucida Console", monospace;
	font-weight: normal;
	font-size: 12px;
	color: @body-color;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

// Code Blocks
pre[class*="language-"] {
	margin-top: 20px;
	padding: 10px;
	overflow: auto;
	background: @white;
	border: 1px solid @light;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: darken(@light-grey, 20%);
}

.token.punctuation {
	color: @grey;
}

.namespace {
	
}

.token.variable,
.token.atrule,
.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: darken(@secondary, 5%);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: darken(@light-grey, 20%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: @grey;
}

.token.attr-value,
.token.keyword {
	color: darken(@primary, 10%);
}

.token.tag,
.token.function {
	color: darken(@tertiary, 10%);
}

.token.regex,
.token.important {
	color: @error;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[class*='language-'] {
	position: relative;
}

pre[class*='language-'] > code[data-language] {
	overflow: auto;
	display: block;
}

pre[class*='language-'] > code[data-language]:before {
	content: attr(data-language);
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 4px;
	font-size: 10px;
	color: @grey;
}