// Turret
@import '/turret/turret.less';

// Theme
@import './theme.less';

// Styles
@import './header.less';
@import './sidebar.less';
@import './navigation.less';
@import './content.less';
@import './section.less';
@import './code.less';
@import './swatch.less';
@import './grid-item.less';
@import './home.less';

.logo-font() {
	font-family: @sans-serif-font-family;
	font-weight: 600;
	letter-spacing: 0.35rem;
	text-transform: uppercase;
}

.divider {
	margin: 50px auto;
	max-width: 100px;

	@media @small-down {
		margin: 30px auto;
	}
}

.emoji {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

// General
small {
	
	code {
		font-size: 10px !important;
	}
}

// Color
.color {
	text-align: center;
	
	small {
		.font-size(1);
	}
}

.text-color {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

// Tables
.is-clear,
.is-float {
	text-transform: capitalize;
}

.is-null,
.is-hidden,
.is-float,
.is-unsupported {
	color: darken(@light, 15%);
	background: lighten(@light, 5%);
}