@import '/turret/turret.less';

.divider {
	margin: 50px auto;
	max-width: 100px;
}

.emoji {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

//General
code {
	font-family: monaco,Consolas, "Lucida Console", monospace;
	font-weight: bold;
	font-size: 12px;
	color: @primary;
}

small {
	
	code {
		font-size: 10px !important;
	}
}

svg {
	rect {
		fill: @primary;
	}
}

//Color
.color {
	text-align: center;
	
	small {
		.font-size(1);
	}
}

.text-color {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

//Swatch
.swatches {
	margin-left: -5px;
	margin-right: -5px;
	.clearfix();	
}

.swatch {
	position: relative;
	display: inline-block;
	margin: 5px;
	height: 120px;
	width: 100px;
	
	small {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 20px;
		font-size: 10px;
		line-height: 20px;
		background: @white;
		text-align: center;
	}
}

//Grid Item
.grid-item {
	padding: 15px;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 600;
	color: @white;
	text-align: center;
	background: @primary;
	
	&.grid-item-nested {
		margin-bottom: 0;
		background: @tertiary;
	}
}

//Content
#sidebar,
#content {
	float: left;
	min-height: 100%;
	.overflow-scroll();
}

#sidebar {
	position: fixed;
	width: 270px;
	height: 100%;
	color: @white;
	background: @dark;
	.overflow-scroll();
	
	@media @mobile {
		.translateX(-270px);
		.transition-transform(@transition-fast ease-in-out);
		
		&.open {
			.translateX(0);
		}
	}
}

#content {
	width: 100%;
	background: @white;

	@media @large {
		margin-left: 270px;
		max-width: 1024px;
	}
	
	@media @mobile {
		padding: 0px 15px;
		.transition-transform(@transition-fast ease-in-out);
		
		&.open {
			.translateX(270px);
		}
	}
}

//Navigaiton Toggle
.navigation-toggle {
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	padding: 15px 13px;
	background: @dark;
	border: none;
	border-radius: 0;
	
	.icon-bar {
		display: block;
		margin-bottom: 4px;
		width: 24px;
		height: 2px;
		background: @white;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&:hover,
	&:focus {
		background: @dark;
		border: none;
	}
}

//Navigation
.navigation {
	padding: 20px 0px;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			margin: 0;
			padding: 0;
			
			a {
				display: block;
				margin-left: 0;
				padding: 15px 20px;
				.regular-font();
				.font-size(1.6);
				color: @white;
				.transition(all @transition-fast ease-in-out);
				
				&:hover,
				&:focus {
					color: @white;
					margin-left: 2px;
				}
			}
			
			ul {
				margin-left: 20px;
				border-left: 1px solid @grey;
				
				li {
				
					a {
						padding: 6px 12px;
						.font-size(1.3);

						&:hover,
						&:focus {
							color: @primary;
						}
					}
				}
			}
		}
	}
}

//Hero
.home-header {
	padding: 80px 0px;
	text-align: center;
	background: @dark;
	
	@media @large {
		padding: 150px 0px;
	}
	
	.button-border {
		color: @white;
		border: 1px solid @white;
		
		&:hover,
		&:focus {
			color: @dark;
			background: @white;
			border: 1px solid @white;
		}
	}
}

.home-header-icon {
	
}

.home-header-title {
	margin: 30px 0px;
	.bold-font();
	.font-size(3.6);
	color: @white;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.home-section {
	padding-top: 65px;
}


//Section
.section {
	margin: 35px 0px;

	@media @large {
		padding: 30px 50px;
	}
	
	h2 {
		margin-bottom: 35px;
		line-height: 2;
		color: @dark;
		border-bottom: 1px solid @light-grey;
		
		code {
			margin-left: 15px;
			padding: 0;
			background: none !important;
			border: none;
			vertical-align: baseline;
		}
	}
	
	h3 {
		margin: 50px 0px 30px;
		font-weight: 500;
	}
}

//Tables
.is-clear,
.is-float {
	text-transform: capitalize;
}

.is-hidden,
.is-float,
.is-unsupported {
	color: darken(@light, 30%) !important;
	background: @light;
}

.is-hidden,
.is-unsupported {
	
}

.is-visible,
.is-supported {
	
}