/*
 * Swatch
 */

// Swatches
.swatches {
	margin-left: -5px;
	margin-right: -5px;
	.clearfix();
}

// Swatch
.swatch {
	position: relative;
	display: inline-block;
	margin: 5px;
	height: 120px;
	width: 100px;
	
	small {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 20px;
		font-size: 10px;
		line-height: 20px;
		background: @white;
		text-align: center;
	}
}