// Imports
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);



//Shades
@white: #FFFFFF;
@black: #000000;
@light-grey: #CCD1D9;
@grey: #656D78;
@dark-grey: #434A54;

//Indicators
@info: #3BAFDA;
@error: #DA4453;
@warning: #F6BB42;
@success: #2ECC71;

//Palette
@light: #E3E7EC;
@dark: @dark-grey;
@primary: #4BB3D6;
@secondary: #967ADC;
@tertiary: #D770AD;

//Utility
@inverse: @dark;



// Generic Font Families
@thin-font-family: 'Source Sans Pro', @font-family-sans-serif;
@regular-font-family: 'Source Sans Pro', @font-family-sans-serif;
@medium-font-family: 'Source Sans Pro', @font-family-sans-serif;
@semibold-font-family: 'Source Sans Pro', @font-family-sans-serif;
@bold-font-family: 'Source Sans Pro', @font-family-sans-serif;

// Generic Font Weights
@thin-font-weight: 300;
@regular-font-weight: 400;
@medium-font-weight: 600;
@semibold-font-weight: 700;
@bold-font-weight: 900;

// Font Sizes
@font-size-extra-large: 2;
@font-size-large: 1.8;
@font-size-medium: 1.5;
@font-size-small: 1.3;

// Line height
@line-height-extra-large: 2;
@line-height-large: 1.8;
@line-height-medium: 1.5;
@line-height-small: 1.2;

// Headings
@headings-font-family: @regular-font-family;
@headings-font-weight: @regular-font-weight;

// Strong
@strong-font-family: @medium-font-family;
@strong-font-weight: @medium-font-weight;

// Definition Term
@definition-term-font-family: @medium-font-family;
@definition-term-font-weight: @medium-font-weight;

// Button
@button-font-family: @medium-font-family;
@button-font-weight: @medium-font-weight;

// Label
@label-font-family: @medium-font-family;
@label-font-weight: @medium-font-weight;

// Table Head
@table-head-font-family: @medium-font-family;
@table-head-font-weight: @medium-font-weight;

// Horizontal Rule
@hr-margin: 50px auto;
@hr-background: @light;

// Table Border
@table-border: 1px solid @light-grey;
@table-border-width: 1px;

// Table Block
@table-block-head-background: lighten(@light, 5%);