//Figure
@figure-margin: 0;
@figure-padding: @gutter;
@figure-border: 1px solid @light-grey;

//Figure Caption
@figure-caption-margin: 10px 0px;
@figure-caption-font-family: @paragraph-font-family;
@figure-caption-font-weight: @paragraph-font-weight;
@figure-caption-font-size: @paragraph-font-size;
@figure-caption-color: @body-color;
@figure-caption-text-align: center;