/**
 * Only display content to Screen Readers
 * See: http://a11yproject.com/posts/how-to-hide-content/
 */

.screen-reader {
  position: absolute;
  padding: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/**
 * Use in conjunction with .screen-reader to only display content when it's focused.
 * Useful for "Skip to main content" links; see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate
 */

.screen-reader-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
