/* Definitions */


//Layout
@small_container_width: 100%;
@medium_container_width: 768px;
@medium_landscape_container_width: 1024px;
@large_container_width: 1024px;
@extra_large_container_width: 1280px;
@gutter: 10px;
@grid_columns: 12;
@column_1: 100%;
@column_1_2: 50%;
@column_1_3: 33.33%;
@column_1_4: 25%;
@column_1_5: 20%;
@column_1_6: 16.6666666667%;
@column_1_7: 14.2857142857%;
@column_1_8: 12.5%;
@column_1_9: 11.1111111111%;
@column_1_10: 10%;
@column_1_11: 9.09090909091%;
@column_1_12: 8.33%;

//Responsive Breakpoints
@screen_small: 480px;
@screen_small_min: @screen_small;
@screen_medium: 768px;
@screen_medium_min: @screen_medium;
@screen_large: 1024px;
@screen_large_min: @screen_large;
@screen_extra_large: 1280px;
@screen_extra_large_min: @screen_extra_large;

// So media queries don't overlap when required, provide a maximum
@screen_small_max: (@screen_medium_min - 1);
@screen_medium_max: (@screen_large_min - 1);
@screen_large_max: (@screen_extra_large_min - 1);


//Media Queries
@small: ~"(max-width: 767px)";
@medium: ~"(max-width: 1024px)";
@only_medium: ~"(min-width: 768px) and (max-width: 1024px) and (orientation: portrait)";
@medium_landscape: ~"(min-width: 768px) and (max-width: 1024px) and (orientation: landscape)";
@large: ~"(min-width: 1025px)";
@only_large: ~"(min-width: 1025px) and (max-width: 1279px)";
@extra_large: ~"(min-width: 1280px)";

@retina: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";


//Z-Index Declarations
@navbar_z_index: 1000;
@navbar_dropdown_z_index: 1001;
@navbar_nav_toggle_z_index: 1002;
@navbar_fixed_z_index: 1000;
@dropdown_z_index: 100;
@tooltip_z_index: 100;
@video_wrapper_z_index: 600;
@video_close_button_z_index: 601;
@scroller_nav_z_index: 800;
@slides_controls_z_index: 500;
@slides_navigation_z_index: 501;
@slides_pagination_z_index: 502;
@map_marker_label_z_index: 800;
@map_pagination_z_index: 801;
@lightbox_z_index: 9999;


//Typography
@font_family_sans_serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font_family_serif: Georgia, "Times New Roman", Times, serif;
@font_family_monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@light: 300;
@normal: 400;
@bold: 600;
@font_size: 12px;
@link_color: @primary;


//Headings
@headings_font_family: @font_family_sans_serif;
@headings_font_weight: 400;
@headings_line_height: 1.5;
@headings_color: @black;
@headings_small_size: 0.6em;
@headings_small_color: @grey;

@font_size_h1: 36px;
@font_size_h1_medium: 22px;
@font_size_h1_small: 18px;
@font_size_h2: 24px;
@font_size_h2_medium: 16px;
@font_size_h2_small: 14px;
@font_size_h3: 20px;
@font_size_h3_medium: 14px;
@font_size_h3_small: 13px;
@font_size_h4: 16px;
@font_size_h4_medium: 12px;
@font_size_h4_small: 11px;
@font_size_h5: 14px;
@font_size_h5_medium: 11px;
@font_size_h5_small: 10px;
@font_size_h6: 12px;
@font_size_h6_medium: 10px;
@font_size_h6_small: 9px;
@font_size_p: 14px;
@font_size_p_medium: 12px;
@font_size_p_small: 12px;
@font_size_lead: 24px;
@font_size_lead_medium: 20px;
@font_size_lead_small: 16px;
@font_size_large: 14px;
@font_size_medium: 12px;
@font_size_small: 10px;

@line_height: 1.6;


//Transitions
@transition_fast: 0.2s;
@transition_medium: 0.3s;
@transition_slow: 0.5s;


//Colours
@white: #FFFFFF;
@light_grey: #ECECED;
@mid_grey: #6B7681;
@grey: #485364;
@dark_grey: #1B2A3C;
@black: #000000;

/*
@light_blue: #199DD4;
@primary: #0F6BBB;
@blue: #094B9C;
@mid_dark_blue: #032F5D;
@dark_blue: #011327;

@light_tan: #D8D7D0;
@mid_tan: #C5C4BE;
*/

//Indicators
@error: #F05A5C;
@warning: #F4DB05;
@success: #BADC52;

//Palette
@light: @light_grey;
@dark: @dark_grey;
@primary: #FF444E;
@secondary: #E3EE21;

//Images
@images_padding: 5px;
@images_border_radius: 4px;
@images_border: 1px solid @light_grey;


//Image overlay
@image_overlay_h1_size: 72px;
@image_overlay_h2_size: 36px;
@image_overlay_h3_size: 28px;
@image_overlay_p_size: 18px;


//Buttons
@buttons_small_padding:  6px 8px;
@buttons_small_font_size: 10px;
@buttons_padding: 12px 16px;
@buttons_font_size: 13px;
@buttons_large_padding: 15px 20px;
@buttons_large_font_size: 16px;
@buttons_border_radius: 0;
@button_play_size: 100px;
@button_play_icon_size: 40px;
@buttons_action_icon: @icon_angle_right;
@buttons_close_icon: @icon_close;


//Tags
@tags_margin: 0px 4px 0px 0px;
@tags_padding: 12px 16px;
@tags_font_size: 14px;
@tags_color: @white;
@tags_background: @primary;
@tags_border_radius: 0;
@tags_hover_color: @white;
@tags_hover_background: @dark;
@tags_active_color: @white;
@tags_active_background: @dark;


//Breadcrumbs
@breadcrumbs_padding: 10px 0px;
@breadcrumbs_font_size: 13px;
@breadcrumbs_color: @primary;
@breadcrumbs_hover_color: @secondary;
@breadcrumbs_divider_size: 8px;
@breadcrumbs_divider_color: @dark;


//Side Nav
@sidenav_padding: 0px 20px;
@sidenav_border_bottom: 1px solid @light_grey;
@sidenav_font_size: 15px;
@sidenav_color: @grey;
@sidenav_height: 54px;
@sidenav_divider_size: 8px;
@sidenav_divider_color: @primary;
@sidenav_hover_divider_color: @secondary;


//Forms
@label_margin: 10px 0px;
@label_font_size: 14px;
@label_color: @grey;
@input_height: 40px;
@input_padding: 12px 16px;
@input_colour: @dark;
@input_font_size: 12px;
@input_background: @white;
@input_border: 1px solid @light_grey;
@input_border_radius: 0;
@input_error_color: @error;
@input_warning_color: @warning;
@input_success_color: @success;
@input_checkbox_size: 20px;
@input_checkbox_check_size: 12px;
@input_checkbox_border_width: 4px;
@input_checkbox_border: solid @white;
@input_checkbox_border_radius: 50%;
@input_disabled_background: #DDDDDD;
@input_disabled_border: 1px solid #AAAAAA;
@input_disabled_color: #AAAAAA;
@input_placeholder_color: @grey;
@input_placeholder_font_size: 14px;
@input_placeholder_font_family: @font_family_sans_serif;
@input_placeholder_letter_spacing: 0px;
@input_placeholder_text_transform: none;


//Input Sizes
@label_small_font_size: 10px;
@input_small_height: 30px;
@input_small_padding: 10px;
@label_medium_font_size: @input_font_size;
@input_medium_height: @input_height;
@input_medium_padding: @input_padding;
@label_large_font_size: 16px;
@input_large_height: 50px;
@input_large_padding: 10px 20px;
@label_extra_large_font_size: 20px;
@input_extra_large_height: 65px;
@input_extra_large_padding: 10px 35px;


//Navbar
@navbar_background: @white;
@navbar_dark_background: @dark;
@navbar_min_height: 50px;
@navbar_mobile_height: 50px;
@navbar_padding: 0;
@navbar_font_size: 15px;
@navbar_top_border: 10px solid @dark_grey;
@navbar_bottom_border: 1px solid @light_grey;

//Logo
@logo_font_size: 80px;
@logo_margin: 15px 0px 0px 0px;
@logo_color: @primary;


//Nav
@nav_margin: 0;
@nav_main_margin: 0px 100px;
@nav_large_main_margin: 0px 30px;
@nav_padding: 5px 10px;
@nav_main_padding: 10px 20px;
@nav_font_style: normal;
@nav_text_transform: uppercase;
@nav_text_decoration: none;
@nav_font_size: 12px;
@nav_main_font_size: 14px;
@nav_icon_font_size: 8px;
@nav_icon_color: @primary;
@nav_color: @mid_grey;
@nav_dark_color: @white;

//Nav Hover
@nav_hover_color: @dark;
@nav_dark_hover_color: @primary;

//Nav Active
@nav_icon_active_color: @primary;
@nav_active_text_decoration: none;
@nav_active_color: @white;
@nav_active_background: @primary;
@nav_dark_active_color: @primary;


//Tables
@tables_cell_padding: 5px;
@tables_head_font_size: 13px;
@tables_body_font_size: 13px;
@tables_body_line_height: 1.5;
@tables_border: 1px solid @light_grey;


//Slides
@slides_navigation_size: 16px;
@slides_navigation_color: @white;
@slides_navigation_offset: 3px;
@slides_pagination_offset: 20px;
@slides_pagination_color: @white;
@slides_pagination_size: 15px;
@slides_pagination_border_radius: 50%;


//Tools
@tools_margin_right: 8px;
@tools_font_size: 12px;
@tools_icon_size: 24px;
@tools_color: @primary;


//Page Header
@page_header_padding: 0;
@page_header_color: @white;
@page_header_background: @primary;
@page_header_content_background: transparent;
@page_header_content_top: 50px;
@page_header_content_bottom: auto;
@page_header_font_size: 68px;
@page_header_text_align: center;
@page_header_text_transform: none;


//Tooltips
@tooltip_min_width: 150px;
@tooltip_max_width: 250px;
@tooltip_color: @white;
@tooltip_background: @primary;
@tooltip_arrow_width: 5px;
@tooltip_arrow_color: @tooltip_background;


//Scroll Top
@scroll_top_margin: 10px;
@scroll_top_padding: 20px;
@scroll_top_medium_padding: 20px 25px;
@scroll_top_small_padding: 15px 20px;
@scroll_top_font_size: 12px;
@scroll_top_font_weight: 600;
@scroll_top_color: @grey;
@scroll_top_tooltip_size: 10px;
@scroll_top_width: 100px;
@scroll_top_medium_width: 80px;
@scroll_top_small_width: 60px;


//Lightbox
@lightbox_width: 1024px;
@lightbox_height: 576px;


//Icons
@icon_font_family: icons;
@icon_volume_mute: "\e602";
@icon_volume_med: "\e603";
@icon_volume_low: "\e604";
@icon_volume_high: "\e605";
@icon_twitter: "\e606";
@icon_subtitles: "\e609";
@icon_search: "\e60b";
@icon_refresh: "\e60d";
@icon_question: "\e60e";
@icon_print: "\e60f";
@icon_play: "\e610";
@icon_play_alt: "\e611";
@icon_pinterest: "\e612";
@icon_people: "\e613";
@icon_pause: "\e614";
@icon_marker: "\e615";
@icon_map: "\e616";
@icon_lock: "\e617";
@icon_loading: "\e618";
@icon_innovation: "\e61a";
@icon_fullscreen: "\e61b";
@icon_fullscreen_close: "\e61c";
@icon_environment: "\e61e";
@icon_community: "\e61f";
@icon_close: "\e620";
@icon_clock: "\e621";
@icon_circle: "\e622";
@icon_circle_full: "\e623";
@icon_captions: "\e624";
@icon_angle_down: "\e625";
@icon_angle_left: "\e626";
@icon_angle_right: "\e627";
@icon_angle_up: "\e628";
@icon_bookmark_alt: "\e629";
@icon_bookmark: "\e62a";
@icon_calendar: "\e62b";
@icon_linkedin: "\e600";
@icon_facebook: "\e601";
@icon_instagram: "\e60a";
@icon_share: "\e619";
@icon_youtube_alt: "\e61d";
@icon_youtube: "\e62c";
@icon_minus: "\e632";
@icon_plus: "\e633";
@icon_grid: "\e634";
@icon_list: "\e635";
@icon_google_plus: "\e62f";
@icon_email: "\e630";
@icon_tick: "\e631";


//Social
@facebook_color: #3B5998;
@instagram_color: #517FA4;
@twitter_color: #00ACED;
@vimeo_color: #AAD450;
@youtube_color: #BB0000;


//Footer
@footer_color: @white;
@footer_background: @grey;
@footer_logo_size: 100px;
@footer_padding_top: 20px;
@footer_padding_bottom: 20px;
@footer_font_size: 12px;
@footer_social_font_size: 14px;
@footer_social_margin: 1em 0;
@footer_social_icon_margin: 0px 5px;
@footer_hr_color: @dark;
@footer_ul_color: @white;
@footer_ul_padding: 40px 0px 0px;