/*--------------------------------------------------------------------------*/
/*                               GENERAL                                    */
/*--------------------------------------------------------------------------*/


//Body
@body-color: @dark;

//Mobile Breakpoint
@mobile: @medium;

//Border Radius
@border-radius: 6px;

//Horizontal Rule
@hr-margin: 65px auto;
@hr-height: 1px;
@hr-background: fade(@primary, 35%);

//Z-Index Declarations
@navigation-z-index: 100;
@navigation-fixed-z-index: 100;
@video-wrapper-z-index: 1900;

//Transitions
@transition-fast: 0.2s;
@transition-medium: 0.3s;
@transition-slow: 0.5s;

//Animations
@animation-fast: 0.5s;
@animation-medium: 1s;
@animation-slow: 2s;


/*--------------------------------------------------------------------------*/
/*                                COLORS                                    */
/*--------------------------------------------------------------------------*/


//Shades
@white: #FFFFFF;
@black: #000000;
@light-grey: #EDF1F2;
@grey: #6B7681;
@dark-grey: #485364;

//Indicators
@info: #3BC0C3;
@error: #F05A5C;
@warning: #F4DB05;
@success: #5CB85C;

//Social
@facebook: #3B5998;
@instagram: #517FA4;
@twitter: #00ACED;
@vimeo: #AAD450;
@youtube: #BB0000;

//Palette
@light: @light-grey;
@dark: @dark-grey;
@primary: #4BB3D6;
@secondary: #3BC0C3;
@tertiary: @grey;


/*--------------------------------------------------------------------------*/
/*                                 GRID                                     */
/*--------------------------------------------------------------------------*/


//Layout
@small-container-width: 100%;
@medium-container-width: 768px;
@medium-landscape-container-width: @large-container-width;
@large-container-width: 1024px;
@extra-large-container-width: 1280px;

//Gutters
@gutter: 10px;
@gutter-top: (@gutter * 2);
@gutter-bottom:  (@gutter * 2);
@gutter-left: (@gutter * 4);
@gutter-right: (@gutter * 5);

//Grid Columns
@grid-columns: 12;
@column-1: 100%;
@column-1-2: 50%;
@column-1-3: 33.33%;
@column-1-4: 25%;
@column-1-5: 20%;
@column-1-6: 16.6666666667%;
@column-1-7: 14.2857142857%;
@column-1-8: 12.5%;
@column-1-9: 11.1111111111%;
@column-1-10: 10%;
@column-1-11: 9.09090909091%;
@column-1-12: 8.33%;

//Screen Sizes
@screen-small: 480px;
@screen-small-min: @screen-small;
@screen-small-max: (@screen-medium-min - 1);
@screen-medium: 768px;
@screen-medium-min: @screen-medium;
@screen-medium-max: (@screen-large-min - 1);
@screen-medium-landscape: 1024px;
@screen-large: 1025px;
@screen-large-min: @screen-large;
@screen-large-max: (@screen-extra-large-min - 1);
@screen-extra-large: 1280px;
@screen-extra-large-min: @screen-extra-large;


/*--------------------------------------------------------------------------*/
/*                             MEDIA QUERIES                                */
/*--------------------------------------------------------------------------*/


//Orientation
@portrait: ~"(orientation: portrait)";
@landscape: ~"(orientation: landscape)";

//Small
@small: ~"(max-width: @{screen-small-max})";
@small-up: ~"(only screen)";

//Medium
@medium: ~"(max-width:  @{screen-medium-max})";
@medium-up: ~"(min-width: @{screen-medium})";
@medium-only: ~"(min-width: @{screen-medium}) and (max-width: @{screen-medium-max})";
@medium-portrait: ~"(max-width:  @{screen-medium-max}) and (orientation: portrait)";
@medium-landscape: ~"(min-width: @{screen-medium}) and (max-width: @{screen-medium-max}) and (orientation: landscape)";

//Large
@large: ~"(min-width: @{screen-large})";
@large-only: ~"(min-width: @{screen-large-min}) and (max-width: @{screen-large-max})";

//Extra Large
@extra-large: ~"(min-width: @{screen-extra-large})";

//Retina
@retina: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";

//IE Media Queries
@ie6-7: screen\9;
@ie8: \0screen;
@oldIE: ~"@{ie8}\,@{ie6-7}";
@ie9-10: ~"screen and (min-width:0\0)";


/*--------------------------------------------------------------------------*/
/*                             TYPOGRAPHY                                   */
/*--------------------------------------------------------------------------*/


//Base Font Size
@base-font-size: 10px;
@base-medium-font-size: 9px;
@base-small-font-size: 8px;

//Fonts
@font-path: '../fonts';
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

//Font Families
@headings-font-family: @bold-font-family;
@lead-font-family: @regular-font-family;
@copy-font-family: @regular-font-family;

//Generic Font Families
@thin-font-family: @font-family-sans-serif;
@regular-font-family: @font-family-sans-serif;
@medium-font-family: @font-family-sans-serif;
@semibold-font-family: @font-family-sans-serif;
@bold-font-family: @font-family-sans-serif;

//Font Weights
@headings-font-weight: normal;
@lead-font-weight: normal;
@copy-font-weight: normal;

//Generic Font Weights
@thin-font-weight: normal;
@regular-font-weight: normal;
@medium-font-weight: normal;
@semibold-font-weight: normal;
@bold-font-weight: normal;

//Headings
@headings: h1, h2, h3, h4, h5, h6;
@headings-margin: 0px 0px 20px 0px;
@headings-small-size: 0.6em;
@headings-small-color: @light;

//Heading Font Sizes
@h1-font-size: 5;
@h2-font-size: 2.4;
@h3-font-size: 1.3;
@h4-font-size: 1.4;
@h5-font-size: 1.3;
@h6-font-size: 1.2;

//Mobile Heading Font Sizes
@h1-mobile-font-size: 3.6;
@h2-mobile-font-size: 2.8;
@h3-mobile-font-size: 1.6;
@h4-mobile-font-size: 1.4;
@h5-mobile-font-size: 1.3;
@h6-mobile-font-size: 1.2;

//Font Sizes
@lead-font-size: 2.3;
@lead-mobile-font-size: 1.8;
@paragraph-font-size: 1.5;
@paragraph-mobile-font-size: 1.7;

//Generic Font Sizes
@font-size-large: 1.4;
@font-size-medium: 1.2;
@font-size-small: 1;

//Colors
@headings-color: @dark;
@copy-color: @grey;
@paragraph-color: @grey;
@lead-color: @grey;

//Links
@link-color: @primary;
@link-hover-color: @dark;

//Line height
@line-height: 1.5;
@headings-line-height: 1.1;
@copy-line-height: @line-height;

//Strong
@strong-font-family: @bold-font-family;
@strong-font-weight: normal;


/*--------------------------------------------------------------------------*/
/*                                 ICONS                                    */
/*--------------------------------------------------------------------------*/


//Icon Font
@icon-font-family: 'turret';
@icon-font-path: @font-path;
@icon-li-width: (30em / 14);

//Icons
@icon-angle-down-double: "\e600";
@icon-angle-down: "\e601";
@icon-angle-left-double: "\e602";
@icon-angle-left: "\e603";
@icon-angle-right-double: "\e604";
@icon-angle-right: "\e605";
@icon-angle-small-down: "\e606";
@icon-angle-small-left: "\e607";
@icon-angle-small-right: "\e608";
@icon-angle-small-rounded-down: "\e609";
@icon-angle-small-rounded-left: "\e60a";
@icon-angle-small-rounded-right: "\e60b";
@icon-angle-small-rounded-up: "\e60c";
@icon-angle-small-up: "\e60d";
@icon-angle-thin-down: "\e60e";
@icon-angle-thin-left: "\e60f";
@icon-angle-thin-right: "\e610";
@icon-angle-thin-up: "\e611";
@icon-angle-up-double: "\e612";
@icon-angle-up: "\e613";
@icon-arrows-close: "\e614";
@icon-arrows-expand: "\e615";
@icon-arrows-move: "\e616";
@icon-arrows-resize: "\e617";
@icon-chat-box-working: "\e618";
@icon-chat-box: "\e619";
@icon-chat-bubble-working: "\e61a";
@icon-chat-bubble: "\e61b";
@icon-circle-line: "\e61c";
@icon-circle: "\e61d";
@icon-close-rounded: "\e61e";
@icon-close-thin: "\e61f";
@icon-close: "\e620";
@icon-diamond-line: "\e621";
@icon-diamond: "\e622";
@icon-document-line: "\e623";
@icon-document: "\e624";
@icon-email-line-large: "\e625";
@icon-email-line: "\e626";
@icon-email: "\e627";
@icon-facebook-alt: "\e628";
@icon-facebook: "\e629";
@icon-google-plus-alt: "\e62a";
@icon-google-plus: "\e62b";
@icon-grid-alt: "\e62c";
@icon-grid: "\e62d";
@icon-hexagon-line: "\e62e";
@icon-hexagon-thin-line: "\e62f";
@icon-hexagon: "\e630";
@icon-instagram: "\e631";
@icon-linkedin-alt: "\e632";
@icon-linkedin: "\e633";
@icon-list-alt: "\e634";
@icon-list: "\e635";
@icon-marker: "\e636";
@icon-minus-small: "\e637";
@icon-minus: "\e638";
@icon-pause: "\e639";
@icon-pinterest-alt: "\e63a";
@icon-pinterest: "\e63b";
@icon-play: "\e63c";
@icon-plus-small: "\e63d";
@icon-plus: "\e63e";
@icon-print-large: "\e63f";
@icon-print: "\e640";
@icon-profile: "\e641";
@icon-rss: "\e642";
@icon-search-alt: "\e643";
@icon-search: "\e644";
@icon-sign: "\e645";
@icon-square: "\e646";
@icon-star-half: "\e647";
@icon-star-line: "\e648";
@icon-star: "\e649";
@icon-tick: "\e64a";
@icon-triangle-bottom-left: "\e64b";
@icon-triangle-bottom-right: "\e64c";
@icon-triangle-down: "\e64d";
@icon-triangle-left: "\e64e";
@icon-triangle-right: "\e64f";
@icon-triangle-top-left: "\e650";
@icon-triangle-top-right: "\e651";
@icon-triangle-up: "\e652";
@icon-twitter: "\e653";
@icon-yotube-icon-alt: "\e654";
@icon-youtube-alt: "\e655";
@icon-youtube-icon: "\e656";
@icon-youtube: "\e657";


/*--------------------------------------------------------------------------*/
/*                                FORMS                                     */
/*--------------------------------------------------------------------------*/


/*
 * Label
 */

//Label
@label-margin: 10px 0px;
@label-font-family: @medium-font-family;
@label-font-size: 1.2;
@label-color: @dark;

//Label Small
@label-small-font-size: 1;

//Label Medium
@label-medium-font-size: @input-font-size;

//Label Large
@label-large-font-size: 1.6;
@label-large-line-height: 30px;

//Label Extra Large
@label-extra-large-font-size: 1.8;
@label-extra-large-line-height: 45px;


/*
 * Input
 */

//Input
@input-height: 40px;
@input-margin: 0px 0px 20px 0px;
@input-padding: 8px 12px;
@input-color: @grey;
@input-font-family: @regular-font-family;
@input-font-size: 1.4;
@input-line-height: @line-height;
@input-background: @white;
@input-border: 1px solid @light;
@input-border-radius: @border-radius;
@input-search-border-radius: 20px;
@input-button-small-padding: 10px 15px;

//Input Small
@input-small-height: 30px;
@input-small-padding: 10px;

//Input Medium
@input-medium-height: @input-height;
@input-medium-padding: @input-padding;

//Input Large
@input-large-height: 50px;
@input-large-padding: 10px 20px;

//Input Extra Large
@input-extra-large-height: 65px;
@input-extra-large-padding: 10px 30px;

//Indicators
@input-error-color: @grey;
@input-error-message-margin: 10px 0px 0px;
@input-error-message-font-size: 1.3;
@input-error-message-color: @error;
@input-error-border-color: @error;
@input-warning-color: @warning;
@input-success-color: @success;

//Inverse
@input-inverse-color: @white;
@input-inverse-border: none;
@input-inverse-background: @tertiary;
@input-inverse-focus-color: @input-inverse-color;
@input-inverse-focus-border: @input-inverse-border;
@input-inverse-focus-background: @input-inverse-background;

//Focus
@input-focus-border: @input-border;
@input-focus-background: @input-background;

//Disabled
@input-disabled-background: #DDDDDD;
@input-disabled-border: 1px solid #AAAAAA;
@input-disabled-color: #AAAAAA;

//Fieldset
@fieldset-margin: 0;
@fieldset-padding: 20px;
@fieldset-border: 3px solid @grey;

//Placeholder
@input-placeholder-color: @input-color;
@input-placeholder-font-size: @input-font-size;
@input-placeholder-font-family: @input-font-family;
@input-placeholder-line-height: @input-line-height;
@input-placeholder-letter-spacing: 0px;
@input-placeholder-text-transform: none;


/*
 * Control
 */

@control-margin: @input-margin;
@control-padding: 0px 0px 0px 1.5em;
@control-color: @grey;

//Control Indicator
@control-indicator-size: 15px;
@control-indicator-color: @primary;
@control-indicator-background: @white;
@control-indicator-border: @input-border;
@control-indicator-icon-size: 1.5rem;

//Control Indicator Checked
@control-indicator-checked-color: @primary;
@control-indicator-checked-background: @white;

//Control Label
@control-label-margin: 0px 0px 0px 10px;
@control-label-font-family: @label-font-family;
@control-label-font-size: @label-font-size;
@control-label-color: @label-color;

//Border Radius
@checkbox-border-radius: none;
@radio-border-radius: 50%;

//Control Icons
@radio-icon: @icon-circle;
@checkbox-icon: @icon-square;


/*
 * Select
 */

@select-margin: @input-margin;
@select-padding: 12px 35px 12px 15px;
@select-height: @input-height;
@select-font-family: @input-font-family;
@select-font-size: @input-font-size;
@select-color: @dark;
@select-background: @white;
@select-border: @input-border;
@select-border-radius: @border-radius;

//Select Large
@select-large-padding: 12px 35px 12px 15px;
@select-large-font-size: @input-font-size;

//Select Inverse
@select-inverse-color: @input-inverse-color;
@select-inverse-border: @input-inverse-border;
@select-inverse-background: @input-inverse-background;
@select-inverse-icon-color: @white;

//Select Icon
@select-icon-color: @primary;
@select-icon-size: 12px;
@select-icon: @icon-angle-small-down;
@select-open-icon: @icon-angle-small-up;


/*--------------------------------------------------------------------------*/
/*                               ELEMENTS                                   */
/*--------------------------------------------------------------------------*/


/*
 * Blockquote
 */

@blockquote-margin: 35px 0px;

//Blockquote Quote
@blockquote-quote-margin: 0;
@blockquote-quote-font-family: @bold-font-family;
@blockquote-quote-font-size: 2.2;
@blockquote-quote-line-height: 1.3;
@blockquote-quote-color: @primary;

//Blockquote Cite
@blockquote-cite-margin: 20px 0px;
@blockquote-cite-font-family: @regular-font-family;
@blockquote-cite-font-size: 1.4;
@blockquote-cite-color: @blockquote-quote-color;
@blockquote-cite-text-transform: uppercase;


/*
 * Buttons
 */

@buttons-padding-vertical: 8px;
@buttons-padding-horizontal: 15px;
@buttons-height: 40px;
@buttons-font-family: @semibold-font-family;
@buttons-font-size: 1.4;
@buttons-color: @white;
@buttons-background: @light;
@buttons-text-align: center;
@buttons-text-transform: none;

//Button Hover
@buttons-hover-color: @white;
@buttons-hover-background: @primary;

//Button Sizes
@buttons-small-padding-vertical: 10px;
@buttons-small-padding-horizontal: 15px;
@buttons-small-height: 30px;
@buttons-small-font-size: 1;

@buttons-large-padding-vertical: 13px;
@buttons-large-padding-horizontal: 15px;
@buttons-large-height: 50px;
@buttons-large-font-size: 1.8;

@buttons-extra-large-padding-vertical: 15px;
@buttons-extra-large-padding-horizontal: 15px;
@buttons-extra-large-height: 65px;
@buttons-extra-large-font-size: 1.6;

//Button Inverse
@buttons-inverse-color: @white;
@buttons-inverse-background: @secondary;
@buttons-inverse-hover-color: @white;
@buttons-inverse-hover-background: lighten(@secondary, 5%);

//Button Primary
@buttons-primary-color: @dark;
@buttons-primary-background: @primary;
@buttons-primary-hover-color: @white;
@buttons-primary-hover-background: darken(@primary, 5%);

//Button Border
@buttons-border-color: @dark;
@buttons-border: 1px solid @light;
@buttons-border-hover-color: @secondary;
@buttons-border-hover: 1px solid @light;
@buttons-border-radius: @border-radius;

//Button Text
@buttons-text-padding-horizontal: 0;
@buttons-text-color: @dark;
@buttons-text-hover-color: @primary;

//Button Action
@buttons-action-padding-right: 50px;
@buttons-action-icon: @icon-angle-small-right;
@buttons-action-icon-size: 16px;

//Button Close
@buttons-close-size: 35px;
@buttons-close-icon: @icon-close;
@buttons-close-icon-size: 1.6;

//Button Play
@buttons-play-size: 80px;
@buttons-play-icon: @icon-play;
@buttons-play-icon-size: 50px;

//Button File
@buttons-file-icon: @icon-close;
@buttons-file-icon-size: 1.6;

//Button Block
@buttons-block-text-align: left;

//Button Disabled
@button-disabled-color: @white;
@button-disabled-background: @light;


/*
 * Figure
 */

@figure-padding: 0;
@figure-border: none;
@figure-caption-margin: 10px 0px;
@figure-caption-font-size: 1;
@figure-caption-color: @dark;
@figure-caption-text-align: center;


/*
 * Image
 */

@image-padding: 5px;
@image-border-radius: 8px;
@image-border: 1px solid @light-grey;

//Image Placeholder
@image-placeholder-background: transparent;

//Image Caption
@image-caption-padding: 15px 20px 0px 20px;
@image-caption-width: 40%;
@image-caption-font-family: @thin-font-family;
@image-caption-font-weight: @thin-font-weight;
@image-caption-font-size: 7.2;
@image-caption-color: @primary;
@image-caption-background: @light;


/*
 * List
 */

@list-margin: 40px 0px 30px;
@list-padding: 0;

//Lists Item
@list-item-margin: 10px 0px 10px 20px;
@list-item-font-family: @regular-font-family;
@list-item-font-weight: @regular-font-weight;
@list-item-color: @dark;

//List Item Icon
@list-item-icon-top: -5px;
@list-item-icon-left: -20px;
@list-item-icon: @icon-triangle-bottom-left;
@list-item-icon-size: 16px;
@list-item-icon-color: @dark;


/*
 * Navigation
 */

@navigation-padding: 0;
@navigation-height: 110px;
@navigation-background: @white;
@navigation-box-shadow: 0px 1px 0px rgba(0,0,0,0.05);

//Navigation Mobile
@navigation-mobile-breakpoint: @medium;
@navigation-mobile-padding: 0;
@navigation-mobile-height: 50px;
@navigation-logo-mobile-margin: 5px 0px;

//Navigation Logo
@navigation-logo-margin: 10px 0px;
@navigation-logo-width: 139px;
@navigation-logo-height: 60px;
@navigation-logo-extra-large-width: 139px;
@navigation-logo-extra-large-height: 60px;
@navigation-logo-small-width: 93px;
@navigation-logo-small-height: 40px;
@navigation-logo-fill: @primary;

//Navigation Nav
@nav-margin: 0;
@nav-padding: 35px 20px;
@nav-font-family: @bold-font-family;
@nav-font-size: 1.3;
@nav-color: @grey;
@nav-line-height: 1;
@nav-text-align: center;
@nav-text-transform: none;

//Navigation Nav Hover
@nav-hover-color: @primary;

//Navigation Nav Active
@nav-active-color: @white;
@nav-active-background: @primary;

//Navigation Nav Small
@nav-secondary-margin: 0;
@nav-secondary-padding: 0;
@nav-secondary-font-family: @regular-font-family;
@nav-secondary-font-size: 1.2;
@nav-secondary-color: @grey;
@nav-secondary-active-color: @grey;


/*
 * Panel
 */

@panel-margin: 0 0 @gutter 0;
@panel-padding: 25px;
@panel-background: @light;
@panel-text-align: center;
@panel-border-radius: 10px;

//Panel Title
@panel-title-margin: 0 0 @gutter 0;
@panel-title-font-family: @semibold-font-family;
@panel-title-font-size: 2.2;
@panel-title-color: @white;
@panel-text-transform: none;

//Panel Content
@panel-content-margin: 0;
@panel-content-font-size: 1.8;
@panel-content-line-height: 1.2;
@panel-content-color: @white;



/*
 * Tables
 */

@tables-cell-padding: 5px 0px;
@tables-background: none;
@tables-border-radius: @border-radius;

//Table Border
@tables-border: 1px solid @light-grey;
@tables-border-width: 0px 0px 1px 0px;

//Table Caption
@tables-caption-margin: 20px 0px 10px 0px;
@tables-caption-font-size: 2.4;
@tables-caption-text-align: left;

//Table Head
@tables-head-padding: 5px 0px;
@tables-head-font-family: @medium-font-family;
@tables-head-font-weight: @medium-font-weight;
@tables-head-font-size: 1.2;
@tables-head-text-align: left;
@tables-head-text-transform: none;
@tables-head-color: @dark;
@tables-head-background: none;

//Table Body
@tables-body-font-size: 1.5;
@tables-body-line-height: 1.5;

//Table Reponsive
@table-responsive-padding: 0;
@table-responsive-border: solid @light;
@table-responsive-border-width: 0px 0px 1px 0px;


/*
 * Video
 */

@video-player-background: @secondary;
@video-message-font-size: 2;
@video-message-color: @white;