/* Print Specific Styles */

@page {
    size: A4;
    margin: 1cm 2cm;
}

//Expand External Links For Print
.content {
	a {
		font-weight: bolder;
		text-decoration: none;

		&[href^=http]:after {
			content:" <" attr(href) "> ";
		}
	}
}

//Force Background Images And Colors
@media print and (color) {
   * {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
   }
}

//Image Width Bleed
img {
	max-width: 100% !important;
}

//Page Breaks
ul,
img,
#map,
#map-canvas {
   page-break-inside: avoid;
}


/* Hidden Elements */

.nav-toggle,
.nav-collapse,
.nav,
.nav-dropdown,
.button,
.side-nav,
.tools,
.slides-navigation,
.slides-play,
.slides-stop,
.image-overlay,
.promo-tile,
#footer {
	visibility: hidden;
	display: none;
}


/* Default Styles */


body {
	color: @black;
	background: @white;
}

.container {
	margin: 0 auto;
	width: 670px;
}


/* Typography */


h1 {
	margin: 10px 0px;
	font-size: 18px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
}

h5 {
	font-size: 11px;
}

h6 {
	font-size: 10px;
}

p {
	margin: 10px 0px;
	font-size: 11px;
}

.lead {
	margin-bottom: 20px !important;
	font-size: 16px;
}

ul li,
ol li {
	font-size: 11px;
}


/* Styles */
