/* Default Styles */

html,
body,
#content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Copy */


.copy {

	h1, h2, h3, h4, h5, h6 {

	}

	h1 {

	}

	h2 {

	}

	h3 {

	}

	h4 {

	}

	h5 {

	}

	h6 {

	}

	p {
		line-height: @line_height;
	}

	ul li,
	ol, li {
		line-height: @line_height;
	}

	.lead {
		color: @primary;
	}

	hr {
		clear: both;
	}

	img.left {
		margin: 0 @gutter @gutter 0;
	}

	img.right {
		margin: 0 0 @gutter @gutter;
	}

}


/* Articles */


/*
article {
	position: relative;

	.article-content {
		display: block;
		font-size: 12px;
		position: relative;
		.gotham-book();
		@article_arrow_size: 14px;

		.article-content-inner {
			padding: 20px;
		}

		h1 {
			font-size: 20px;
		}

		h2 {
			font-size: 16px;
		}

		h3 {
			font-size: 13px;
		}

		h4 {
			font-size: 12px;
		}

		p {

		}

		//Arrows
		&.left:before {
			display: block;
			position: absolute;
			top: 20px;
			right: -@article_arrow_size;
			width: 0;
			height: 0;
			border-top: @article_arrow_size solid transparent;
			border-left: @article_arrow_size solid transparent;
			border-bottom: @article_arrow_size solid transparent;
			content: ' ';
		}

		&.right:before {
			display: block;
			position: absolute;
			top: 20px;
			left: -@article_arrow_size;
			width: 0;
			height: 0;
			border-top: @article_arrow_size solid transparent;
			border-right: @article_arrow_size solid transparent;
			border-bottom: @article_arrow_size solid transparent;
			content: ' ';
		}

		&.bottom:before {
			position: absolute;
			top: -@article_arrow_size;
			left: 20px;
			width: 0;
			height: 0;
			border-right: @article_arrow_size solid transparent;
			border-bottom: @article_arrow_size solid transparent;
			border-left: @article_arrow_size solid transparent;
			content: ' ';
		}

		//Overlay
		&.overlay {
			position: absolute;

			&.left {
				top: 0;
				left: 0;
				bottom: 0;

				&:before {
					position: absolute;
					top: 20px;
					right: -@article_arrow_size;
					width: 0;
					height: 0;
					border-top: @article_arrow_size solid transparent;
					border-left: @article_arrow_size solid transparent;
					border-bottom: @article_arrow_size solid transparent;
					content: ' ';
				}
			}

			&.right {
				top: 0;
				right: 0;
				bottom: 0;

				&:before {
					position: absolute;
					top: 20px;
					right: -@article_arrow_size;
					width: 0;
					height: 0;
					border-top: @article_arrow_size solid transparent;
					border-right: @article_arrow_size solid transparent;
					border-bottom: @article_arrow_size solid transparent;
					content: ' ';
				}
			}

			&.bottom {
				right: 0;
				left: 0;
				bottom: 0;

				&:before {
					position: absolute;
					top: -@article_arrow_size;
					left: 20px;
					width: 0;
					height: 0;
					border-right: @article_arrow_size solid transparent;
					border-bottom: @article_arrow_size solid transparent;
					border-left: @article_arrow_size solid transparent;
					content: ' ';
				}
			}
		}
	}

	.article-date {
		font-size: 12px;

		display: block;
		.clearfix();
	}

	.article-category {
		font-size: 12px;

		text-transform: uppercase;
	}

	.article-icon {
		font-size: 50px;
	}

	.article-title {
		margin: 10px 0px;

		text-transform: uppercase;
	}

	.article-post,
	.article-excerpt {
		font-size: 12px;
		.gotham-book();
	}

	.article-link {
		display: block;
		font-size: 13px;
		.gotham-book();
		line-height: 20px;
		padding: 15px 20px;
		border-top: 1px solid @blue;
		.box-shadow(0 -1px 0px rgba(255,255,255,0.2));
		.transition(all @transition_fast ease-in-out);

		&:after {
			float: right;
			font-size: 12px;
			margin-right: 0px;
			content: @icon_angle_right;
			font-family: @icon_font_family;
			.transition(all @transition_fast ease-in-out);
		}

		&:hover,
		&:focus {

			&:after {
				margin-right: 2px;

			}
		}
	}

	&.careers {
		margin-bottom: 0px;

		.article-link {
			margin-top: 85px;
		}

		.article-link {
			margin-top: 85px;
		}
	}

	//News Article
	&.news,
	&.careers {
		background: @primary;

		.article-content {

			&.overlay {
				background: @primary;
			}

			&.left:before {
				border-left-color: @primary;
			}

			&.right:before {
				border-right-color: @primary;
			}

			&.bottom:before {
				border-bottom-color: @primary;
			}

			.article-date {
				color: @white;
			}

			.article-title {
				color: @dark_blue;
			}

			.article-excerpt {
				color: @white;
			}
		}

		.article-link {
			color: @white;
			border-top-color: @blue;
			background: @primary;

			&:after {
				color: @dark_blue;
			}

			&:hover,
			&:focus {
				background: darken(@primary, 3%);

				&:after {
					color: @white;
				}
			}
		}

		&.feature {

			.article-category {

			}

			.article-title {
				color: @white;
			}

		}



	}

	//Video
	&.video {
		position: relative;

		.play {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -@button_play_size/2;
			margin-left: -@button_play_size/2;
		}
	}

	//Publication
	&.publication {
		@publication_background: @light_grey;
		background: @light_grey;

		.article-content {


			.article-content-inner {
				min-height: 255px;
			}

			&.overlay {
				background: @publication_background;
			}

			&.left:before {
				border-left-color: @publication_background;
			}

			&.right:before {
				border-right-color: @publication_background;
			}

			&.bottom:before {
				border-bottom-color: @publication_background;
			}
		}

		.article-icon {
			color: @mid_dark_blue;
		}

		.article-date {
			margin: 15px 0px 10px;
			color: @primary;
		}

		.article-category {
			margin: 15px 0px 10px;
			color: @primary;
		}

		.article-title {
			margin: 0;
			color: @mid_dark_blue;
			font-size: 16px;
		}

		.article-link {
			color: @dark_blue;
			border-top-color: @mid_light_grey;
			background: @publication_background;

			&:after {
				color: @primary;
			}

			&:hover,
			&:focus {
				background: darken(@publication_background, 3%);

				&:after {
					color: @dark_blue;
				}
			}
		}

	}

	//Twitter Post
	&.twitter {
		@twitter_background: @light_grey;
		background: @light_grey;

		.article-content {
			min-height: 305px;

			&.overlay {
				background: @twitter_background;
			}

			&.left:before {
				border-left-color: @twitter_background;
			}

			&.right:before {
				border-right-color: @twitter_background;
			}

			&.bottom:before {
				border-bottom-color: @twitter_background;
			}
		}

		.article-icon {
			color: @light_blue;
		}

		.article-date {
			color: @primary;
		}

		.article-title {
			color: @dark_blue;
		}

		.article-link {
			color: @dark_blue;
			background: @twitter_background;
			border-top-color: @mid_light_grey;
			.box-shadow(0 -1px 0px rgba(255,255,255,0.9));

			&:after {
				color: @light_blue;
			}

			&:hover,
			&:focus {
				background: darken(@twitter_background, 3%);

				&:after {
					color: @dark_blue;
				}
			}
		}

	}

	//Facebook Post
	&.facebook {
		@facebook_background: @light_grey;

		.article-content {

			&.overlay {
				background: @facebook_background;
			}

			&.left:before {
				border-left-color: @facebook_background;
			}

			&.right:before {
				border-right-color: @facebook_background;
			}

			&.bottom:before {
				border-bottom-color: @facebook_background;
			}
		}

		.article-icon {
			color: @light_blue;
		}

		.article-date {
			color: @light_blue;
		}

		.article-title {
			color: @dark_blue;
		}

		.article-link {
			color: @dark_blue;
			background: @facebook_background;
			border-top-color: @mid_light_grey;

			&:after {
				color: @light_blue;
			}

			&:hover,
			&:focus {
				background: darken(@facebook_background, 3%);

				&:after {
					color: @dark_blue;
				}
			}
		}

	}

}
*/


/* List */

/*

.list {

	.list-item {

		&.odd {
			background: @light_grey;
		}

		.list-item-image {
			padding: 15px 0px 15px 15px;
		}

		.list-item-left {
			padding: 30px 20px 30px 40px;
		}

		.list-item-right {
			padding: 30px;
		}

		.list-title {
			color: @mid_blue;
			.gotham-book();
		}

		.list-content,
		.list-category {
			margin-bottom: 0px;
			color: @grey;
			font-size: 14px;
			line-height: 1.5;
			.gotham-light();
		}

		.list-category {
			display: block;
			margin-bottom: 10px;
		}
	}
}
*/


/* Accordian */


/*
h4.accordion-header {
	position: relative;
	margin: 0;
	padding: 20px 50px 20px 25px;
	font-size: 12px;
	color: @mid_blue;
	border-bottom: 1px solid @light_grey;
	.box-shadow(0px 1px 0px @white);

	&:after {
		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -6px;
		font-size: 12px;
		margin-right: 0px;
		color: @mid_blue;
		content: @icon_angle_up;
		font-family: @icon_font_family;
	}

	&.collapsed:after {
		content: @icon_angle_down;
	}
}

.accordion-content {
	padding: 0px 20px;

	*>:first-child {
		margin-top: 0;
		padding-top: 20px;
	}
}
*/