/* Default Styles */

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	padding-top: @navbar_min_height;
}

/* Copy */


.copy {

	h1, h2, h3, h4, h5, h6 {

	}

	h1 {

	}

	h2 {

	}

	h3 {

	}

	h4 {

	}

	h5 {

	}

	h6 {

	}

	p {
		line-height: @line_height;
	}

	ul li,
	ol, li {
		line-height: @line_height;
	}

	.lead {
		color: @primary;
	}

	hr {
		clear: both;
	}

	img.left {
		margin: 0 @gutter @gutter 0;
	}

	img.right {
		margin: 0 0 @gutter @gutter;
	}

}