/**
 * Button
 */

button,
.button {

  &.spinner {
    color: transparent !important;

    &::before {
      margin-top: -0.5em;
      margin-left: -0.5em;
      width: 1em;
      height: 1em;
    }
  }
}

/**
 * Margin
 */

.margin-first-last-reset {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

/**
 * Display
 */

.display-none {
  display: none;
}

/**
 * Media
 */

.media > img,
.media > video {
  object-fit: cover;
}

.media > video {
  object-fit: cover;
}

.media-cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  & > div {
    width: 100%;
    height: 100%;
  }

  & img,
  & video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/**
 * Group
 */

.group-column {
  & > ul {
    flex-direction: column;
  }
}

.group-nowrap {
  & > ul {
    flex-wrap: nowrap;
  }
}

/**
 * Cursor
 */

.cursor-pointer {
  cursor: pointer;
}

/**
 * Font Style
 */

.font-style-italic {
  font-style: italic;
}

/**
 * Height
 */

.height-full {
  height: 100%;
}

/**
 * Border Radius
 */

.no-border-radius {
  border-radius: 0;

  & .media {
    border-radius: 0;
  }
}

.no-border-radius,
.border-radius-none {
  border-radius: 0;
}

/**
 * Word Wrap
 */

.word-wrap-break-word {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/**
 * Main
 */

main {
  display: block;
  /* background: var(--background); */
}

/**
 * Heading
 */

.heading {
  font-size: var(--heading-font-size);
}

.heading-xxl {
  font-size: var(--heading-xxl-font-size);
}

.heading-xl {
  font-size: var(--heading-xl-font-size);
}

.heading-l {
  font-size: var(--heading-l-font-size);
}

.heading-s {
  font-size: var(--heading-s-font-size);
}

.heading-xs {
  font-size: var(--heading-xs-font-size);
}

.heading-xxs {
  font-size: var(--heading-xxs-font-size);
}

/**
 * Opacity
 */

.opacity-10 {
  opacity: 0.1;
}

.opacity-15 {
  opacity: 0.15;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-25 {
  opacity: 0.25;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-35 {
  opacity: 0.35;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-45 {
  opacity: 0.45;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-55 {
  opacity: 0.55;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-65 {
  opacity: 0.65;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-90 {
  opacity: 0.9;
}

.opacity-95 {
  opacity: 0.95;
}

.opacity-100 {
  opacity: 1;
}

/**
 * Stat
 */

.stat {
  margin: var(--stat-margin);
  font-family: var(--stat-font-family);
  font-weight: var(--stat-font-weight);
  font-size: var(--stat-font-size);
  font-style: var(--stat-font-style);
  line-height: var(--stat-line-height);
  text-transform: var(--stat-text-transform);
  letter-spacing: var(--stat-letter-spacing);

  & em {
    font-weight: var(--font-weight-light);
    font-style: normal;
  }
}

/**
 * Sizes
 */

.stat-xxl {
  font-size: var(--stat-xxl-font-size);
}

.stat-xl {
  font-size: var(--stat-xl-font-size);
}

.stat-l {
  font-size: var(--stat-l-font-size);
}

.stat-s {
  font-size: var(--stat-s-font-size);
}

.stat-xs {
  font-size: var(--stat-xs-font-size);
}

.stat-xxs {
  font-size: var(--stat-xxs-font-size);
}