//Container Widths
@small-container-width: 100%;
@medium-container-width: 768px;
@medium-landscape-container-width: @large-container-width;
@large-container-width: 1024px;
@extra-large-container-width: 1280px;

//Screen Sizes
@screen-small: 480px;
@screen-small-min: @screen-small;
@screen-small-max: (@screen-medium-min - 1);
@screen-medium: 768px;
@screen-medium-min: @screen-medium;
@screen-medium-max: (@screen-large-min - 1);
@screen-medium-landscape: 1024px;
@screen-large: 1025px;
@screen-large-min: @screen-large;
@screen-large-max: (@screen-extra-large-min - 1);
@screen-extra-large: 1280px;
@screen-extra-large-min: @screen-extra-large;