//Border Radius
@border-radius: 2px;

//Z-Index
@z-index-high: 999;
@z-index-medium: 99;
@z-index-low: 9;

//Animations
@animation-fast: 0.5s;
@animation-medium: 1s;
@animation-slow: 2s;

//Transitions
@transition-fast: 0.2s;
@transition-medium: 0.3s;
@transition-slow: 0.5s;

//Font Sizes
@font-size-extra-large: 1.8;
@font-size-large: 1.6;
@font-size-medium: 1.4;
@font-size-small: 1.2;

//Line height
@line-height-extra-large: 2;
@line-height-large: 1.8;
@line-height: 1.5;
@line-height-small: 1.2;