@import './turret/turret.less';

@import './syntax.less';


.docs-sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 270px;
	height: 100%;
	overflow: scroll;
	border-right: 1px solid @light-grey;
}

.docs-sidebar-title {
	display: block;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

.docs-navigation {

	a {
		display: block;
		padding: 15px 10px;
		.font-size(1.4);
		color: @body-color;
		border-bottom: 1px solid @light-grey;

		&:first-child {
			border-top: 1px solid @light-grey;
		}

		&.active {
			color: @primary;
		}
	}
}

.docs-main {
	padding-left: 270px;
}

.docs-header {
	padding-top: 50px;
	padding-bottom: 50px;
	background: @primary;

	h1,
	p {
		color: @white;
	}

	p {
		margin-bottom: 0;
		max-width: 800px;
	}
}

.docs-content {

	h2 {
		margin-top: 50px;
		padding-bottom: 10px;
		font-weight: 300;
		border-bottom: 1px solid @light-grey;
	}

	h3 {
		margin-top: 35px;
		.font-size(1.6);
	}
}

.docs-swatch {
	position: relative;
	display: inline-block;
	margin: 5px;
	height: 120px;
	width: 100px;

	small {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 20px;
		font-size: 10px;
		line-height: 20px;
		background: @white;
		text-align: center;
	}
}

.docs-grid-item {
	padding: 15px;
	font-size: 12px;
	font-weight: 600;
	color: #656d78;
	text-align: center;
	background: #ccd1d9;

	.docs-grid-item {
		margin-bottom: 0;
		color: @white;
		background: #656d78;
	}
}

.docs-arrow-boxes {
    margin: 0 auto;
    text-align: center;
}

.docs-arrow-box {
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 50px;
    height: 50px;
    background: @primary;
}

.docs-footer {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;

	p {
		margin: 15px 0px;
		font-size: 1.4rem;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}