//Definition List
@definition-list-margin: 0;
@definition-list-padding: 0;
@definition-list-font-family: @regular-font-family;
@definition-list-font-size: @font-size-medium;

//Definition Term
@definition-term-margin: 10px 0px;
@definition-term-font-weight: @bold-font-weight;
@definition-term-color: @paragraph-color;

//Definition Description
@definition-description-margin: 0px 0px 20px 0px;
@definition-description-color: @paragraph-color;