//Headings
@headings-margin: 0px 0px 20px 0px;
@headings-font-family: @medium-font-family;
@headings-font-weight: @medium-font-weight;
@headings-color: @body-color;
@headings-line-height: 1.1;

//Headings Small
@headings-small-font-family: @medium-font-family;
@headings-small-size: 0.6em;
@headings-small-color: @grey;

//Heading Font Sizes
@h1-font-size: 3.2;
@h2-font-size: 2.4;
@h3-font-size: 1.6;
@h4-font-size: 1.4;
@h5-font-size: 1.2;
@h6-font-size: 1;