//Pullout
@pullout-margin: @blockquote-margin;
@pullout-padding: @blockquote-padding;
@pullout-font-family: @blockquote-quote-font-family;
@pullout-font-weight: @blockquote-quote-font-weight;
@pullout-font-size: @blockquote-quote-font-size;
@pullout-border: solid @primary;
@pullout-border-width:  0px 0px 0px 5px;