//Base Font Size
@base-font-size: 10px;
@base-medium-font-size: 9px;
@base-small-font-size: 9px;

//Fonts
@font-path: '../fonts';
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

//Generic Font Families
@thin-font-family: @font-family-sans-serif;
@regular-font-family: @font-family-sans-serif;
@medium-font-family: @font-family-sans-serif;
@semibold-font-family: @font-family-sans-serif;
@bold-font-family: @font-family-sans-serif;

//Generic Font Weights
@thin-font-weight: 300;
@regular-font-weight: 400;
@medium-font-weight: 400;
@semibold-font-weight: 500;
@bold-font-weight: 600;

//Generic Font Sizes
@font-size-extra-large: 1.8;
@font-size-large: 1.6;
@font-size-medium: 1.4;
@font-size-small: 1.2;

//Generic Line height
@line-height-extra-large: 2;
@line-height-large: 1.8;
@line-height: 1.5;
@line-height-small: 1.2;