// Fieldset
@fieldset-margin: 0;
@fieldset-padding: 20px;
@fieldset-border: 1px solid @grey;

// Feildset Legend
@fieldset-legend-padding: 10px;
@fieldset-legend-font-size: @font-size-medium;
@fieldset-legend-color: @grey;