// Input
@input-height: @height-medium;
@input-margin: @label-margin;
@input-padding: 0 @padding-horizontal-medium;
@input-color: @body-color;
@input-font-family: @regular-font-family;
@input-font-weight: @regular-font-weight;
@input-font-size: @font-size-medium;
@input-line-height: @line-height-medium;
@input-background: @white;
@input-border: 1px solid @light-grey;
@input-border-radius: @border-radius;

// Input Focus
@input-focus-border: 1px solid darken(@light-grey, 10%);
@input-focus-background: darken(@input-background, 2%);

// Input Placeholder
@input-placeholder-color: fade(@input-color, 50%);
@input-placeholder-font-size: @input-font-size;
@input-placeholder-font-family: @input-font-family;
@input-placeholder-line-height: @input-line-height;
@input-placeholder-letter-spacing: 0px;
@input-placeholder-text-transform: none;

// Input Inverse
@input-inverse-color: @white;
@input-inverse-border: none;
@input-inverse-background: @inverse;
@input-inverse-focus-color: @input-inverse-color;
@input-inverse-focus-border: @input-inverse-border;
@input-inverse-focus-background: darken(@input-inverse-background, 2%);

// Input Disabled
@input-disabled-background: @light;
@input-disabled-border: 1px solid darken(@light, 10%);
@input-disabled-color: @light;

// Input Search
@input-search-border-radius: 20px;

// Textarea
@textarea-padding: @padding-vertical-medium @padding-horizontal-medium;
@textarea-line-height: @line-height-medium;