// Input Extra Large
@input-xlarge-padding: 0 @padding-horizontal-xlarge;
@input-xlarge-height: @height-xlarge;
@input-xlarge-font-size: @font-size-xlarge;

// Input Large
@input-large-padding: 0 @padding-horizontal-large;
@input-large-height: @height-large;
@input-large-font-size: @font-size-large;

// Input Medium
@input-medium-padding: 0 @padding-horizontal-medium;
@input-medium-height: @input-height;
@input-medium-font-size: @input-font-size;

// Input Small
@input-small-padding: 0 @padding-horizontal-small;
@input-small-height: @height-small;
@input-small-font-size: @font-size-small;

// Input Extra Small
@input-xsmall-padding: 0 @padding-horizontal-xsmall;
@input-xsmall-height: @height-xsmall;
@input-xsmall-font-size: @font-size-xsmall;