// Input Small
@input-small-height: 30px;
@input-small-padding: 10px;
@input-small-font-size: @font-size-small;

// Input Medium
@input-medium-height: @input-height;
@input-medium-padding: @input-padding;
@input-medium-font-size: @input-font-size;

// Input Large
@input-large-height: 50px;
@input-large-padding: 10px 20px;
@input-large-font-size: @font-size-large;

// Input Extra Large
@input-xlarge-height: 65px;
@input-xlarge-padding: 10px 25px;
@input-xlarge-font-size: @font-size-xlarge;