// Select
@select-margin: @input-margin;
@select-padding: 0px 12px;
@select-height: @input-height;
@select-font-family: @input-font-family;
@select-font-size: @input-font-size;
@select-color: @input-color;
@select-background: @input-background;
@select-border: @input-border;
@select-border-radius: @border-radius;

// Select Arrow
@select-arrow-size: 5px;
@select-arrow-background: @primary;

// Select Inverse
@select-inverse-color: @input-inverse-color;
@select-inverse-border: @input-inverse-border;
@select-inverse-background: @input-inverse-background;
@select-inverse-arrow-background: @select-arrow-background;