// Select Small
@select-small-padding: 0px 10px;
@select-small-height: @input-small-height;
@select-small-font-size: @input-small-font-size;

// Select Medium
@select-medium-padding: @select-padding;
@select-medium-height: @select-height;
@select-medium-font-size: @select-font-size;

// Select Large
@select-large-padding: 0px 20px;
@select-large-height: @input-large-height;
@select-large-font-size: @input-large-font-size;

// Select Large
@select-xlarge-padding: 0px 25px;
@select-xlarge-height: @input-xlarge-height;
@select-xlarge-font-size: @input-xlarge-font-size;