 //Button Small
.button-small {
	padding: @button-small-padding-vertical @button-small-padding-horizontal;
	height: @button-small-height;
	.font-size(@button-small-font-size);
}

//Button Medium
.button-medium {
	padding: @button-medium-padding-vertical @button-medium-padding-horizontal;
	height: @button-medium-height;
	.font-size(@button-medium-font-size);
}

//Button Large
.button-large {
	padding: @button-large-padding-vertical @button-large-padding-horizontal;
	height: @button-large-height;
	.font-size(@button-large-font-size);
}

//Button Extra Large
.button-extra-large {
	padding: @button-extra-large-padding-vertical @button-extra-large-padding-horizontal;
	height: @button-extra-large-height;
	.font-size(@button-extra-large-font-size);
}
