/* Buttons */

button,
.button {
	display: inline-block;
	padding: @button-padding-vertical @button-padding-horizontal;
	height: @button-height;
	font-family: @button-font-family;
	font-weight: @button-font-weight;
	.font-size(@button-font-size);
	line-height: @button-line-height;
	color: @button-color;
	text-align: @button-text-align;
	text-transform: @button-text-transform;
	white-space: nowrap;
	cursor: pointer;
	background: @button-background;
	border: @button-border;
	border-radius: @button-border-radius;
	.transition(all @transition-fast ease-in-out);
	
	//Button Hover Styles
	&:hover,
	&:focus {
		color: @button-hover-color;
		background: @button-hover-background;
		border: @button-hover-border;
	}

	//Button Disabled
	&:disabled {
		cursor: no-drop;
		opacity: @button-disabled-opacity;

		&:hover,
		&:focus {
			opacity: @button-disabled-opacity;
		}
	}
}
	
/*
 * Button Modifiers
 */

//Button Block
.button-block {
	width: 100%;
	text-align: @button-block-text-align;
	display: block;
}

//Button Center
.button-center {
	margin: 0 auto;
	display: inline-block;
}