/*
 * Button Styles
 */


//Button Inverse
.button-inverse {
	color: @button-inverse-color;
	background: @button-inverse-background;
	border: @button-inverse-border;

	&:hover,
	&:focus {
		color: @button-inverse-hover-color;
		background: @button-inverse-hover-background;
		border: @button-inverse-hover-border;
	}
}

//Text Button
.button-text {
	padding: @button-padding-vertical @button-text-padding-horizontal;
	color: @button-text-color;
	background: transparent !important;
	border: none !important;

	&:hover,
	&:focus {
		color: @button-text-hover-color;
	}
}

//Button Primary
.button-primary {
	color: @button-primary-color;
	background: @button-primary-background;
	border: @button-primary-border;

	&:hover,
	&:focus {
		color: @button-primary-hover-color;
		background: @button-primary-hover-background;
		border: @button-primary-hover-border;
	}
}

//Button Secondary
.button-secondary {
	color: @button-secondary-color;
	background: @button-secondary-background;
	border: @button-secondary-border;
	
	&:hover,
	&:focus {
		color: @button-secondary-hover-color;
		background: @button-secondary-hover-background;
		border: @button-secondary-hover-border;
	}
}

//Button Tertiary
.button-tertiary {
	color: @button-tertiary-color;
	background: @button-tertiary-background;
	border: @button-tertiary-border;
	
	&:hover,
	&:focus {
		color: @button-tertiary-hover-color;
		background: @button-tertiary-hover-background;
		border: @button-tertiary-hover-border;
	}
}


//Button Border
.button-border {
	color: @button-border-color;
	background: @button-border-background;
	border: @button-border-border;
	
	&:hover,
	&:focus {
		color: @button-border-hover-color;
		border: @button-border-hover-border;
		background: @button-border-hover-background;
	}
}