/*
 * Definitions
 */

// Button Extra Large
@button-xlarge-padding: @padding-xlarge;
@button-xlarge-height: @height-xlarge;
@button-xlarge-font-size: @font-size-xlarge;

// Button Large
@button-large-padding: @padding-large;
@button-large-height: @height-large;
@button-large-font-size: @font-size-large;

// Button Medium
@button-medium-padding: @button-padding;
@button-medium-height: @button-height;
@button-medium-font-size: @button-font-size;

// Button Extra Small
@button-xsmall-padding: @padding-xsmall;
@button-xsmall-height: @height-xsmall;
@button-xsmall-font-size: @font-size-xsmall;

// Button Small
@button-small-padding: @padding-small;
@button-small-height: @height-small;
@button-small-font-size: @font-size-small;


/*
 * Button Sizes
 */

// Button Extra Small
.button-xsmall {
	padding: @button-xsmall-padding;
	height: @button-xsmall-height;
	.font-size(@button-xsmall-font-size);
}

// Button Small
.button-small {
	padding: @button-small-padding;
	height: @button-small-height;
	.font-size(@button-small-font-size);
}

// Button Medium
.button-medium {
	padding: @button-medium-padding;
	height: @button-medium-height;
	.font-size(@button-medium-font-size);
}

// Button Large
.button-large {
	padding: @button-large-padding;
	height: @button-large-height;
	.font-size(@button-large-font-size);
}

// Button Extra Large
.button-xlarge {
	padding: @button-xlarge-padding;
	height: @button-xlarge-height;
	.font-size(@button-xlarge-font-size);
}