/*
 * Figure
 */

figure {
	margin: @figure-margin;
	padding: @figure-padding;
	border: @figure-border;

	figcaption {
		margin: @figure-caption-margin;
		font-family: @figure-caption-font-family;
		font-weight: @figure-caption-font-weight;
		.font-size(@figure-caption-font-size);
		color: @figure-caption-color;
		text-align: @figure-caption-text-align;
	}
}