/* Tables */

table {
	border-collapse: collapse;
	background: @table-background;
	border-radius: @table-border-radius;
	
	caption {
		margin: @table-caption-margin;
		.font-size(@table-caption-font-size);
		font-weight: @table-caption-font-weight;
		color: @table-caption-color;
		text-align: @table-caption-text-align;
	}
	
	//Table Head
	thead {

		tr {

			th {
				padding: @table-head-padding;
				font-family: @table-head-font-family;
				font-weight: @table-head-font-weight;
				.font-size(@table-head-font-size);
				color: @table-head-color;
				text-align: @table-head-text-align;
				text-transform: @table-head-text-transform;
			}
		}
	}
	
	//Table Body
	tbody {

		tr {

			td {
				padding: @table-cell-padding;
				.font-size(@table-cell-font-size);
				color: @table-cell-color;
				line-height: @table-cell-line-height;
				vertical-align: @table-cell-vertical-align;
			}
		}
	}
}

//Table Bordered
.table-bordered {

	th,
	td {
		border: @table-border;
		border-width: @table-border-width;
	}
}

//Table Block
.table-block {
	width: 100%;

	th {
		background: @table-block-head-background;
	}
}

//Table Responsive
.table-responsive {

	@media @table-responsive-breakpoint {

		//Force table to not be like tables anymore
		table, thead, tbody, th, td, tr {
			display: block;
		}

		//Hide table headers (but not display: none; for accessibility)
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr {
			margin: @table-responsive-row-margin;
			border: @table-responsive-border;
			border-width: @table-responsive-border-width;
		}

		td {
			//Behave  like a "row"
			position: relative;
			padding: @table-responsive-cell-padding;
			border: none;
		}
	}
}