//Shades
@white: #FFFFFF;
@black: #000000;
@light-grey: #CCCCCC;
@grey: #666666;
@dark-grey: #333333;

//Indicators
@info: #3BAFDA;
@error: #DA4453;
@warning: #F6BB42;
@success: #2ECC71;

//Palette
@light: #EEEEEE;
@dark: @dark-grey;
@primary: #4BB3D6;
@secondary: #967ADC;
@tertiary: #D770AD;

//Utility
@inverse: @dark;