//Control
@control-margin: @label-margin;
@control-padding: 0px 0px 0px 1.5em;
@control-color: @input-color;

//Control Indicator
@control-indicator-size: 16px;
@control-indicator-color: @primary;
@control-indicator-background: @input-background;
@control-indicator-border: @input-border;

//Control Checked
@control-indicator-checked-background: @primary;
@control-indicator-checked-border: 1px solid @primary;
@control-label-checked-color: @control-label-color;

//Control Label
@control-label-margin: 0px 0px 0px 10px;
@control-label-font-family: @label-font-family;
@control-label-font-size: @label-font-size;
@control-label-color: @label-color;
@control-label-line-height: 1.5;

//Control Inline
@control-inline-margin-right: 20px;

//Checkbox
@checkbox-border-radius: none;

//Radio
@radio-border-radius: 50%;