.animation {
	animation-duration: 4s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.animation-scale {
  animation-name: scale;
  transform-origin: bottom left;
}

.animation-scale-center {
  animation-name: scale;
  transform-origin: center center;
}

.animation-translate-y-50 {
  animation-name: translate-y-50;
  transform-origin: bottom center;
}

.animation-translate-y-100 {
  animation-name: translate-y-100;
  transform-origin: bottom center;
}

.animation-rotate-bottom {
	animation-name: rotate;
	transform-origin: center 34px;
}

.animation-ease-in {
  animation-timing-function: ease-in;
}

.animation-ease-out {
	animation-timing-function: ease-out;
}

.animation-ease-in-out {
	animation-timing-function: ease-in-out;
}

.animation-linear {
	animation-timing-function: linear;
}