@import '../../less/turret.less';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

//Content
#sidebar,
#content {
	float: left;
	height: 100%;
	.overflow-scroll();
}

#sidebar {
	width: 270px;
	color: @white;
	background: @dark;
}

#content {
	padding: 35px;
	width: ~"calc(100% - 270px)";
	background: @white;
}

//General
code {
	padding: 2px 3px;
	font-size: 12px;
	color: #DD1648;
	background: #FAFBFB !important;
}

pre {
	code {
		padding: 10px !important;
		font-size: 12px !important;
		overflow-wrap: break-word;
		border: 1px solid @light;
		.border-radius(2px);
	}
}

//Navigation
.navigation {
	padding: 35px 0px;
	ul {
		list-style: none;
		
		li {
			
			a {
				display: block;
				padding: 5px 20px;
				color: @light;
				
				&:hover,
				&:focus {
					color: @primary;
				}
			}
		}
	}
}

//Section
.section {
	margin: 0 auto;
	padding: 30px;
	max-width: 960px;
	
	.section-title {
		margin-bottom: 35px;
		line-height: 2;
		color: @dark;
		border-bottom: 1px solid @light;
		
		code {
			font-size: 12px;
			font-weight: 600;
			color: @primary;
			background: none !important;
			border: none;
		}
	}
	
	.section-sub-title {
		margin: 30px 0px 15px;
		font-size: 11px;
		font-weight: 600;
		text-transform: uppercase;
	}
}

/*
body {
	padding: 0;
	background: @document_mid_grey;
}
*/
/*

.navbar {
	.box-shadow(0px 2px 0px rgba(0,0,0,0.05));

	.logo {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: @document_mint;
	}

	.nav a {
		font-weight: 600;
	}
}

.section-title {
	margin-bottom: 20px;
	line-height: 2;
	color: @document_dark;
	border-bottom: 1px solid @document_mid_grey;
	
	code {
		font-size: 12px;
		font-weight: 600;
		color: @document_aqua;
		background: none !important;
		border: none;
	}
}

.section-sub-title {
	margin: 20px 0px 15px;
	font-size: 12px;
	font-weight: 600;
	color: @document_mid;
	text-transform: uppercase;
}

p,
ul li,
ol li {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	color: @document_grey;
}

.content {
	padding-top: 35px;
}

code {
	padding: 2px 3px;
	font-size: 0.9em;
	color: #DD1648;
	background: @document_light !important;
}

pre {
	code {
		padding: 10px !important;
		border: 1px solid @light_grey;
		.border-radius(2px);
	}
}

//Navbar
.navbar {
	.transition(all 0.2s ease-in-out);
}

.side-sub-nav {
	
}

//Page Header
.page-header {
	height: 400px;
	.gradient(@document_aqua, 0%, @document_mint, 100%);

	.page-header-content {
		.overlay();
		display: table;
		height: 400px;
		
		.page-header-content-inner {
			display: table-cell;
			vertical-align: middle;
		
			.page-title {
				margin-bottom: 10px;
				font-size: 42px;
				color: @document_white;
				letter-spacing: 4px;
				text-align: left;
				text-transform: uppercase;
				text-shadow: 0px 2px 0px rgba(0,0,0,0.05);
			}
			
			.page-description {
				margin: 0;
				width: 65%;
				font-size: 20px;
				text-align: left;
				line-height: 1.4;
				color: @document_white;
				text-shadow: 0px 2px 0px rgba(0,0,0,0.05);
			}
		}
		
	}
}

//Panels
.panel,
.side-nav {
	margin-bottom: 30px;
	background: @document_white;
	.box-shadow(0px 2px 0px rgba(0,0,0,0.05));
}

.panel {
	padding: 30px;

}

.side-nav {

}

//Grid
.grid {
	color: @document_white;
	font-size: 12px;
	text-align: center;
	color: black;

	.swatch {
		padding: 10px;
		color: @document_white;

		&.light {
			color: @document_dark;
			background: @document_white;
			.box-shadow(0px 2px 0px rgba(0,0,0,0.05));
		}
	}
}

//Colors
.color {
	float: left;
	margin-bottom: 20px;
	text-align: center;

	.swatch {
		padding: 5px;
		border: 1px solid #eee;
		height: 120px;
		margin-bottom: 5px;
	}
}


//Tables
table {
	color: #888888;

	&.table-block {

		th {
			color: #656A78 !important;
			background: @document_light !important;
		}

		td {

		}
	}

	th {
		//background: @light_grey;
	}

	tr {


		td {

			&.is-clear,
			&.is-float {
				text-transform: capitalize;
			}

			&.is-hidden,
			&.is-float,
			&.is-unsupported {
				color: #B5B8C1 !important;
				background: @document_light;
			}

			&.is-hidden,
			&.is-unsupported {

				&:before {
					margin-right: 5px;
					content: @icon_close;
					font-family: @icon_font_family;
				}
			}

			&.is-visible,
			&.is-supported {

				&:before {
					margin-right: 5px;
					content: @icon_tick;
					font-family: @icon_font_family;
					color: @primary;
				}
			}
		}
	}
}

//Icons

.icon {
	margin-bottom: 10px;

	span {
		font-size: 24px;
		color: @document_dark;
		vertical-align: middle;
	}
	
	.icon-name {
		margin-left: 10px;
		font-size: 12px;
		color: @document_grey;
	}
}
*/