@import '../../less/turret.less';

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

//Content
#sidebar,
#content {
	float: left;
	height: 100%;
	.overflow-scroll();
}

#sidebar {
	width: 270px;
	color: @white;
	background: @dark;
	.gradient(@primary, 0%, @secondary, 100%);
}

#content {
	padding: 0px 30px;
	width: ~"calc(100% - 270px)";
	background: @white;
}

//General
code {
	padding: 3px 4px;
	font-size: 12px !important;
	color: @grey;
	background: @light;
	vertical-align: middle;
	.border-radius(2px);
}

pre {
	margin-top: 20px !important;
	padding: 10px !important;
	background: @light !important;
	border: 1px solid @light-grey;
	
	code {
		padding: 0;
		font-size: 12px !important;
		background: transparent !important;
	}
}

svg {
	rect {
		fill: @primary;
	}
}

//Color
.color {
	text-align: center;
	
	small {
		.font-size(1);
	}
}

.text-color {
	display: inline-block;
	margin: 0;
	padding: 5px;
}

//Swatch
.swatch {
	padding: 5px;
	border: 1px solid @light-grey;
	height: 120px;
	margin-bottom: 5px;
}

//Grid Item
.grid-item {
	padding: 15px;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 600;
	color: @white;
	text-align: center;
	background: @secondary;
	
	&.grid-item-nested {
		margin-bottom: 0;
		background: @primary;
	}
}

//Navigation
.navigation {
	padding: 30px 0px;
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			margin: 0;
			padding: 0;
			
			a {
				display: block;
				margin-left: 0;
				padding: 10px 20px;
				.font-size(1.4);
				font-weight: 600;
				color: @light;
				text-transform: uppercase;
				text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
				.transition(all @transition-fast ease-in-out);
				
				&:hover,
				&:focus {
					color: @white;
					margin-left: 2px;
				}
			}
			
			ul {
				margin-left: 20px;
				border-left: 1px solid darken(@primary, 5%);
				
				li {
				
					a {
						padding: 5px 12px;
						.font-size(1.2);
						text-transform: none;
					}
				}
			}
		}
	}
}

//Section
.section {
	margin: 80px auto;
	max-width: 900px;
	
	&:first-child {
		margin-top: 40px;
	}
	
	.section-title {
		margin-bottom: 35px;
		line-height: 2;
		color: @dark;
		border-bottom: 1px solid @light-grey;
		
		code {
			margin-left: 15px;
			padding: 0;
			font-size: 12px;
			//font-weight: 500;
			color: @primary;
			background: none !important;
			border: none;
		}
	}
	
	.section-sub-title {
		margin: 50px 0px 30px;
		font-weight: 500;
	}
}

//Tables
table {

	&.table-block {

		th {
			background: @light !important;
		}

		td {

		}
	}

	th {
		
	}
	
	tbody {
		
		th {
			padding: 10px;
		}
	}

	tr {


		td {

			&.is-clear,
			&.is-float {
				text-transform: capitalize;
			}

			&.is-hidden,
			&.is-float,
			&.is-unsupported {
				color: @grey !important;
				background: @light;
			}

			&.is-hidden,
			&.is-unsupported {

				&:before {
					margin-right: 5px;
					content: @icon-close;
					font-family: @icon-font-family;
				}
			}

			&.is-visible,
			&.is-supported {

				&:before {
					margin-right: 5px;
					content: @icon-tick;
					font-family: @icon-font-family;
					color: @primary;
				}
			}
		}
	}
}