//Definitions

@import '../../less/definitions.less';

//Utilities

@import '../../less/utilities/utilities.less';
@import '../../less/utilities/mixins.less';


@document_white: #FFFFFF;
@document_light_grey: #F8FAFB;
@document_grey_border: #D2DADE;
@document_mid_grey: #EDF1F2;
@document_grey: #84898F;
@document_mint: #3BC0C3;
@document_mid: #666666;
@document_dark: #333333;


body {
	background: @document_mid_grey;
}

.navbar {
	.box-shadow(0px 2px 0px rgba(0,0,0,0.05));

	.logo {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: @document_mint;
	}

	.nav a {
		font-weight: 600;
	}
}

.section-title {
	margin-bottom: 20px;
	line-height: 2;
	color: @document_dark;
	border-bottom: 1px solid @document_mid_grey;
}

.section-sub-title {
	margin: 20px 0px 15px;
	font-size: 12px;
	font-weight: 600;
	color: @document_mid;
	text-transform: uppercase;
}

p,
ul li {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	color: @document_grey;
}

.content {
	padding: 35px 0px;
}

code {
	padding: 2px 3px;
	font-size: 0.9em;
	color: #DD1648;
	background: #FAFAFA !important;
	border: 1px solid #F3F3F3;
}

//Page Header
.page-header {
	background: @document_mint;

	.page-header-content {
		.overlay();
		display: table;
		height: 200px;

		.page-title {
			display: table-cell;
			vertical-align: middle;
			font-size: 42px;
			color: @document_white;
			letter-spacing: 4px;
			text-transform: uppercase;
			text-shadow: 0px 2px 0px rgba(0,0,0,0.05);
		}
	}
}

//Panels
.panel {
	padding: 30px;
	margin-bottom: 30px;
	background: @document_white;
	.box-shadow(0px 2px 0px rgba(0,0,0,0.05));
}

//Grid
.grid {
	color: @document_white;
	font-size: 12px;
	text-align: center;
	color: black;

	.swatch {
		padding: 10px;
		background: @document_white;
		.box-shadow(0px 2px 0px rgba(0,0,0,0.05));
	}
}

//Colors
.color {
	float: left;
	margin-bottom: 20px;
	text-align: center;

	.swatch {
		padding: 5px;
		border: 1px solid #eee;
		height: 120px;
		margin-bottom: 5px;
	}
}


//Tables
table {
	color: #888888;

	&.table-bordered {
		border: 1px solid @document_grey_border;
	}

	&.table-block {

		th {
			color: @document_grey !important;
			background: @document_mid_grey !important;
		}

		td {

		}
	}

	th {
		//background: @light_grey;
	}

	tr {


		td {

			&.is-clear,
			&.is-float {
				text-transform: capitalize;
			}

			&.is-hidden,
			&.is-float,
			&.is-unsupported {
				color: #CCCCCC !important;
				background: #FAFAFA;
			}

			&.is-hidden,
			&.is-unsupported {

				&:before {
					margin-right: 5px;
					content: @icon_close;
					font-family: @icon_font_family;
				}
			}

			&.is-visible,
			&.is-supported {

				&:before {
					margin-right: 5px;
					content: @icon_tick;
					font-family: @icon_font_family;
					color: @primary;
				}
			}
		}
	}
}

//Icons

.icons {
	margin-bottom: 30px;
}

.icon {
	position: relative;
	float: left;
	padding: 10px;
	margin: 5px;
	//width: 35px;
	//height: 35px;
	color: @document_dark;
	text-align: center;
	background: @document_white;
	.box-shadow(0px 2px 0px rgba(0,0,0,0.05));

	&:hover {
		.icon-name {
			display: block;
		}
	}

	span {
		display: block;
		line-height: 1;
		font-size: 40px;
	}

	.icon-name {
		z-index: 9999;
		position: absolute;
		bottom: -20px;
		left: 0;
		padding: 5px;
		height: 20px;
		min-width: 180px;
		text-align: left;
		line-height: 1;
		background: @document_dark;
		color: @document_white;
		display: none;
		font-size: 12px;
	}
}