// Fonts
@font-path: '../fonts';
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

// Generic Font Families
@thin-font-family: @font-family-sans-serif;
@regular-font-family: @font-family-sans-serif;
@medium-font-family: @font-family-sans-serif;
@semibold-font-family: @font-family-sans-serif;
@bold-font-family: @font-family-sans-serif;

// Generic Font Weights
@thin-font-weight: 300;
@regular-font-weight: 400;
@medium-font-weight: 500;
@semibold-font-weight: 600;
@bold-font-weight: 700;

// Base Font Size
@base-font-size: 10px;
@base-font-size-xlarge: @base-font-size;
@base-font-size-large: @base-font-size;
@base-font-size-medium: @base-font-size;
@base-font-size-small: @base-font-size;
@base-font-size-xsmall: @base-font-size;

// Font Sizes
@font-size-xlarge: 1.8;
@font-size-large: 1.6;
@font-size-medium: 1.4;
@font-size-small: 1.2;
@font-size-xsmall: 1;

// Line height
@line-height-xlarge: 2;
@line-height-large: 1.8;
@line-height-medium: 1.5;
@line-height-small: 1.2;
@line-height-xsmall: 1;