// Kbd
@kbd-margin: 0px 5px;
@kbd-padding: 4px;
@kbd-font-family: @code-font-family;
@kbd-font-weight: @code-font-weight;
@kbd-font-size: @code-font-size;
@kbd-color: @code-color;
@kbd-background: @pre-background;
@kbd-border: @pre-border;