// List
@list-margin: 20px 0px;
@list-padding: 0;

// Lists Item
@list-item-margin: 10px 0px 10px 20px;
@list-item-font-family: @paragraph-font-family;
@list-item-font-weight: @paragraph-font-weight;
@list-item-font-size: @paragraph-font-size;
@list-item-color: @paragraph-color;

// Child List
@child-list-margin: 10px 0px;
@child-list-padding: 0;
@child-list-item-margin: @list-item-margin;

// Unordered List
@unordered-list-icon: disc;
@unordered-child-list-icon: disc;