// Pre
@pre-margin: 20px 0px;
@pre-padding: 10px;
@pre-color: @body-color;
@pre-tab-size: 4;
@pre-hyphens: none;
@pre-line-height: @line-height-medium;
@pre-background: #FCFCFE;
@pre-border: 1px solid @light;

// Pre Code
@pre-code-color: @body-color;