.block {
	margin: 0 auto;
	max-width: var(--max-width-m);

	&:not(:last-child) {
		margin-bottom: var(--margin-l);
	}

	@media (--s-up) {
		display: flex;
		align-items: center;

		&:nth-child(odd) {
			flex-direction: row-reverse;

			& .block-media {
				margin-left: calc(var(--gutter) * 2);
			}
		}

		&:nth-child(even) {
			
			& .block-media {
				margin-right: calc(var(--gutter) * 2);
			}
		}
	}
}

.block-media {
	flex: 1;
	padding: 0;
	border: none;
	background: none;

	@media (--xs) {
		margin-bottom: var(--margin-m);
	}
}

.block-body {
	flex: 1;

	p {
		margin: 0;
	}
}