.boxes {

	@media (--s-up) {
		display: grid;
		grid-gap: var(--gutter);
		grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));

		@supports not (display: grid) {

			& .box:not(:last-child) {
				margin-bottom: var(--space-s);
			}
		}
	}

	@media (--xs) {

		& .box:not(:last-child) {
			margin-bottom: var(--space-s);
		}
	}
}

.box {
	padding: var(--gutter);
	border: 1px solid currentColor;

	& svg + h3 {
		margin-top: 1em;
	}
}