// Padding Vertical
@padding-vertical-xlarge: 20px;
@padding-vertical-large: 15px;
@padding-vertical-medium: 12px;
@padding-vertical-small: 8px;
@padding-vertical-xsmall: 4px;

// Padding Horizontal
@padding-horizontal-xlarge: 30px;
@padding-horizontal-large: 25px;
@padding-horizontal-medium: 16px;
@padding-horizontal-small: 12px;
@padding-horizontal-xsmall: 8px;