/*
 * Container
 */
 
.container {
	position: relative;
	margin: 0 auto;
	
	@media @small {
		padding-left: @gutter;
		padding-right: @gutter;
		width: @small-container-width;
	}

	@media @medium-only {
		padding-left: @gutter;
		padding-right: @gutter;
		width: @medium-container-width;
	}

	@media @medium-landscape {
		padding-left: @gutter;
		padding-right: @gutter;
		width: @medium-landscape-container-width;
	}

	@media @large-only {
		width: @large-container-width;
	}

	@media @extra-large {
		width: @extra-large-container-width;
	}
}


/*
 * Row
 */
 
.row {
	margin-left: -@gutter;
	margin-right: -@gutter;

	@media @small {
		margin-left: -(@gutter / 2);
		margin-right: -(@gutter / 2);
	}

	//Clearfix
	&:after {
		display: table;
		clear: both;
		margin-left: -@gutter;
		margin-right: -@gutter;
		content: '';
	}
	
	&.gutter {
		padding: 0 @gutter;
	}

	&.no-gutter {
		margin-left: 0;
		margin-right: 0;
	}
}


/*
 * Gutter
 */

&.no-gutter {
	padding: 0;
}

@media @extra-large {

	&.no-gutter-extra-large {
		padding-left: 0;
		padding-right: 0;
	}
}

@media @large-only {

	&.no-gutter-large {
		padding-left: 0;
		padding-right: 0;
	}
}

@media @medium-landscape {
	
	&.no-gutter-medium-landscape {
		padding-left: 0;
		padding-right: 0;
	}
}

@media @medium-only {

	&.no-gutter-medium {
		padding-left: 0;
		padding-right: 0;
	}
}

@media @small {

	&.no-gutter-small {
		padding-left: 0;
		padding-right: 0;
	}
}

@media @mobile {
	
	&.no-gutter-mobile {
		padding: 0;
	}
}