h1[id],
h2[id],
h3[id],
h4[id] {
  & + h1,
  & + .h1 {
    margin-top: 0;
  }
}

h2[id] {
  padding-bottom: 0.35em;
  font-weight: var(--font-weight-light);
  border-bottom: var(--border);
}

h3[id] {
  font-weight: var(--font-weight-medium);
}

h4[id] {
  font-weight: var(--font-weight-semibold);
}
