/* Bounce */

@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translate3d(0,0,0);
	}
	40% {
		-webkit-transform: translate3d(0,-30px,0);
	}
	60% {
		-webkit-transform: translate3d(0,-15px,0);
	}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-webkit-transform: translate3d(0,0,0);
	}
	40% {
		-webkit-transform: translate3d(0,-30px,0);
	}
	60% {
		-webkit-transform: translate3d(0,-15px,0);
	}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-o-transform: translate3d(0,0,0);
	}
	40% {
		-o-transform: translate3d(0,-30px,0);
	}
	60% {
		-o-transform: translate3d(0,-15px,0);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translate3d(0,0,0);
	}
	40% {
		transform: translate3d(0,-30px,0);
	}
	60% {
		transform: translate3d(0,-15px,0);
	}
}

.bounce {
	.animation-name(bounce);
}