/* cloud */

@-webkit-keyframes cloud {
	0% {
		margin-left: 800px;
		opacity: 0;
	}
	10% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.25;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
		margin-left: -800px;
	}
}

@-moz-keyframes cloud {
	0% {
		margin-left: 800px;
		opacity: 0;
	}
	10% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.25;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
		margin-left: -800px;
	}
}

@keyframes cloud {
	0% {
		margin-left: 800px;
		opacity: 0;
	}
	10% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.25;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
		margin-left: -800px;
	}
}

.cloud {
	.animation-name(cloud);
}