/* Indicator */

@-webkit-keyframes indicator {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.75;
	}
}

@-moz-keyframes indicator {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.75;
	}
}

@-o-keyframes indicator {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.75;
	}
}

@keyframes indicator {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.75;
	}
}

.indicator {
	.animation-name(indicator);
}