/* Line */

@-webkit-keyframes line-center-out {
	from {
		width: 0%;
		
	}
	to {
		width: 100%;
	}
}

@-moz-keyframes line-center-out {
	from {
		width: 0%;
		
	}
	to {
		width: 100%;
	}
}

@-o-keyframes line-center-out {
	from {
		width: 0%;
		
	}
	to {
		width: 100%;
	}
}

@keyframes line-center-out {
	from {
		width: 0%;
		
	}
	to {
		width: 100%;
	}
}

.line-center-out {
	.animation(line-center-out);
}