/* Line */

@-webkit-keyframes line {
	to {
		stroke-dashoffset: 0;
	}
}

@-moz-keyframes line {
	to {
		stroke-dashoffset: 0;
	}
}

@-o-keyframes line {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes line {
	to {
		stroke-dashoffset: 0;
	}
}

.line {
	.animation(line);
}