/* Tea */

@-webkit-keyframes tea {
	0% {
		-webkit-transform: translate(0,0) rotate(0);
	}
	10% {
		-webkit-transform: translate(-25%,-25%) rotate(45deg);
	}
	20% {
		-webkit-transform: translate(-25%,-25%) rotate(45deg);
	}
	30%,
	100% {
		-webkit-transform: translate(0,0) rotate(0);;
	}
}

/*
@-moz-keyframes tea {
	0% {
		margin-left: 800px;
		opacity: 0;
	}
	10% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.5;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
		margin-left: -800px;
	}
}

@keyframes tea {
	0% {
		margin-left: 800px;
		opacity: 0;
	}
	10% {
		opacity: 0.8;
	}
	50% {
		opacity: 0.5;
	}
	90% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
		margin-left: -800px;
	}
}
*/

.tea {
	.animation-name(tea);
}