/**
 * prism.js default theme for JavaScript, CSS and HTML
 * @author Scott de Jonge
 */

code[class*="language-"],
pre[class*="language-"] {
	direction: ltr;
	font-family: monaco,Consolas,"Lucida Console",monospace;
	font-weight: bold;
	font-size: 12px;
	color: #F5F7FA;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	margin: 20px 0px;
	padding: 15px;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #434A54;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #778594;
}

.token.punctuation {
	color: #F5F7FA;
}

.namespace {
	
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #967ADC;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #2ECC71;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #DA4453;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #3BAFDA;
}

.token.function {
	color: #53CEEF;
}

.token.regex,
.token.important {
	color: #DA4453;
}

.token.variable {
	color: #D770AD;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

pre[class*='language-'] {
	position: relative;
}

pre[class*='language-'] > code[data-language] {
	overflow: auto;
	max-height: 28em;
	display: block;
}

pre[class*='language-'] > code[data-language]::before {
	content: attr(data-language);
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	padding: 2px 4px;
	font-size: 10px;
	color: #CCD1D9;
}
