/*
 * Definitions
 */

// Gutters
@gutter: 15px;
@gutter-top: (@gutter * 2);
@gutter-bottom:  (@gutter * 2);
@gutter-left: (@gutter * 4);
@gutter-right: (@gutter * 5);


/*
 * Gutter
 */

.no-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.gutter-top {
	margin-top: @gutter-top !important;
}

.gutter-bottom {
	margin-bottom: @gutter-bottom !important;
}

.gutter-left {
	padding-left: @gutter-left !important;
}

.gutter-right {
	padding-right: @gutter-right !important;
}

@media @xlarge {

	&.no-gutter-xlarge {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.gutter-top-xlarge {
		margin-top: @gutter-top !important;
	}
	
	.gutter-bottom-xlarge {
		margin-bottom: @gutter-bottom !important;
	}
	
	.gutter-left-xlarge {
		padding-left: @gutter-left !important;
	}
	
	.gutter-right-xlarge {
		padding-right: @gutter-right !important;
	}
}

@media @large {

	&.no-gutter-large {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.gutter-top-large {
		margin-top: @gutter-top !important;
	}
	
	.gutter-bottom-large {
		margin-bottom: @gutter-bottom !important;
	}
	
	.gutter-left-large {
		padding-left: @gutter-left !important;
	}
	
	.gutter-right-large {
		padding-right: @gutter-right !important;
	}
}

@media @medium {

	&.no-gutter-medium {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.gutter-top-medium {
		margin-top: @gutter-top !important;
	}
	
	.gutter-bottom-medium {
		margin-bottom: @gutter-bottom !important;
	}
	
	.gutter-left-medium {
		padding-left: @gutter-left !important;
	}
	
	.gutter-right-medium {
		padding-right: @gutter-right !important;
	}
}

@media @small {

	&.no-gutter-small {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.gutter-top-small {
		margin-top: @gutter-top !important;
	}
	
	.gutter-bottom-small {
		margin-bottom: @gutter-bottom !important;
	}
	
	.gutter-left-small {
		padding-left: @gutter-left !important;
	}
	
	.gutter-right-small {
		padding-right: @gutter-right !important;
	}
}

@media @xsmall {
	
	&.no-gutter-xsmall {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	.gutter-top-xsmall {
		margin-top: @gutter-top !important;
	}
	
	.gutter-bottom-xsmall {
		margin-bottom: @gutter-bottom !important;
	}
	
	.gutter-left-xsmall {
		padding-left: @gutter-left !important;
	}
	
	.gutter-right-xsmall {
		padding-right: @gutter-right !important;
	}
}