.icon {

}

//List Icons
.icon-ul {
	padding-left: 0;
	margin-left: @icon-li-width;
	list-style-type: none;

	> li {
		position: relative;
	}
}

.icon-li {
	position: absolute;
	left: -@icon-li-width;
	width: @icon-li-width;
	top: (2em / 14);
	text-align: center;
}

//Icon Spin
.icon-spin {
	.animation-name(spin 1s linear infinite);
}

/* Icon Font */

@font-face {
	font-family: @icon-font-family;
	src:url('../@{icon-font-path}/@{icon-font-family}.eot');
	src:url('../@{icon-font-path}/@{icon-font-family}.eot?#iefix') format('embedded-opentype'),
		url('../@{icon-font-path}/@{icon-font-family}.woff') format('woff'),
		url('../@{icon-font-path}/@{icon-font-family}.ttf') format('truetype'),
		url('../@{icon-font-path}/@{icon-font-family}.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: @icon-font-family;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-angle-down-double:before {
	content: "\e600";
}
.icon-angle-down:before {
	content: "\e601";
}
.icon-angle-left-double:before {
	content: "\e602";
}
.icon-angle-left:before {
	content: "\e603";
}
.icon-angle-right-double:before {
	content: "\e604";
}
.icon-angle-right:before {
	content: "\e605";
}
.icon-angle-small-down:before {
	content: "\e606";
}
.icon-angle-small-left:before {
	content: "\e607";
}
.icon-angle-small-right:before {
	content: "\e608";
}
.icon-angle-small-rounded-down:before {
	content: "\e609";
}
.icon-angle-small-rounded-left:before {
	content: "\e60a";
}
.icon-angle-small-rounded-right:before {
	content: "\e60b";
}
.icon-angle-small-rounded-up:before {
	content: "\e60c";
}
.icon-angle-small-up:before {
	content: "\e60d";
}
.icon-angle-thin-down:before {
	content: "\e60e";
}
.icon-angle-thin-left:before {
	content: "\e60f";
}
.icon-angle-thin-right:before {
	content: "\e610";
}
.icon-angle-thin-up:before {
	content: "\e611";
}
.icon-angle-up-double:before {
	content: "\e612";
}
.icon-angle-up:before {
	content: "\e613";
}
.icon-arrows-close:before {
	content: "\e614";
}
.icon-arrows-expand:before {
	content: "\e615";
}
.icon-arrows-move:before {
	content: "\e616";
}
.icon-arrows-resize:before {
	content: "\e617";
}
.icon-chat-box-working:before {
	content: "\e618";
}
.icon-chat-box:before {
	content: "\e619";
}
.icon-chat-bubble-working:before {
	content: "\e61a";
}
.icon-chat-bubble:before {
	content: "\e61b";
}
.icon-circle-line:before {
	content: "\e61c";
}
.icon-circle:before {
	content: "\e61d";
}
.icon-close-rounded:before {
	content: "\e61e";
}
.icon-close-thin:before {
	content: "\e61f";
}
.icon-close:before {
	content: "\e620";
}
.icon-diamond-line:before {
	content: "\e621";
}
.icon-diamond:before {
	content: "\e622";
}
.icon-document-line:before {
	content: "\e623";
}
.icon-document:before {
	content: "\e624";
}
.icon-email-line-large:before {
	content: "\e625";
}
.icon-email-line:before {
	content: "\e626";
}
.icon-email:before {
	content: "\e627";
}
.icon-facebook-alt:before {
	content: "\e628";
}
.icon-facebook:before {
	content: "\e629";
}
.icon-google-plus-alt:before {
	content: "\e62a";
}
.icon-google-plus:before {
	content: "\e62b";
}
.icon-grid-alt:before {
	content: "\e62c";
}
.icon-grid:before {
	content: "\e62d";
}
.icon-hexagon-line:before {
	content: "\e62e";
}
.icon-hexagon-thin-line:before {
	content: "\e62f";
}
.icon-hexagon:before {
	content: "\e630";
}
.icon-instagram:before {
	content: "\e631";
}
.icon-linkedin-alt:before {
	content: "\e632";
}
.icon-linkedin:before {
	content: "\e633";
}
.icon-list-alt:before {
	content: "\e634";
}
.icon-list:before {
	content: "\e635";
}
.icon-marker:before {
	content: "\e636";
}
.icon-minus-small:before {
	content: "\e637";
}
.icon-minus:before {
	content: "\e638";
}
.icon-pause:before {
	content: "\e639";
}
.icon-pinterest-alt:before {
	content: "\e63a";
}
.icon-pinterest:before {
	content: "\e63b";
}
.icon-play:before {
	content: "\e63c";
}
.icon-plus-small:before {
	content: "\e63d";
}
.icon-plus:before {
	content: "\e63e";
}
.icon-print-large:before {
	content: "\e63f";
}
.icon-print:before {
	content: "\e640";
}
.icon-profile:before {
	content: "\e641";
}
.icon-rss:before {
	content: "\e642";
}
.icon-search-alt:before {
	content: "\e643";
}
.icon-search:before {
	content: "\e644";
}
.icon-sign:before {
	content: "\e645";
}
.icon-square:before {
	content: "\e646";
}
.icon-star-half:before {
	content: "\e647";
}
.icon-star-line:before {
	content: "\e648";
}
.icon-star:before {
	content: "\e649";
}
.icon-tick:before {
	content: "\e64a";
}
.icon-triangle-bottom-left:before {
	content: "\e64b";
}
.icon-triangle-bottom-right:before {
	content: "\e64c";
}
.icon-triangle-down:before {
	content: "\e64d";
}
.icon-triangle-left:before {
	content: "\e64e";
}
.icon-triangle-right:before {
	content: "\e64f";
}
.icon-triangle-top-left:before {
	content: "\e650";
}
.icon-triangle-top-right:before {
	content: "\e651";
}
.icon-triangle-up:before {
	content: "\e652";
}
.icon-twitter:before {
	content: "\e653";
}
.icon-yotube-icon-alt:before {
	content: "\e654";
}
.icon-youtube-alt:before {
	content: "\e655";
}
.icon-youtube-icon:before {
	content: "\e656";
}
.icon-youtube:before {
	content: "\e657";
}