/* 
 * Typography 
 */

//Headings
h1, h2, h3, h4, h5, h6 {
	margin: @headings-margin;
	padding: 0;
	font-family: @headings-font-family;
	font-weight: @headings-font-weight;
	color: @headings-color;
	line-height: @headings-line-height;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
	color: @headings-small-color;
	font-size: @headings-small-size;
}

h1 {
	.font-size(@h1-font-size);
}

h2 {
	.font-size(@h2-font-size);
}

h3 {
	.font-size(@h3-font-size);
}

h4 {
	.font-size(@h4-font-size);
}

h5 {
	.font-size(@h5-font-size);
}

h6 {
	.font-size(@h6-font-size);
}

//Paragraph
p {
	font-family: @copy-font-family;
	.font-size(@paragraph-font-size);
	color: @paragraph-color;
	line-height: @line-height;
	
	&.lead {
		margin-top: 0;
	}
}

//Lead Paragraph
.lead {
	margin-top: 0;
	font-family: @lead-font-family;
	.font-size(@lead-font-size);
	color: @lead-color;
}

//Links
a {
	text-decoration: none;
	color: @link-color;
	.transition(color @transition-fast ease-in-out);
	
	&:hover,
	&:focus {
		color: @link-hover-color;
	}
}

//Horizontal Rule
hr {
	clear: both;
	margin: @hr-margin;
	border: 0;
	height: @hr-height;
	background: @hr-background;
}

//Lists
ul,
ol {
	margin: 0;
	padding: 0;
}

ul li,
ol, li {
	.font-size(@paragraph-font-size);
	color: @paragraph-color;
	line-height: @line-height;
}

//Blockquote
blockquote {

}

//Definition List
dl {

	dt,
	dd {

	}
}

//Strong
strong {
	font-family: @strong-font-family;
	font-weight: @strong-font-weight;
}

//Abbreviation
abbr {
	cursor: help;
}

//Pre Block
pre {

}

//Highlight
mark {
	
}

//Deleted
del {
	
}

//Insert
ins {
	
}

//Underline
u {
	
}

//Emphasis
em {
	
}

@media @mobile {
	h1 {
		.font-size(@h1-mobile-font-size);
	}
	
	h2 {
		.font-size(@h2-mobile-font-size);
	}
	
	h3 {
		.font-size(@h3-mobile-font-size);
	}
	
	h4 {
		.font-size(@h4-mobile-font-size);
	}
	
	h5 {
		.font-size(@h5-mobile-font-size);
	}
	
	h6 {
		.font-size(@h6-mobile-font-size);
	}
	
	p {
		.font-size(@paragraph-mobile-font-size);
		
		&.lead {
			.font-size(@lead-mobile-font-size);
		}
	}
}