//Container Widths
@container-small: 100%;
@container-medium: 768px;
@container-large: 1024px;
@container-extra-large: 1280px;

//Screen Sizes
@screen-small: 480px;
@screen-small-min: @screen-small;
@screen-small-max: (@screen-medium-min - 1);
@screen-medium: 768px;
@screen-medium-min: @screen-medium;
@screen-medium-max: (@screen-large-min - 1);
@screen-large: 1025px;
@screen-large-min: @screen-large;
@screen-large-max: (@screen-extra-large-min - 1);
@screen-extra-large: 1280px;
@screen-extra-large-min: @screen-extra-large;