//Form Message
.form-message {
	margin: @form-message-margin;
	font-size: @form-message-font-family;
	font-weight: @form-message-font-weight;
	.font-size(@form-message-font-size);
	color: @form-message-color;
	line-height: @form-message-line-height;
	
	&.error {
		color: @form-message-error-color;
	}
	
	&.warning {
		color: @form-message-warning-color;
	}
	
	&.success {
		color: @form-message-success-color;
	}
	
	&.info {
		color: @form-message-info-color;
	}
}