.form-message {
  margin: var(--form-message-margin);
  font-family: var(--form-message-font-family);
  font-weight: var(--form-message-font-weight);
  font-size: var(--form-message-font-size);
  font-style: var(--form-message-font-style);
  color: var(--form-message-color);
  line-height: var(--form-message-line-height);
  text-transform: var(--form-message-text-transform);
  letter-spacing: var(--form-message-letter-spacing);

  &:empty {
    display: none;
  }

  &.error {
    color: var(--error);
  }

  &.warning {
    color: var(--warning);
  }

  &.success {
    color: var(--success);
  }

  &.info {
    color: var(--info);
  }
}
