/*
 * Input Indicators 
 */

input,
textarea {

	//Input Error
	&.error {
		color: @input-error-color;
		border-color: @input-error-color;
	}
	
	//Input Warning
	&.warning {
		color: @input-warning-color;
		border-color: @input-warning-color;
	}
	
	//Input Success
	&.success {
		color: @input-success-color;
		border-color: @input-success-color;
	}
	
	//Input Info
	&.info {
		color: @input-info-color;
		border-color: @input-info-color;
	}
}