/*
 * Input Group Sizes
 */

// Input Group Button Extra Large
.input-group-button-xlarge {

	> button,
	> .button {
		padding: @button-xlarge-padding;
		height: @input-xlarge-height;
		min-width: @input-xlarge-height;
		.font-size(@input-xlarge-font-size);
	}
}

// Input Group Button Large
.input-group-button-large {

	> button,
	> .button {
		padding: @button-large-padding;
		height: @input-large-height;
		min-width: @input-large-height;
		.font-size(@input-large-font-size);
	}
}

// Input Group Button Medium
.input-group-button-medium {

	> button,
	> .button {
		height: @input-medium-height;
		min-width: @input-medium-height;
		.font-size(@input-medium-font-size);
	}
}

// Input Group Button Small
.input-group-button-small {

	> button,
	> .button {
		padding: @button-small-padding;
		height: @input-small-height;
		min-width: @input-small-height;
		.font-size(@input-small-font-size);
	}
}

// Input Group Button Extra Small
.input-group-button-xsmall {

	> button,
	> .button {
		padding: @button-xsmall-padding;
		height: @input-xsmall-height;
		min-width: @input-xsmall-height;
		.font-size(@input-xsmall-font-size);
	}
}