/*
 * Definitions
 */

// Input Small
@input-small-height: 30px;
@input-small-padding: 10px;
@input-small-font-size: @font-size-small;

// Input Medium
@input-medium-height: @input-height;
@input-medium-padding: @input-padding;
@input-medium-font-size: @input-font-size;

// Input Large
@input-large-height: 50px;
@input-large-padding: 10px 20px;
@input-large-font-size: @font-size-large;

// Input Extra Large
@input-extra-large-height: 65px;
@input-extra-large-padding: 10px 25px;
@input-extra-large-font-size: @font-size-extra-large;


/*
 * Input Sizes
 */

// Input Small
.input-small {
	.font-size(@input-small-font-size);
	height: @input-small-height;
	padding: @input-small-padding;
	.placeholder(@input-placeholder-color, @input-small-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

// Input Medium
.input-medium {
	.font-size(@input-medium-font-size);
	height: @input-medium-height;
	padding: @input-medium-padding;
	.placeholder(@input-placeholder-color, @input-medium-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

// Input Large
.input-large {
	.font-size(@input-large-font-size);
	height: @input-large-height;
	padding: @input-large-padding;
	.placeholder(@input-placeholder-color, @input-large-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

// Input Extra Large
.input-extra-large {
	.font-size(@input-extra-large-font-size);
	height: @input-extra-large-height;
	padding: @input-extra-large-padding;
	.placeholder(@input-placeholder-color, @input-extra-large-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}