/*
 * Definitions
 */

// Input Extra Large
@input-xlarge-padding: @padding-xlarge;
@input-xlarge-height: @height-xlarge;
@input-xlarge-font-size: @font-size-xlarge;

// Input Large
@input-large-padding: @padding-large;
@input-large-height: @height-large;
@input-large-font-size: @font-size-large;

// Input Medium
@input-medium-padding: @input-padding;
@input-medium-height: @input-height;
@input-medium-font-size: @input-font-size;

// Input Small
@input-small-padding: @padding-small;
@input-small-height: @height-small;
@input-small-font-size: @font-size-small;

// Input Extra Small
@input-xsmall-padding: @padding-xsmall;
@input-xsmall-height: @height-xsmall;
@input-xsmall-font-size: @font-size-xsmall;


/*
 * Input Sizes
 */

// Input Small
.input-xsmall {
	padding: @input-xsmall-padding;
	height: @input-xsmall-height;
	.font-size(@input-xsmall-font-size);
	.placeholder(@input-placeholder-color, @input-xsmall-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

// Input Small
.input-small {
	padding: @input-small-padding;
	height: @input-small-height;
	.font-size(@input-small-font-size);
	.placeholder(@input-placeholder-color, @input-small-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

// Input Medium
.input-medium {
	padding: @input-medium-padding;
	height: @input-medium-height;
	.font-size(@input-medium-font-size);
	.placeholder(@input-placeholder-color, @input-medium-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

// Input Large
.input-large {
	padding: @input-large-padding;
	height: @input-large-height;
	.font-size(@input-large-font-size);
	.placeholder(@input-placeholder-color, @input-large-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

// Input Extra Large
.input-xlarge {
	padding: @input-xlarge-padding;
	height: @input-xlarge-height;
	.font-size(@input-xlarge-font-size);
	.placeholder(@input-placeholder-color, @input-xlarge-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}