/* Input */

input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
textarea {
	display: block;
	width: 100%;
	height: @input-height;
	margin: @input-margin;
	padding: @input-padding;
	font-family: @input-font-family;
	font-weight: @input-font-weight;
	.font-size(@input-font-size);
	color: @input-color;
	line-height: @input-line-height;
	border: @input-border;
	background-color: @input-background;
	background-image: none;
	border-radius: @input-border-radius;
	.transition(border @transition-fast ease-in-out);
	.appearance(none);

	//Override Normalise for Input Types
	.box-sizing(border-box);

	//Input Placeholder
	.placeholder(@input-placeholder-color, @input-placeholder-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);

	//Input Disabled
	&:disabled {
		cursor: no-drop;
		color: @input-disabled-color;
		border: @input-disabled-border;
		background: @input-disabled-background;
	}
	
	//Input Focus
	&:focus {
		border: @input-focus-border;
		background: @input-focus-background;
		
		&.inverse {
			color: @input-inverse-focus-color;
			border: @input-inverse-focus-border;
			background: @input-inverse-focus-background;
		}
	}
	
	
	/*
	 * Input Indicators
	 */
	
	//Input Error
	&.error {
		color: @input-error-color;
		border-color: @input-error-color;
	}
	
	//Input Warning
	&.warning {
		color: @input-warning-color;
		border-color: @input-warning-color;
	}
	
	//Input Success
	&.success {
		color: @input-success-color;
		border-color: @input-success-color;
	}
	
	//Input Info
	&.info {
		color: @input-info-color;
		border-color: @input-info-color;
	}
	
	
	/*
	 * Input Styles
	 */
	
	//Input Inverse
	&.input-inverse {
		color: @input-inverse-color;
		border: @input-inverse-border;
		background-color: @input-inverse-background;
		.placeholder(@input-inverse-color, @input-placeholder-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
	}
}

//Input Search
input[type="search"] {
	border-radius: @input-search-border-radius;
}

//Checkbox and Radio Buttons
input[type="checkbox"],
input[type="radio"] {
	margin-right: 10px;
	display: inline-block;

	& + p {
		margin: 0;
		display: inline-block;
	}

	& + label {
		display: inline-block;
	}
}

//Reset height for `textarea`s
textarea {
	height: auto;
	line-height: @line-height;
}