.input-group {
  display: flex;

  & input {
    flex: 1 1 auto;
    margin: 0;

    &:not(:last-child) {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }
  }

  & button,
  & .button {
    flex: 0 0 auto;
  }

  & input,
  & button,
  & .button {
    position: relative;

    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }

    & + input,
    & + button,
    & + .button {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }

    & + button,
    & + .button {
      margin-inline-start: calc(var(--button-border-width) * -1);
    }

    & + input {
      margin-inline-start: calc(var(--input-border-width) * -1);
    }
  }
}
