label {
  display: block;
  margin: var(--label-margin);
  font-family: var(--label-font-family);
  font-weight: var(--label-font-weight);
  font-size: var(--label-font-size);
  color: var(--label-color);
  line-height: var(--label-line-height);
}
