/*
 * Label
 */

//Label
label {
	display: block;
	margin: @label-margin;
	font-family: @label-font-family;
	font-weight: @label-font-weight;
	.font-size(@label-font-size);
	color: @label-color;
	line-height: @label-line-height;
}