/*
 * Definitions
 */

// Select Extra Large
@select-xlarge-padding: 0 @padding-horizontal-xlarge;
@select-xlarge-height: @input-xlarge-height;
@select-xlarge-font-size: @input-xlarge-font-size;

// Select Large
@select-large-padding: 0 @padding-horizontal-large;
@select-large-height: @input-large-height;
@select-large-font-size: @input-large-font-size;

// Select Medium
@select-medium-padding: @select-padding;
@select-medium-height: @select-height;
@select-medium-font-size: @select-font-size;

// Select Small
@select-small-padding: 0 @padding-horizontal-small;
@select-small-height: @input-small-height;
@select-small-font-size: @input-small-font-size;

// Select Extra Small
@select-xsmall-padding: 0 @padding-horizontal-xsmall;
@select-xsmall-height: @input-xsmall-height;
@select-xsmall-font-size: @input-xsmall-font-size;


/*
 * Select Sizes
 */

// Select Extra Large
.select-xlarge {

	select {
		padding: @select-xlarge-padding;
		height: @select-xlarge-height;
		.font-size(@select-xlarge-font-size);
		line-height: @select-xlarge-height;
	}
}

// Select Large
.select-large {

	select {
		padding: @select-large-padding;
		height: @select-large-height;
		.font-size(@select-large-font-size);
		line-height: @select-large-height;
	}
}

// Select Medium
.select-medium {

	select {
		padding: @select-medium-padding;
		height: @select-medium-height;
		.font-size(@select-medium-font-size);
		line-height: @select-medium-height;
	}
}

// Select Small
.select-small {

	select {
		padding: @select-small-padding;
		height: @select-small-height;
		.font-size(@select-small-font-size);
		line-height: @select-small-height;
	}
}

// Select Extra Small
.select-xsmall {

	select {
		padding: @select-xsmall-padding;
		height: @select-xsmall-height;
		.font-size(@select-xsmall-font-size);
		line-height: @select-xsmall-height;
	}
}