:root {
  /**
   * Media Queries
   */

  @custom-media --xxl (min-width: 120rem);
  @custom-media --xl-down (max-width: 120rem);
  @custom-media --xl (min-width: 100rem) and (max-width: 120rem);
  @custom-media --xl-up (min-width: 100rem);
  @custom-media --l-down (max-width: 100rem);
  @custom-media --l (min-width: 80rem) and (max-width: 100rem);
  @custom-media --l-up (min-width: 80rem);
  @custom-media --m-down (max-width: 80rem);
  @custom-media --m (min-width: 60rem) and (max-width: 1279px);
  @custom-media --m-up (min-width: 60rem);
  @custom-media --s-down (max-width: 60rem);
  @custom-media --s (min-width: 40rem) and (max-width: 60rem);
  @custom-media --s-up (min-width: 40rem);
  @custom-media --xs-down (max-width: 40rem);
  @custom-media --xs (min-width: 20rem) and (max-width: 40rem);
  @custom-media --xs-up (min-width: 20rem);
  @custom-media --xxs (max-width: 20rem);

  /**
   * Root
   */

  --root-size: 16px;

  /**
   * Focus Outline
   */

  --focus-outline: 0.125rem solid var(--info);
  --focus-outline-offset: 0.125rem;

  /**
   * Container
   */

  --container-gutter: 1rem;
  --container-xxl: 80rem;
  --container-xl: 80rem;
  --container-l: 80rem;
  --container-m: 70rem;
  --container-s: 100%;
  --container-xs: 100%;
  --container-xxs: 100%;

  /**
   * Color
   */

  --color: var(--dark);

  /**
   * Background
   */

  --background: var(--white);

  /**
   * Border
   */

  --border-width: 1px;
  --border-style: solid;
  --border-color: var(--light);
  --border: var(--border-width) var(--border-style) var(--border-color);

  /**
   * Border Radius
   */

  --border-radius: 0.25em;

  /**
   * Box Shadow
   */

  --box-shadow: none;
  --hover-box-shadow: none;
  --focus-box-shadow: none;
  --active-box-shadow: none;

  /**
   * Z-Index
   */

  --z-index-high: 999;
  --z-index-medium: 99;
  --z-index-low: 9;

  /**
   * Speed
   */

  --speed-fast: 200ms;
  --speed-medium: 300ms;
  --speed-slow: 500ms;
  --speed: var(--speed-fast);

  /**
   * Height
   */

  --height-xxl: 3.25rem;
  --height-xl: 3rem;
  --height-l: 2.75rem;
  --height-m: 2.5rem;
  --height-s: 2.25rem;
  --height-xs: 2rem;
  --height-xxs: 1.75rem;

  /**
   * Space
   */

  --space-xxl: 4rem;
  --space-xl: 3rem;
  --space-l: 2rem;
  --space-m: 1.5rem;
  --space-s: 1rem;
  --space-xs: 0.75rem;
  --space-xxs: 0.5rem;

  /**
   * Max Width
   */

  --max-width-xxl: 70rem;
  --max-width-xl: 60rem;
  --max-width-l: 50rem;
  --max-width-m: 40rem;
  --max-width-s: 30rem;
  --max-width-xs: 20rem;
  --max-width-xxs: 10rem;

  /**
   * Font
   */

  --font-family-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-family-serif: Georgia, 'Times New Roman', Times, serif;
  --font-family-monospace: Monaco, Menlo, Consolas, 'Courier New', monospace;
  --font-family: var(--font-family-system);

  /**
   * Font Weights
   */

  --font-weight-thin: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 800;
  --font-weight: normal;

  /**
   * Font Sizes
   */

  --font-size-xxl: 1.5rem;
  --font-size-xl: 1.25rem;
  --font-size-l: 1.125rem;
  --font-size-m: 1rem;
  --font-size-s: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-xxs: 0.625rem;

  /**
   * Line height
   */

  --line-height-xxl: 2;
  --line-height-xl: 1.75;
  --line-height-l: 1.625;
  --line-height-m: 1.5;
  --line-height-s: 1.375;
  --line-height-xs: 1.25;
  --line-height-xxs: 1;
  --line-height: var(--line-height-s);

  /**
   * Letter Spacing
   */

  --letter-spacing-xxl: 0.1em;
  --letter-spacing-xl: 0.0825em;
  --letter-spacing-l: 0.075em;
  --letter-spacing-m: 0.05em;
  --letter-spacing-s: 0.0375em;
  --letter-spacing-xs: 0.025em;
  --letter-spacing-xxs: 0.0125em;
  --letter-spacing: 0;
}
