:root {
	

	/**
	 * Media Queries
	 */

	@custom-media --xs (max-width: 767px);
	@custom-media --s (min-width: 768px) and (max-width: 1023px);
	@custom-media --s-up (min-width: 768px);
	@custom-media --s-down (max-width: 1023px);
	@custom-media --m (min-width: 1024px) and (max-width: 1279px);
	@custom-media --m-up (min-width: 1024px);
	@custom-media --m-down (max-width: 1279px);
	@custom-media --l (min-width: 1280px) and (max-width: 1679px);
	@custom-media --l-up (min-width: 1280px);
	@custom-media --l-down (max-width: 1679px);
	@custom-media --xl (min-width: 1680px);


	/**
	 * Root
	 */

	--root-size: 10px;
	--root-size-xl: var(--root-size);
	--root-size-l: var(--root-size);
	--root-size-m: var(--root-size);
	--root-size-s: calc(var(--root-size) - 1);
	--root-size-xs: calc(var(--root-size) - 1);



	/**
	 * Body
	 */

	--body-font-family: var(--font-family-system);
	--body-color: var(--dark);


	/**
	 * Speed
	 */

	--speed-fast: 200ms;
	--speed-medium: 300ms;
	--speed-slow: 500ms;


	/**
	 * Border Radius
	 */

	--border-radius: 2px;


	/**
	 * Print
	 */

	--print-page-size: A4;
	--print-page-margin: 1.5cm 2cm;


	/**
	 * Z-Index
	 */

	--z-index-high: 999;
	--z-index-medium: 99;
	--z-index-low: 9;


	/**
	 * Height
	 */

	--height-xl: 6.0rem;
	--height-l: 5.0rem;
	--height-m: 4.4rem;
	--height-s: 3.6rem;
	--height-xs: 3.0rem;


	/**
	 * Space
	 */

	--space-xl: 8.0rem;
	--space-l: 5.0rem;
	--space-m: 3.5rem;
	--space-s: 2.0rem;
	--space-xs: 1.5rem;


	/**
	 * Margin
	 */

	--margin-xl: var(--space-xl);
	--margin-l: var(--space-l);
	--margin-m: var(--space-m);
	--margin-s: var(--space-s);
	--margin-xs: var(--space-xs);


	/**
	 * Padding
	 */

	--padding-xl: var(--space-xl);
	--padding-l: var(--space-l);
	--padding-m: var(--space-m);
	--padding-s: var(--space-s);
	--padding-xs: var(--space-xs);


	/**
	 * Max Width
	 */

	--max-width-xl: 1280px;
	--max-width-l: 1024px;
	--max-width-m: 800px;
	--max-width-s: 640px;
	--max-width-xs: 480px;


	/**
	 * Color
	 */

	--white: #FFFFFF;
	--black: #000000;

	--light: #CCCCCC;
	--light-100: color(var(--light) tint(80%));
	--light-200: color(var(--light) tint(60%));
	--light-300: color(var(--light) tint(40%));
	--light-400: color(var(--light) tint(20%));
	--light-500: var(--light);
	--light-600: color(var(--light) shade(5%));
	--light-700: color(var(--light) shade(10%));
	--light-800: color(var(--light) shade(15%));
	--light-900: color(var(--light) shade(20%));

	--grey: #666666;
	--grey-100: color(var(--grey) tint(30%));
	--grey-200: color(var(--grey) tint(22.5%));
	--grey-300: color(var(--grey) tint(15%));
	--grey-400: color(var(--grey) tint(7.5%));
	--grey-500: var(--grey);
	--grey-600: color(var(--grey) shade(7.5%));
	--grey-700: color(var(--grey) shade(15%));
	--grey-800: color(var(--grey) shade(22.5%));
	--grey-900: color(var(--grey) shade(30%));

	--dark: #333333;
	--dark-100: color(var(--dark) tint(20%));
	--dark-200: color(var(--dark) tint(15%));
	--dark-300: color(var(--dark) tint(10%));
	--dark-400: color(var(--dark) tint(5%));
	--dark-500: var(--dark);
	--dark-600: color(var(--dark) shade(7.5%));
	--dark-700: color(var(--dark) shade(15%));
	--dark-800: color(var(--dark) shade(22.5%));
	--dark-900: color(var(--dark) shade(30%));


	--primary: #3455DB;
	--primary-100: color(var(--primary) tint(40%));
	--primary-200: color(var(--primary) tint(30%));
	--primary-300: color(var(--primary) tint(20%));
	--primary-400: color(var(--primary) tint(10%));
	--primary-500: var(--primary);
	--primary-600: color(var(--primary) shade(10%));
	--primary-700: color(var(--primary) shade(20%));
	--primary-800: color(var(--primary) shade(30%));
	--primary-900: color(var(--primary) shade(40%));
	
	--secondary: #663399;
	--secondary-100: color(var(--secondary) tint(40%));
	--secondary-200: color(var(--secondary) tint(30%));
	--secondary-300: color(var(--secondary) tint(20%));
	--secondary-400: color(var(--secondary) tint(10%));
	--secondary-500: var(--secondary);
	--secondary-600: color(var(--secondary) shade(10%));
	--secondary-700: color(var(--secondary) shade(20%));
	--secondary-800: color(var(--secondary) shade(30%));
	--secondary-900: color(var(--secondary) shade(40%));

	--tertiary: #8B008B;
	--tertiary-100: color(var(--tertiary) tint(40%));
	--tertiary-200: color(var(--tertiary) tint(30%));
	--tertiary-300: color(var(--tertiary) tint(20%));
	--tertiary-400: color(var(--tertiary) tint(10%));
	--tertiary-500: var(--tertiary);
	--tertiary-600: color(var(--tertiary) shade(10%));
	--tertiary-700: color(var(--tertiary) shade(20%));
	--tertiary-800: color(var(--tertiary) shade(30%));
	--tertiary-900: color(var(--tertiary) shade(40%));

	--info: #1E90FF;
	--info-100: color(var(--info) tint(40%));
	--info-200: color(var(--info) tint(30%));
	--info-300: color(var(--info) tint(20%));
	--info-400: color(var(--info) tint(10%));
	--info-500: var(--info);
	--info-600: color(var(--info) shade(10%));
	--info-700: color(var(--info) shade(20%));
	--info-800: color(var(--info) shade(30%));
	--info-900: color(var(--info) shade(40%));

	--error: #D91E18;
	--error-100: color(var(--error) tint(40%));
	--error-200: color(var(--error) tint(30%));
	--error-300: color(var(--error) tint(20%));
	--error-400: color(var(--error) tint(10%));
	--error-500: var(--error);
	--error-600: color(var(--error) shade(10%));
	--error-700: color(var(--error) shade(20%));
	--error-800: color(var(--error) shade(30%));
	--error-900: color(var(--error) shade(40%));

	--warning: #FF4500;
	--warning-100: color(var(--warning) tint(40%));
	--warning-200: color(var(--warning) tint(30%));
	--warning-300: color(var(--warning) tint(20%));
	--warning-400: color(var(--warning) tint(10%));
	--warning-500: var(--warning);
	--warning-600: color(var(--warning) shade(10%));
	--warning-700: color(var(--warning) shade(20%));
	--warning-800: color(var(--warning) shade(30%));
	--warning-900: color(var(--warning) shade(40%));

	--success: #00AA00;
	--success-100: color(var(--success) tint(40%));
	--success-200: color(var(--success) tint(30%));
	--success-300: color(var(--success) tint(20%));
	--success-400: color(var(--success) tint(10%));
	--success-500: var(--success);
	--success-600: color(var(--success) shade(10%));
	--success-700: color(var(--success) shade(20%));
	--success-800: color(var(--success) shade(30%));
	--success-900: color(var(--success) shade(40%));


	/**
	 * Gutter
	 */
	
	--gutter: 1.5rem;


	/**
	 * Container
	 */

	--container-xl: 1440px;
	--container-l: 1280px;
	--container-m: 1024px;
	--container-s: 100%;
	--container-xs: 100%;


	/**
	 * Font
	 */

	--font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-serif: Georgia, "Times New Roman", Times, serif;
	--font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
	

	/**
	 * Generic Font Weights
	 */

	--font-weight-thin: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;
	--font-weight-black: 800;


	/**
	 * Font Sizes
	 */

	--font-size-xl: 2.0rem;
	--font-size-l: 1.8rem;
	--font-size-m: 1.6rem;
	--font-size-s: 1.4rem;
	--font-size-xs: 1.2rem;


	/**
	 * Line height
	 */
	
	--line-height-xl: 1.8;
	--line-height-l: 1.65;
	--line-height-m: 1.5;
	--line-height-s: 1.35;
	--line-height-xs: 1.2;


	/**
	 * Headings
	 */

	--headings-margin: 1em 0 0.5em 0;
	--headings-font-family: inherit;
	--headings-font-weight: inherit;
	--headings-color: inherit;
	--headings-line-height: var(--line-height-s);


	/**
	 * Headings Small
	 */

	--headings-small-font-family: inherit;
	--headings-small-font-weight: inherit;
	--headings-small-size: 0.6em;
	--headings-small-color: inherit;


	/**
	 * Heading Font Sizes
	 */
	
	--h1-font-size: 3.2rem;
	--h2-font-size: 2.4rem;
	--h3-font-size: 2.0rem;
	--h4-font-size: 1.8rem;
	--h5-font-size: 1.6rem;
	--h6-font-size: 1.4rem;


	/**
	 * Paragraph
	 */
	
	--paragraph-margin: 1em 0;
	--paragraph-font-family: inherit;
	--paragraph-font-weight: inherit;
	--paragraph-font-size: var(--font-size-m);
	--paragraph-color: inherit;
	--paragraph-line-height: var(--line-height-m);


	/**
	 * Link
	 */

	--link-color: var(--primary);
	--link-text-decoration: none;
	--link-hover-color: var(--dark);
	--link-hover-decoration: underline;


	/**
	 * Strong
	 */

	--strong-font-family: inherit;
	--strong-font-weight: var(--font-weight-bold);
	--strong-color: inherit;


	/**
	 * Emphasis
	 */

	--emphasis-font-style: italic;


	/**
	 * Lead
	 */

	--lead-margin: 0 0 1em 0;
	--lead-font-family: inherit;
	--lead-font-weight: var(--font-weight-light);
	--lead-font-size: var(--font-size-xl);
	--lead-color: inherit;
	--lead-line-height: var(--line-height-m);


	/**
	 * Horizontal Rule
	 */

	--horizontal-rule-margin: var(--margin-m) auto;
	--horizontal-rule-height: 1px;
	--horizontal-rule-background: var(--light-grey);


	/**
	 * Blockquote
	 */

	--blockquote-margin: 2em 0;
	--blockquote-padding: 0 1em;
	--blockquote-font-family: inherit;
	--blockquote-font-weight: var(--lead-font-weight);
	--blockquote-font-size: var(--lead-font-size);
	--blockquote-font-style: normal;
	--blockquote-line-height: var(--lead-line-height);
	--blockquote-color: var(--lead-color);


	/**
	 * Cite
	 */

	--cite-margin: 1em 0;
	--cite-font-family: inherit;
	--cite-font-weight: var(--font-weight-medium);
	--cite-font-size: var(--font-size-s);
	--cite-font-style: normal;
	--cite-color: inherit;
	--cite-text-align: left;


	/**
	 * List
	 */

	--list-margin: 1em 0;
	--list-padding: 0;
	--list-font-family: var(--paragraph-font-family);
	--list-font-weight: var(--paragraph-font-weight);
	--list-font-size: var(--paragraph-font-size);
	--list-color: var(--paragraph-color);
	--list-line-height: var(--paragraph-line-height);


	/**
	 * List Item
	 */

	--list-item-margin: 0.5em 0 0.5em 1.5em;
	--list-item-padding: 0 0 0 0.5em;


	/**
	 * Child List
	 */

	--child-list-margin:  0.5em 0 0.5em 0;
	--child-list-padding: 0;
	--child-list-item-margin: var(--list-item-margin);
	--child-list-item-padding: var(--list-item-padding);


	/**
	 * Unordered List
	 */

	--unordered-list-icon: disc;
	--unordered-child-list-icon: disc;


	/** 
	 * Definition List
	 */

	--definition-list-margin: var(--paragraph-margin);
	--definition-list-padding: 0;
	--definition-list-font-size: var(--paragraph-font-size);


	/** 
	 * Definition Term
	 */

	--definition-term-margin: 0.5em 0;
	--definition-term-font-family: var(--strong-font-family);
	--definition-term-font-weight: var(--strong-font-weight);
	--definition-term-font-size: inherit;
	--definition-term-color: var(--paragraph-color);


	/** 
	 * Definition Description
	 */

	--definition-description-margin: 0 0 1em 0;
	--definition-description-font-family: var(--paragraph-font-family);
	--definition-description-font-weight: var(--paragraph-font-weight);
	--definition-description-font-size: inherit;
	--definition-description-color: var(--paragraph-color);


	/**
	 * Code
	 */

	--code-font-family: var(--font-family-monospace);
	--code-font-weight: normal;
	--code-font-size: var(--font-size-s);
	--code-color: var(--tertiary);


	/** 
	 * Pre
	 */

	--pre-margin: 1em 0;
	--pre-padding: 0.5em;
	--pre-font-family: var(--code-font-family);
	--pre-font-weight: normal;
	--pre-font-size: var(--font-size-s);
	--pre-color: inherit;
	--pre-tab-size: 4;
	--pre-hyphens: none;
	--pre-line-height: var(--line-height-m);
	--pre-background: var(--light);
	--pre-border: 1px solid var(--light-grey);
	--pre-code-color: var(--code-color);


	/**
	 * Kbd
	 */

	--kbd-margin: 0 0.2em;
	--kbd-padding: 0.2em 0.4em;
	--kbd-font-family: var(--code-font-family);
	--kbd-font-weight: var(--code-font-weight);
	--kbd-font-size: var(--code-font-size);
	--kbd-color: var(--code-color);
	--kbd-background: var(--pre-background);
	--kbd-border: var(--pre-border);


	/**
	 * Mark
	 */

	--mark-margin: 0;
	--mark-padding: 0.2em 0.4em;
	--mark-font-family: inherit;
	--mark-font-weight: inherit;
	--mark-font-size: inherit;
	--mark-color: inherit;
	--mark-background: yellow;


	/**
	 * Form Message
	 */

	--form-message-margin: var(--label-margin);
	--form-message-font-family: var(--paragraph-font-family);
	--form-message-font-weight: var(--paragraph-font-weight);
	--form-message-font-size: var(--font-size-s);
	--form-message-color: var(--paragraph-color);
	--form-message-line-height: var(--paragraph-line-height);


	/** 
	 * Field
	 */

	--field-margin: var(--margin-s) 0;


	/** 
	 * Fieldset
	 */

	--fieldset-margin: var(--field-margin);
	--fieldset-padding: var(--padding-s);
	--fieldset-border: 1px solid var(--light-grey);


	/** 
	 * Legend
	 */

	--legend-padding: 0.5em;
	--legend-font-family: inherit;
	--legend-font-weight: inherit;
	--legend-font-size: var(--font-size-m);
	--legend-color: inherit;


	/** 
	 * Label
	 */
	
	--label-margin: 1rem 0;
	--label-font-family: inherit;
	--label-font-weight: inherit;
	--label-font-size: var(--font-size-s);
	--label-color: inherit;
	--label-line-height: var(--line-height-m);


	/** 
	 * Input
	 */
	
	--input-margin: var(--label-margin);
	--input-padding: 0 1em;
	--input-height: var(--height-m);
	--input-color: var(--body-color);
	--input-font-family: inherit;
	--input-font-weight: inherit;
	--input-font-size: var(--font-size-m);
	--input-line-height: var(--line-height-m);
	--input-background: var(--white);
	--input-border: 1px solid;
	--input-border-color: var(--light-grey);
	--input-border-radius: var(--border-radius);

	--input-hover-color: var(--input-color);
	--input-hover-background: color(var(--input-background) shade(2%));
	--input-hover-border-color: color(var(--light-grey) shade(10%));

	--input-focus-color: var(--input-color);
	--input-focus-background: color(var(--input-background) shade(2%));
	--input-focus-border-color: var(--primary);

	--input-disabled-color: var(--input-color);
	--input-disabled-background: color(var(--input-background) shade(5%));
	--input-disabled-border-color: var(--input-border);


	/** 
	 * Input Sizes
	 */

	--input-xl-padding: var(--input-padding);
	--input-xl-height: var(--height-xl);
	--input-xl-font-size: var(--font-size-xl);

	--input-l-padding: var(--input-padding);
	--input-l-height: var(--height-l);
	--input-l-font-size: var(--font-size-l);

	--input-s-padding: var(--input-padding);
	--input-s-height: var(--height-s);
	--input-s-font-size: var(--font-size-s);

	--input-xs-padding: var(--input-padding);
	--input-xs-height: var(--height-xs);
	--input-xs-font-size: var(--font-size-xs);


	/**
	 * Textarea
	 */
	
	--textarea-padding: 1em;
	--textarea-line-height: inherit;


	/**
	 * Select
	 */
	
	--select-margin: var(--input-margin);
	--select-padding: var(--input-padding);
	--select-height: var(--input-height);
	--select-font-family: var(--input-font-family);
	--select-font-weight: var(--input-font-weight);
	--select-font-size: var(--input-font-size);
	--select-color: var(--input-color);
	--select-line-height: auto;
	--select-background: var(--input-background);
	--select-border: var(--input-border);
	--select-border-color: var(--input-border-color);
	--select-border-radius: var(--border-radius);

	--select-arrow-size: 4px;
	--select-arrow-background: var(--dark);

	--select-hover-color: var(--input-hover-color);
	--select-hover-background: var(--input-hover-background);
	--select-hover-border-color: var(--input-hover-border-color);

	--select-focus-color: var(--input-focus-color);
	--select-focus-background: var(--input-focus-background);
	--select-focus-border-color: var(--input-focus-border-color);

	--select-disabled-color: var(--input-disabled-color);
	--select-disabled-background: var(--input-disabled-background);
	--select-disabled-border-color: var(--input-disabled-border-color);


	/** 
	 * Select Sizes
	 */

	--select-xl-padding: var(--input-xl-padding);
	--select-xl-height: var(--input-xl-height);
	--select-xl-font-size: var(--input-xl-font-size);

	--select-l-padding: var(--input-l-padding);
	--select-l-height: var(--input-l-height);
	--select-l-font-size: var(--input-l-font-size);

	--select-s-padding: var(--input-s-padding);
	--select-s-height: var(--input-s-height);
	--select-s-font-size: var(--input-s-font-size);

	--select-xs-padding: var(--input-xs-padding);
	--select-xs-height: var(--input-xs-height);
	--select-xs-font-size: var(--input-xs-font-size);


	/**
	 * Control
	 */

	--control-margin: var(--input-margin);
	--control-padding: 0 0 0 1.5em;
	--control-color: var(--input-color);

	--control-hover-indicator-background: var(--input-hover-background);
	--control-hover-indicator-border-color: var(--input-hover-border-color);

	--control-focus-indicator-box-shadow: 0 0 0 1px var(--white), 0 0 0 2px var(--primary);

	--control-checked-indicator-background: var(--primary);
	--control-checked-indicator-border: 1px solid var(--primary);
	--control-checked-label-color: var(--control-label-color);

	--control-indicator-size: 20px;
	--control-indicator-color: var(--primary);
	--control-indicator-background: var(--input-background);
	--control-indicator-border: var(--input-border);
	--control-indicator-border-color: var(--input-border-color);

	--control-label-margin: 0 0 0 1rem;
	--control-label-font-family: var(--label-font-family);
	--control-label-font-weight: var(--label-font-weight);
	--control-label-font-size: var(--label-font-size);
	--control-label-color: var(--label-color);
	--control-label-line-height: var(--label-line-height);

	--control-inline-margin-right: 2rem;

	--checkbox-border-radius: none;

	--radio-border-radius: 50%;


	/**
	 * Button
	 */

	--button-padding:  calc((var(--button-height) - var(--button-font-size) - (var(--button-border-width) * 2)) / 2) 1.5em;
	--button-height: var(--height-m);
	--button-font-family: inherit;
	--button-font-weight: var(--font-weight-medium);
	--button-font-size: var(--font-size-m);
	--button-color: var(--dark-grey);
	--button-line-height: 1;
	--button-letter-spacing: inherit;
	--button-text-align: center;
	--button-text-transform: none;
	--button-background: var(--white);
	--button-border-width: 1px;
	--button-border-style: solid;
	--button-border-color: var(--light-grey);
	--button-border-radius: var(--border-radius);

	--button-hover-color: var(--dark-grey);
	--button-hover-background: color(var(--button-background) shade(20%));
	--button-hover-border-color: color(var(--light-grey) shade(20%));

	--button-disabled-opacity: 0.5;

	--button-block-text-align: center;


	/** 
	 * Button Sizes
	 */
	
	--button-xl-padding: calc((var(--button-xl-height) - var(--button-xl-font-size) - (var(--button-border-width) * 2)) / 2) 1.5em;
	--button-xl-height: var(--height-xl);
	--button-xl-font-size: var(--font-size-xl);

	--button-l-padding: calc((var(--button-l-height) - var(--button-l-font-size) - (var(--button-border-width) * 2)) / 2) 1.5em;
	--button-l-height: var(--height-l);
	--button-l-font-size: var(--font-size-l);

	--button-s-padding: calc((var(--button-s-height) - var(--button-s-font-size) - (var(--button-border-width) * 2)) / 2) 1.5em;
	--button-s-height: var(--height-s);
	--button-s-font-size: var(--font-size-s);

	--button-xs-padding: calc((var(--button-xs-height) - var(--button-xs-font-size) - (var(--button-border-width) * 2)) / 2) 1.5em;
	--button-xs-height: var(--height-xs);
	--button-xs-font-size: var(--font-size-xs);


	/** 
	 * Button Fills
	 */
	
	--button-light-color: var(--dark);
	--button-light-background: var(--light);
	--button-light-border-color: var(--light);
	--button-light-hover-color: var(--button-light-color);
	--button-light-hover-background: color(var(--button-light-background) shade(20%));
	--button-light-hover-border-color: color(var(--button-light-border-color) shade(20%));
	
	--button-dark-color: var(--white);
	--button-dark-background: var(--dark);
	--button-dark-border-color: var(--dark);
	--button-dark-hover-color: var(--button-dark-color);
	--button-dark-hover-background: color(var(--button-dark-background) shade(20%));
	--button-dark-hover-border-color: color(var(--button-dark-border-color) shade(20%));
	
	--button-primary-color: var(--white);
	--button-primary-background: var(--primary);
	--button-primary-border-color: var(--primary);
	--button-primary-hover-color: var(--button-primary-color);
	--button-primary-hover-background: color(var(--button-primary-background) shade(20%));
	--button-primary-hover-border-color: color(var(--button-primary-border-color) shade(20%));
	
	--button-secondary-color: var(--white);
	--button-secondary-background: var(--secondary);
	--button-secondary-border-color: var(--secondary);
	--button-secondary-hover-color: var(--button-secondary-color);
	--button-secondary-hover-background: color(var(--button-secondary-background) shade(20%));
	--button-secondary-hover-border-color: color(var(--button-secondary-border-color) shade(20%));

	--button-tertiary-color: var(--white);
	--button-tertiary-background: var(--tertiary);
	--button-tertiary-border-color: var(--tertiary);
	--button-tertiary-hover-color: var(--button-tertiary-color);
	--button-tertiary-hover-background: color(var(--button-tertiary-background) shade(20%));
	--button-tertiary-hover-border-color: color(var(--button-tertiary-border-color) shade(20%));


	/**
	 * Figure
	 */

	--figure-display: block;
	--figure-margin: 0;
	--figure-padding: 0;

	--figure-caption-margin: 1em 0;
	--figure-caption-font-family: inherit;
	--figure-caption-font-weight: inherit;
	--figure-caption-font-size: var(--font-size-s);
	--figure-caption-color: inherit;
	--figure-caption-text-align: left;


	/**
	 * Media
	 */
	
	--media-background: color(var(--black) alpha(10%));


	/**
	 * Nav
	 */

	--nav-list-margin: 0;
	--nav-item-margin: 1rem 0;
	--nav-item-padding: 0;
	--nav-inline-item-margin: 0 1rem;


	/**
	 * Spinner
	 */

	--spinner-size: 3rem;
	--spinner-speed: var(--speed-slow);
	--spinner-background-color: color(var(--black) alpha(10%));
	--spinner-foreground-color: var(--white);


	/**
	 * Table
	 */

	--table-margin: var(--paragraph-margin);
	--table-background: none;
	--table-border: 1px solid var(--light-grey);
	--table-border-radius: var(--border-radius);

	--table-caption-margin: 1em 0;
	--table-caption-font-family: inherit;
	--table-caption-font-weight: inherit;
	--table-caption-font-size: var(--font-size-m);
	--table-caption-color: inherit;
	--table-caption-text-align: left;

	--table-head-padding: 0.5em;
	--table-head-font-family: inherit;
	--table-head-font-weight: var(--font-weight-medium);
	--table-head-font-size: var(--font-size-s);
	--table-head-text-align: left;
	--table-head-text-transform: none;
	--table-head-color: inherit;
	--table-head-border: var(--table-border);
	--table-head-background: var(--light);

	--table-cell-padding: 0.5em;
	--table-cell-font-family: inherit;
	--table-cell-font-weight: inherit;
	--table-cell-font-size: var(--font-size-s);
	--table-cell-color: inherit;
	--table-cell-line-height: var(--line-height-m);
	--table-cell-vertical-align: middle;
	--table-cell-border: var(--table-border);


}