:root {
  /**
   * Body
   */

  --body-font-family: var(--font-family);
  --body-font-weight: var(--font-weight);
  --body-color: var(--color);
  --body-line-height: var(--line-height);
  --body-letter-spacing: var(--letter-spacing);
  --body-background: var(--background);

  /**
   * Icon
   */

  --icon-size: var(--icon-m-size);
  --icon-xl-size: 2rem;
  --icon-l-size: 1.75rem;
  --icon-m-size: 1.5rem;
  --icon-s-size: 1.25rem;
  --icon-xs-size: 1rem;

  /**
   * Print
   */

  --print-page-size: A4;
  --print-page-margin: 1.5cm 2cm;

  /**
   * Headings
   */

  --headings-margin: 2em 0 1em 0;
  --headings-font-family: inherit;
  --headings-font-weight: var(--font-weight-bold);
  --headings-color: inherit;
  --headings-line-height: var(--line-height-s);
  --headings-text-transform: none;
  --headings-letter-spacing: var(--letter-spacing);

  /**
   * Headings Small
   */

  --headings-small-font-family: inherit;
  --headings-small-font-weight: inherit;
  --headings-small-size: 0.6em;
  --headings-small-color: inherit;

  /**
   * Heading Font Sizes
   */

  --h1-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 1.125rem;
  --h5-font-size: 1rem;
  --h6-font-size: 0.875rem;

  /**
   * Display Title
   */

  --display-title-margin: 0;
  --display-title-font-family: var(--headings-font-family);
  --display-title-font-weight: var(--headings-font-weight);
  --display-title-font-size: 2.25rem;
  --display-title-color: inherit;
  --display-title-line-height: var(--line-height-xs);
  --display-title-text-transform: uppercase;
  --display-title-letter-spacing: var(--letter-spacing-m);

  /**
   * Big
   */

  --big-margin: 0.5em 0;
  --big-font-family: var(--headings-font-family);
  --big-font-weight: var(--headings-font-weight);
  --big-line-height: var(--line-height-xs);
  --big-base-size: 36px;
  --big-min-size: 36;
  --big-max-size: 56;
  --big-base-width: 320px;
  --big-min-width: 320;
  --big-max-width: 960;

  /**
   * Small Caps
   */

  --small-caps-margin: 1em 0;
  --small-caps-font-family: var(--headings-font-family);
  --small-caps-font-weight: var(--headings-font-weight);
  --small-caps-font-size: var(--font-size-s);
  --small-caps-line-height: var(--line-height-xs);
  --small-caps-text-transform: uppercase;
  --small-caps-letter-spacing: var(--letter-spacing);

  /**
   * Lead
   */

  --lead-margin: 0.5em 0 1em 0;
  --lead-font-family: inherit;
  --lead-font-weight: inherit;
  --lead-font-size: var(--font-size-xl);
  --lead-color: inherit;
  --lead-line-height: var(--line-height-m);

  /**
   * Paragraph
   */

  --paragraph-margin: 1em 0;
  --paragraph-font-family: inherit;
  --paragraph-font-weight: inherit;
  --paragraph-font-size: var(--font-size-m);
  --paragraph-color: inherit;
  --paragraph-line-height: var(--line-height-m);

  /**
   * Link
   */

  --link-color: currentColor;
  --link-text-decoration: underline;
  --link-hover-color: currentColor;
  --link-hover-text-decoration: underline;

  /**
   * Strong
   */

  --strong-font-family: inherit;
  --strong-font-weight: var(--font-weight-bold);
  --strong-color: inherit;

  /**
   * Emphasis
   */

  --emphasis-font-style: italic;

  /**
   * Horizontal Rule
   */

  --horizontal-rule-margin: var(--space-s) auto;
  --horizontal-rule-height: var(--border-width);
  --horizontal-rule-background: var(--border-color);

  /**
   * Blockquote
   */

  --blockquote-margin: 2em 0;
  --blockquote-padding: 0 1em;
  --blockquote-font-family: inherit;
  --blockquote-font-weight: var(--lead-font-weight);
  --blockquote-font-size: var(--lead-font-size);
  --blockquote-font-style: normal;
  --blockquote-line-height: var(--lead-line-height);
  --blockquote-color: var(--lead-color);

  /**
   * Cite
   */

  --cite-margin: 1em 0;
  --cite-font-family: inherit;
  --cite-font-weight: inherit;
  --cite-font-size: var(--font-size-s);
  --cite-font-style: normal;
  --cite-color: inherit;
  --cite-text-align: inherit;

  /**
   * List
   */

  --list-margin: 1em 0;
  --list-padding: 0;
  --list-font-family: var(--paragraph-font-family);
  --list-font-weight: var(--paragraph-font-weight);
  --list-font-size: var(--paragraph-font-size);
  --list-color: var(--paragraph-color);
  --list-line-height: var(--paragraph-line-height);

  /**
   * List Item
   */

  --list-item-margin: 0.5em 0 0.5em 1.5em;
  --list-item-padding: 0 0 0 0.5em;

  /**
   * Child List
   */

  --child-list-margin: 0.5em 0 0.5em 0;
  --child-list-padding: 0;
  --child-list-item-margin: var(--list-item-margin);
  --child-list-item-padding: var(--list-item-padding);

  /**
   * Unordered List
   */

  --unordered-list-icon: disc;
  --unordered-child-list-icon: disc;

  /** 
   * Definition List
   */

  --definition-list-margin: var(--paragraph-margin);
  --definition-list-padding: 0;
  --definition-list-font-size: var(--paragraph-font-size);

  /** 
   * Definition Term
   */

  --definition-term-margin: 0.5em 0;
  --definition-term-font-family: var(--headings-font-family);
  --definition-term-font-weight: var(--headings-font-weight);
  --definition-term-font-size: inherit;
  --definition-term-color: var(--headings-color);

  /** 
   * Definition Description
   */

  --definition-description-margin: 0 0 1em 0;
  --definition-description-font-family: var(--paragraph-font-family);
  --definition-description-font-weight: var(--paragraph-font-weight);
  --definition-description-font-size: inherit;
  --definition-description-color: var(--paragraph-color);

  /**
   * Code
   */

  --code-font-family: var(--font-family-monospace);
  --code-font-weight: normal;
  --code-font-size: 80%;
  --code-color: var(--secondary);

  /** 
   * Pre
   */

  --pre-margin: 1em 0;
  --pre-padding: 1em;
  --pre-font-family: var(--code-font-family);
  --pre-font-weight: normal;
  --pre-font-size: var(--code-font-size);
  --pre-color: inherit;
  --pre-tab-size: 4;
  --pre-hyphens: none;
  --pre-line-height: var(--line-height-m);
  --pre-background: var(--light-50);
  --pre-border-width: var(--border-width);
  --pre-border-style: var(--border-style);
  --pre-border-color: var(--border-color);
  --pre-border-radius: var(--border-radius);

  --pre-code-color: var(--code-color);

  /**
   * Kbd
   */

  --kbd-margin: 0 0.2em;
  --kbd-padding: 0.2em 0.4em;
  --kbd-font-family: var(--code-font-family);
  --kbd-font-weight: var(--code-font-weight);
  --kbd-font-size: var(--code-font-size);
  --kbd-color: var(--code-color);
  --kbd-background: var(--pre-background);
  --kbd-border-width: var(--pre-border-width);
  --kbd-border-style: var(--pre-border-style);
  --kbd-border-color: var(--pre-border-color);
  --kbd-border-radius: var(--pre-border-radius);

  /**
   * Mark
   */

  --mark-margin: 0;
  --mark-padding: 0.2em 0.4em;
  --mark-font-family: inherit;
  --mark-font-weight: inherit;
  --mark-font-size: inherit;
  --mark-color: inherit;
  --mark-background: yellow;

  /**
   * Form Message
   */

  --form-message-margin: var(--label-margin);
  --form-message-font-family: var(--paragraph-font-family);
  --form-message-font-weight: var(--paragraph-font-weight);
  --form-message-font-size: var(--font-size-s);
  --form-message-color: var(--paragraph-color);
  --form-message-line-height: var(--paragraph-line-height);

  /** 
   * Field
   */

  --field-margin: var(--margin-xs) 0;
  --field-float-label-padding: 0.25em;

  /** 
   * Fieldset
   */

  --fieldset-margin: var(--field-margin);
  --fieldset-padding: var(--padding-xs);
  --fieldset-border-width: var(--border-width);
  --fieldset-border-style: var(--border-style);
  --fieldset-border-color: var(--border-color);
  --fieldset-border-radius: var(--border-radius);

  /** 
   * Legend
   */

  --legend-padding: 0.5em;
  --legend-font-family: inherit;
  --legend-font-weight: inherit;
  --legend-font-size: var(--font-size-m);
  --legend-color: inherit;

  /** 
   * Label
   */

  --label-margin: 1rem 0;
  --label-font-family: inherit;
  --label-font-weight: inherit;
  --label-font-size: var(--font-size-s);
  --label-color: inherit;
  --label-line-height: var(--line-height-m);

  /** 
   * Input
   */

  --input-margin: var(--label-margin);
  --input-padding: 0 1em;
  --input-height: var(--height-m);
  --input-color: inherit;
  --input-font-family: inherit;
  --input-font-weight: inherit;
  --input-font-size: var(--font-size-m);
  --input-line-height: var(--line-height-m);
  --input-background: var(--background);
  --input-border-width: var(--border-width);
  --input-border-style: var(--border-style);
  --input-border-color: var(--border-color);
  --input-border-radius: var(--border-radius);
  --input-box-shadow: var(--box-shadow);

  --input-placeholder-color: var(--input-color);
  --input-placeholder-opacity: 0.5;

  --input-hover-color: var(--input-color);
  --input-hover-background: color(var(--input-background) shade(2.5%));
  --input-hover-border-color: color(var(--input-border-color) shade(2.5%));
  --input-hover-box-shadow: var(--hover-box-shadow);

  --input-focus-color: var(--input-color);
  --input-focus-background: color(var(--input-background) shade(5%));
  --input-focus-border-color: color(var(--input-border-color) shade(5%));
  --input-focus-box-shadow: var(--focus-box-shadow);

  --input-disabled-color: var(--input-color);
  --input-disabled-background: color(var(--input-background) shade(5%));
  --input-disabled-border-color: var(--input-border-color);

  /** 
   * Input Sizes
   */

  --input-xl-padding: var(--input-padding);
  --input-xl-height: var(--height-xl);
  --input-xl-font-size: var(--font-size-xl);

  --input-l-padding: var(--input-padding);
  --input-l-height: var(--height-l);
  --input-l-font-size: var(--font-size-l);

  --input-s-padding: var(--input-padding);
  --input-s-height: var(--height-s);
  --input-s-font-size: var(--font-size-s);

  --input-xs-padding: var(--input-padding);
  --input-xs-height: var(--height-xs);
  --input-xs-font-size: var(--font-size-xs);

  /**
   * Textarea
   */

  --textarea-padding: 1em;
  --textarea-line-height: inherit;

  /**
   * Select
   */

  --select-margin: var(--input-margin);
  --select-padding: var(--input-padding);
  --select-height: var(--input-height);
  --select-font-family: var(--input-font-family);
  --select-font-weight: var(--input-font-weight);
  --select-font-size: var(--input-font-size);
  --select-color: var(--input-color);
  --select-line-height: auto;
  --select-background: var(--input-background);
  --select-border-width: var(--input-border-width);
  --select-border-style: var(--input-border-style);
  --select-border-color: var(--input-border-color);
  --select-border-radius: var(--border-radius);
  --select-box-shadow: var(--input-box-shadow);

  --select-arrow-size: 4px;
  --select-arrow-background: var(--dark);

  --select-hover-color: var(--input-hover-color);
  --select-hover-background: var(--input-hover-background);
  --select-hover-border-color: var(--input-hover-border-color);
  --select-hover-box-shadow: var(--input-hover-box-shadow);

  --select-focus-color: var(--input-focus-color);
  --select-focus-background: var(--input-focus-background);
  --select-focus-border-color: var(--input-focus-border-color);
  --select-focus-box-shadow: var(--input-focus-box-shadow);

  --select-disabled-color: var(--input-disabled-color);
  --select-disabled-background: var(--input-disabled-background);
  --select-disabled-border-color: var(--input-disabled-border-color);

  /** 
   * Select Sizes
   */

  --select-xl-padding: var(--input-xl-padding);
  --select-xl-height: var(--input-xl-height);
  --select-xl-font-size: var(--input-xl-font-size);

  --select-l-padding: var(--input-l-padding);
  --select-l-height: var(--input-l-height);
  --select-l-font-size: var(--input-l-font-size);

  --select-s-padding: var(--input-s-padding);
  --select-s-height: var(--input-s-height);
  --select-s-font-size: var(--input-s-font-size);

  --select-xs-padding: var(--input-xs-padding);
  --select-xs-height: var(--input-xs-height);
  --select-xs-font-size: var(--input-xs-font-size);

  /**
   * Control
   */

  --control-margin: var(--input-margin);
  --control-padding: 0;
  --control-font-family: var(--input-font-family);
  --control-font-weight: var(--input-font-weight);
  --control-font-size: var(--input-font-size);
  --control-color: var(--input-color);
  --control-line-height: var(--input-line-height);

  --control-hover-indicator-background: var(--input-hover-background);
  --control-hover-indicator-border-color: var(--input-hover-border-color);
  --control-hover-indicator-box-shadow: var(--input-hover-box-shadow);

  --control-focus-indicator-background: var(--input-focus-background);
  --control-focus-indicator-border-color: var(--input-focus-border-color);
  --control-focus-indicator-box-shadow: var(--input-focus-box-shadow);

  --control-checked-indicator-background: var(--primary);
  --control-checked-indicator-border: var(--border-width) var(--border-style) var(--input-focus-border-color);
  --control-checked-label-color: var(--control-label-color);

  --control-indicator-size: 1.5rem;
  --control-indicator-background: var(--input-background);
  --control-indicator-border-width: var(--input-border-width);
  --control-indicator-border-style: var(--input-border-style);
  --control-indicator-border-color: var(--input-border-color);
  --control-indicator-box-shadow: var(--input-box-shadow);

  --control-label-margin: 0 0 0 1rem;
  --control-label-color: inherit;

  --control-inline-margin-right: 2rem;

  --checkbox-indicator-border-radius: var(--input-border-radius);

  --radio-indicator-size: 0.5em;
  --radio-indicator-background: var(--input-background);
  --radio-indicator-border-radius: var(--control-indicator-size);

  --switch-indicator-background: var(--control-indicator-background);
  --switch-indicator-border-radius: var(--control-indicator-size);

  /** 
   * Control Sizes
   */

  --control-xl-font-size: var(--font-size-xl);
  --control-xl-indicator-size: 2rem;

  --control-l-font-size: var(--font-size-l);
  --control-l-indicator-size: 1.75rem;

  --control-s-font-size: var(--font-size-s);
  --control-s-indicator-size: 1.25rem;

  --control-xs-font-size: var(--font-size-xs);
  --control-xs-indicator-size: 1rem;

  /** 
   * Range
   */

  --range-margin: var(--input-margin);
  --range-padding: 0;
  --range-height: 0.75rem;

  --range-thumb-width: 2em;
  --range-thumb-height: var(--range-thumb-width);
  --range-thumb-background: var(--input-background);
  --range-thumb-border-width: var(--input-border-width);
  --range-thumb-border-style: var(--input-border-style);
  --range-thumb-border-color: var(--input-border-color);
  --range-thumb-border-radius: 50%;
  --range-thumb-box-shadow: var(--input-box-shadow);

  --range-thumb-hover-background: var(--input-hover-background);
  --range-thumb-hover-border-color: var(--input-hover-border-color);
  --range-thumb-hover-box-shadow: var(--input-hover-box-shadow);

  --range-thumb-focus-background: var(--input-focus-background);
  --range-thumb-focus-border-color: var(--input-focus-border-color);
  --range-thumb-focus-box-shadow: var(--input-focus-box-shadow);

  --range-track-background: var(--input-border-color);
  --range-track-border-width: 0;
  --range-track-border-style: none;
  --range-track-border-color: none;
  --range-track-border-radius: var(--input-border-radius);
  --range-track-box-shadow: var(--input-box-shadow);

  --range-track-hover-background: var(--input-hover-border-color);
  --range-track-hover-border-color: none;
  --range-track-hover-box-shadow: var(--input-hover-box-shadow);

  --range-track-focus-background: var(--input-focus-border-color);
  --range-track-focus-border-color: none;
  --range-track-focus-box-shadow: var(--input-focus-box-shadow);

  /** 
   * Range Sizes
   */

  --range-xl-height: 1rem;
  --range-l-height: 0.875rem;
  --range-s-height: 0.625rem;
  --range-xs-height: 0.5rem;

  /** 
   * Progress
   */

  --progress-margin: var(--input-margin);
  --progress-height: 1rem;
  --progress-background: var(--input-border-color);
  --progress-border-width: 0;
  --progress-border-style: none;
  --progress-border-color: none;
  --progress-border-radius: var(--input-border-radius);
  --progress-box-shadow: var(--box-shadow);

  --progress-bar-background: var(--primary);

  /** 
   * Progress Sizes
   */

  --progress-xl-height: 1.25rem;
  --progress-l-height: 1.125rem;
  --progress-s-height: 0.875rem;
  --progress-xs-height: 0.75rem;

  /**
   * Button
   */

  --button-padding-vertical: calc((var(--button-height) - var(--button-font-size) - (var(--button-border-width) * 2)) / 2);
  --button-padding-horizontal: 1.5em;
  --button-height: var(--height-m);
  --button-font-family: inherit;
  --button-font-weight: var(--font-weight-semibold);
  --button-font-size: var(--font-size-m);
  --button-color: var(--dark);
  --button-line-height: 1;
  --button-letter-spacing: var(--letter-spacing);
  --button-text-align: center;
  --button-text-transform: none;
  --button-background: var(--background);
  --button-border-width: var(--border-width);
  --button-border-style: var(--border-style);
  --button-border-color: var(--border-color);
  --button-border-radius: var(--border-radius);
  --button-box-shadow: var(--box-shadow);

  --button-hover-color: var(--button-color);
  --button-hover-background: color(var(--button-background) shade(2.5%));
  --button-hover-border-color: color(var(--button-border-color) shade(2.5%));
  --button-hover-box-shadow: var(--hover-box-shadow);

  --button-active-color: var(--button-color);
  --button-active-background: color(var(--button-background) shade(5%));
  --button-active-border-color: color(var(--button-border-color) shade(5%));
  --button-active-box-shadow: var(--active-box-shadow);

  --button-disabled-opacity: 0.65;

  --button-block-text-align: center;

  /** 
   * Button Sizes
   */

  --button-xl-padding-vertical: calc((var(--button-xl-height) - var(--button-xl-font-size) - (var(--button-border-width) * 2)) / 2);
  --button-xl-padding-horizontal: var(--button-padding-horizontal);
  --button-xl-height: var(--height-xl);
  --button-xl-font-size: var(--font-size-xl);

  --button-l-padding-vertical: calc((var(--button-l-height) - var(--button-l-font-size) - (var(--button-border-width) * 2)) / 2);
  --button-l-padding-horizontal: var(--button-padding-horizontal);
  --button-l-height: var(--height-l);
  --button-l-font-size: var(--font-size-l);

  --button-s-padding-vertical: calc((var(--button-s-height) - var(--button-s-font-size) - (var(--button-border-width) * 2)) / 2);
  --button-s-padding-horizontal: var(--button-padding-horizontal);
  --button-s-height: var(--height-s);
  --button-s-font-size: var(--font-size-s);

  --button-xs-padding-vertical: calc((var(--button-xs-height) - var(--button-xs-font-size) - (var(--button-border-width) * 2)) / 2);
  --button-xs-padding-horizontal: var(--button-padding-horizontal);
  --button-xs-height: var(--height-xs);
  --button-xs-font-size: var(--font-size-xs);

  /** 
   * Button Shades
   */

  --button-white-color: var(--black);
  --button-light-color: var(--dark);
  --button-grey-color: var(--white);
  --button-dark-color: var(--white);
  --button-black-color: var(--white);

  /** 
   * Button Palette
   */

  --button-primary-color: var(--white);
  --button-secondary-color: var(--white);
  --button-tertiary-color: var(--white);

  /** 
   * Button Indicators
   */

  --button-error-color: var(--white);
  --button-warning-color: var(--white);
  --button-success-color: var(--white);
  --button-info-color: var(--white);

  /** 
   * Button Icon
   */

  --button-icon-margin: var(--button-padding-horizontal);
  --button-icon-padding: calc((var(--button-height) - var(--icon-size) - (var(--button-border-width) * 2)) / 2);
  --button-icon-xl-padding: calc((var(--button-xl-height) - var(--icon-xl-size) - (var(--button-border-width) * 2)) / 2);
  --button-icon-l-padding: calc((var(--button-l-height) - var(--icon-l-size) - (var(--button-border-width) * 2)) / 2);
  --button-icon-s-padding: calc((var(--button-s-height) - var(--icon-s-size) - (var(--button-border-width) * 2)) / 2);
  --button-icon-xs-padding: calc((var(--button-xs-height) - var(--icon-xs-size) - (var(--button-border-width) * 2)) / 2);

  /**
   * Figure
   */

  --figure-display: block;
  --figure-margin: 0;
  --figure-padding: 0;

  --figure-caption-margin: 1em 0;
  --figure-caption-font-family: inherit;
  --figure-caption-font-weight: inherit;
  --figure-caption-font-size: var(--font-size-s);
  --figure-caption-color: inherit;
  --figure-caption-text-align: left;

  /**
   * Media
   */

  --media-background: color(var(--black) alpha(10%));
  --media-border-radius: var(--border-radius);

  /**
   * Nav
   */

  --nav-list-margin: 0;
  --nav-item-margin: 1rem 0;
  --nav-item-padding: 0;
  --nav-inline-item-margin: 0 1rem;

  /**
   * Spinner
   */

  --spinner-size: 2rem;
  --spinner-speed: var(--speed-slow);
  --spinner-background-color: color(var(--black) alpha(10%));
  --spinner-foreground-color: var(--white);

  /**
   * Table
   */

  --table-margin: var(--paragraph-margin);
  --table-background: var(--background);
  --table-border-width: var(--border-width);
  --table-border-style: var(--border-style);
  --table-border-color: var(--border-color);
  --table-border-radius: var(--border-radius);

  --table-caption-margin: 1em 0;
  --table-caption-font-family: inherit;
  --table-caption-font-weight: inherit;
  --table-caption-font-size: inherit;
  --table-caption-color: inherit;
  --table-caption-text-align: left;

  --table-head-padding: 0.5em;
  --table-head-font-family: inherit;
  --table-head-font-weight: inherit;
  --table-head-font-size: inherit;
  --table-head-color: inherit;
  --table-head-text-align: left;
  --table-head-text-transform: none;
  --table-head-background: var(--light-50);
  --table-head-border-width: var(--table-border-width);
  --table-head-border-style: var(--table-border-style);
  --table-head-border-color: var(--table-border-color);

  --table-cell-padding: 0.5em;
  --table-cell-font-family: inherit;
  --table-cell-font-weight: inherit;
  --table-cell-font-size: inherit;
  --table-cell-color: inherit;
  --table-cell-line-height: var(--line-height);
  --table-cell-vertical-align: middle;
  --table-cell-border-width: var(--table-border-width);
  --table-cell-border-style: var(--table-border-style);
  --table-cell-border-color: var(--table-border-color);
}
