/*
 * Global
 */

// Border Radius
@border-radius: 2px;

// Z-Index
@z-index-high: 999;
@z-index-medium: 99;
@z-index-low: 9;

// Animations
@animation-fast: 0.5s;
@animation-medium: 1s;
@animation-slow: 2s;

// Transitions
@transition-fast: 0.2s;
@transition-medium: 0.3s;
@transition-slow: 0.5s;

// Font Sizes
@font-size-extra-large: 1.8;
@font-size-large: 1.6;
@font-size-medium: 1.4;
@font-size-small: 1.2;

// Line height
@line-height-extra-large: 2;
@line-height-large: 1.8;
@line-height-medium: 1.5;
@line-height-small: 1.2;


/*
 * Colors
 */

// Shades
@white: #FFFFFF;
@black: #000000;
@light-grey: #CCD1D9;
@grey: #656D78;
@dark-grey: #434A54;

// Indicators
@info: #3BAFDA;
@error: #DA4453;
@warning: #F6BB42;
@success: #2ECC71;

// Palette
@light: #F5F7FA;
@dark: @dark-grey;
@primary: #4BB3D6;
@secondary: #967ADC;
@tertiary: #D770AD;

// Inverse
@inverse: @dark;


/*
 * Fonts
 */

// Fonts
@font-path: '../fonts';
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

// Generic Font Families
@thin-font-family: @font-family-sans-serif;
@regular-font-family: @font-family-sans-serif;
@medium-font-family: @font-family-sans-serif;
@semibold-font-family: @font-family-sans-serif;
@bold-font-family: @font-family-sans-serif;

// Generic Font Weights
@thin-font-weight: 300;
@regular-font-weight: 400;
@medium-font-weight: 400;
@semibold-font-weight: 500;
@bold-font-weight: 600;


/*
 * Breakpoints
 */

// Container Widths
@container-small: 100%;
@container-medium: 768px;
@container-large: 1024px;
@container-extra-large: 1280px;

// Screen Sizes
@screen-small: 480px;
@screen-small-min: @screen-small;
@screen-small-max: (@screen-medium-min - 1);
@screen-medium: 768px;
@screen-medium-min: @screen-medium;
@screen-medium-max: (@screen-large-min - 1);
@screen-large: 1025px;
@screen-large-min: @screen-large;
@screen-large-max: (@screen-extra-large-min - 1);
@screen-extra-large: 1280px;
@screen-extra-large-min: @screen-extra-large;