blockquote {
  margin: var(--blockquote-margin);
  padding: var(--blockquote-padding);
  font-family: var(--blockquote-font-family);
  font-weight: var(--blockquote-font-weight);
  font-size: var(--blockquote-font-size);
  font-style: var(--blockquote-font-style);
  line-height: var(--blockquote-line-height);
  color: var(--blockquote-color);

  & p {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    line-height: inherit;
    color: inherit;
  }
}
