//Definition List
dl {

	dt,
	dd {
		font-family: @definition-list-font-family;
		.font-size(@definition-list-font-size);
	}
	
	dt {
		margin: @definition-term-margin;
		font-weight: @definition-term-font-weight;
		color: @definition-term-color;
	}
	
	dd {
		margin: @definition-description-margin;
		color: @definition-description-color;
	}
}