.display-title {
  margin: var(--display-title-margin);
  font-family: var(--display-title-font-family);
  font-weight: var(--display-title-font-weight);
  font-size: var(--display-title-font-size);
  font-style: var(--display-title-font-style);
  color: var(--display-title-color);
  line-height: var(--display-title-line-height);
  text-transform: var(--display-title-text-transform);
  letter-spacing: var(--display-title-letter-spacing);
}

.display-title-xxl {
  font-size: var(--display-title-xxl-font-size);
}

.display-title-xl {
  font-size: var(--display-title-xl-font-size);
}

.display-title-l {
  font-size: var(--display-title-l-font-size);
}

.display-title-s {
  font-size: var(--display-title-s-font-size);
}

.display-title-xs {
  font-size: var(--display-title-xs-font-size);
}

.display-title-xxs {
  font-size: var(--display-title-xxs-font-size);
}
