/*
 * Definitions
 */

// Base Font Size
@base-font-size: 10px;
@base-font-size-extra-large: @base-font-size;
@base-font-size-large: @base-font-size;
@base-font-size-medium: @base-font-size;
@base-font-size-small: @base-font-size;

// Fonts
@font-path: '../fonts';
@font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;

// Generic Font Families
@thin-font-family: @font-family-sans-serif;
@regular-font-family: @font-family-sans-serif;
@medium-font-family: @font-family-sans-serif;
@semibold-font-family: @font-family-sans-serif;
@bold-font-family: @font-family-sans-serif;

// Generic Font Weights
@thin-font-weight: 300;
@regular-font-weight: 400;
@medium-font-weight: 400;
@semibold-font-weight: 500;
@bold-font-weight: 600;


/*
 * Font Size
 */

html {
	font-size: @base-font-size;

	@media @large-only {
		font-size: @base-font-size-extra-large;
	}
	
	@media @large-only {
		font-size: @base-font-size-large;
	}

	@media @medium-only {
		font-size: @base-font-size-medium;
	}
	
	@media @small {
		font-size: @base-font-size-small;
	}
}