h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: var(--headings-margin);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  color: var(--headings-color);
  line-height: var(--headings-line-height);
  text-transform: var(--headings-text-transform);
  letter-spacing: var(--headings-letter-spacing);

  & small {
    font-family: var(--headings-small-font-family);
    font-weight: var(--headings-small-font-weight);
    font-size: var(--headings-small-size);
    color: var(--headings-small-color);
  }
}

h1,
.h1 {
  font-size: var(--h1-font-size);

  & + h2,
  & + .h2 {
    margin-top: 0;
  }
}

h2,
.h2 {
  font-size: var(--h2-font-size);

  & + h3,
  & + .h3 {
    margin-top: 0;
  }
}

h3,
.h3 {
  font-size: var(--h3-font-size);

  & + h4,
  & + .h4 {
    margin-top: 0;
  }
}

h4,
.h4 {
  font-size: var(--h4-font-size);

  & + h5,
  & + .h5 {
    margin-top: 0;
  }
}

h5,
.h5 {
  font-size: var(--h5-font-size);

  & + h6,
  & + .h6 {
    margin-top: 0;
  }
}

h6,
.h6 {
  font-size: var(--h6-font-size);
}
