kbd {
	margin: var(--kbd-margin);
	padding: var(--kbd-padding);
	font-family: var(--kbd-font-family);
	font-weight: var(--kbd-font-weight);
	font-size: var(--kbd-font-size);
	color: var(--kbd-color);
	background: var(--kbd-background);
	border: var(--kbd-border);
}