a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  transition: color var(--speed-fast) ease-in-out, background var(--speed-fast) ease-in-out, border var(--speed-fast) ease-in-out;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-text-decoration);
  }
}
