a {
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  @apply --transition;
  
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
  }
}