/*
 * Paragraph
 */

p {
	font-family: @paragraph-font-family;
	font-weight: @paragraph-font-weight;
	.font-size(@paragraph-font-size);
	color: @paragraph-color;
	line-height: @paragraph-line-height;
}