/* 
 * Typography 
 */
 
//Base Font Sizes
html {
	font-size: @base-font-size;
	
	@media @medium {
		font-size: @base-medium-font-size;
	}
	
	@media @small {
		font-size: @base-small-font-size;
	}
}

//Abbreviation
abbr {
	cursor: help;
}
