.navigation {

	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	& li {
		margin: 0;
		padding: 0;
		font-weight: var(--font-weight-medium);

		& ul {
			display: none;

			& li {
				border: none;
				font-weight: var(--font-weight-regular);
				font-size: var(--font-size-s);

				& a {
					padding: 0.5em 1.5em;
				}
			}
		}

		&.active {

			& ul {
				display: block;
			}

			& > a {
				padding-left: 0.75em;
				border-left: 0.25em solid var(--primary);
			}
		}
	}

	& a {
		display: block;
		padding: 0.5em 1em;
		color: var(--body-color);

		&:hover,
		&:focus {
			color: var(--primary);
			text-decoration: none;
		}
	}
}