.search {
  position: relative;
  border-bottom: 1px solid var(--light-300);
}

.search-input[type=search] {
  margin: 0;
  border: none;
  border-radius: 0;
}

.search-results {
  position: absolute;
  left: 4px;
  right: 4px;
  margin: 0;
  margin-top: 4px;
  padding: 0;
  list-style: none;
  background: white;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.2);

  & li {
    display: block;
    margin: 0;
    padding: 0;
    font-size: var(--font-size-s);
    
    &:not(:last-child) {
      border-bottom: 1px solid var(--light-300);
    }
  }

  & a {
    display: block;
    padding: 1em;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.search-no-results {
  padding: 1em;
  text-align: center;
}