.search {
  position: relative;

  & input[type='search'] {
    margin: 0;
    border: none;
    border-radius: 0;
  }
}

.search-results {
  margin: 0;

  &:not(:empty) {
    position: absolute;
    left: 0.5em;
    right: 0.5em;
    margin-top: 0.125em;
    padding: 0;
    font-size: var(--font-size-s);
    list-style: none;
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 0.125em 0.25em 0.25em color(var(--dark) a(5%));

    & li {
      display: block;
      margin: 0;
      padding: 0;
      font-size: inherit;
    }

    & a {
      display: block;
      padding: 1em;
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--white);
        background: var(--primary);
        text-decoration: none;
      }
    }
  }
}

.search-no-results {
  padding: 0.5em;
  text-align: center;
}
