/*
 * Filters
 */

.filter-blur(@radius) {
	-webkit-filter: blur(@radius);
	-moz-filter: blur(@radius);
	-ms-filter: blur(@radius);
}

.filter-sepia(@radius) {
	-webkit-filter: sepia(@radius);
	-moz-filter: sepia(@radius);
	-ms-filter: sepia(@radius);
}

.filter-hue-rotate(@radius) {
	-webkit-filter: hue-rotate(@radius);
	-moz-filter: hue-rotate(@radius);
	-ms-filter: hue-rotate(@radius);
}

.filter-brightness(@amount) {
	-webkit-filter: brightness(@amount);
	-moz-filter: brightness(@amount);
	-ms-filter: brightness(@amount);
}

.filter-contrast(@percentage) {
	-webkit-filter: contrast(@percentage);
	-moz-filter: contrast(@percentage);
	-ms-filter: contrast(@percentage);
}

.filter-invert(@percentage) {
	-webkit-filter: invert(@percentage);
	-moz-filter: invert(@percentage);
	-ms-filter: invert(@percentage);
}

.filter-saturate(@percentage) {
	-webkit-filter: saturate(@percentage);
	-moz-filter: saturate(@percentage);
	-ms-filter: saturate(@percentage);
}