//Base Font Size
@base-font-size: 10px;
@base-extra-large-font-size: @base-font-size;
@base-large-font-size: @base-font-size;
@base-medium-font-size: @base-font-size;
@base-small-font-size: @base-font-size;