/* Form */

form {

	//Loading
	&.loading {
		position: relative;
	
		&:after {
			z-index: 999;
			content: '';
			.cover();
			background: @white url('/img/loading.gif') no-repeat center center;
			background-size: 24px 24px;
		}
	}

	//Reset height for `textarea`s
	textarea {
		height: auto;
		line-height: @line-height;
	}
	
	//Label
	label {
		display: block;
		margin: @label-margin;
		font-family: @label-font-family;
		.font-size(@label-font-size);
		color: @label-color;
		line-height: @line-height;
	}
	
	//Checkbox and Radio Buttons
	input[type="checkbox"],
	input[type="radio"] {
		margin-right: 10px;
		display: inline-block;

		& + p {
			margin: 0;
			display: inline-block;
		}

		& + label {
			display: inline-block;
		}
	}
	
	//Select
	select {
		display: block;
		width: 100%;
	}
	
	//Fieldset
	fieldset {
		margin: @fieldset-margin;
		padding: @fieldset-padding;
		border: @fieldset-border;

		.all-select {
			display: inline-block;

			input[type="checkbox"] {
				margin: 5px 0px;
				margin-right: 2px;
				display: inline-block;
			}
		}

		legend {
			display: inline-block;
			.font-size(@label-font-size);

			color: @primary;
			.font-size(12px);
		}

		.checkbox {
			input[type="checkbox"] {
				margin: 5px 0px;
				margin-right: 2px;
				display: inline-block;
			}

			label {
				display: inline-block;
			}
		}
	}
	
	//Submit Button
	button[type="submit"] {
		
		&.saving,
		&.submitting {
			color: @primary;
			border: 2px solid @primary;
			background: transparent;
			
			
			&:after {
				display: inline-block;
				margin-left: 2px;
				content: "\2026";
			}
			
			&:hover,
			&:focus {
				background: transparent;
			}
		}
	}
	
	//Indicators
	input:not([type="range"]):not([type="file"]) {
	
		&.error {
			border-color: @input-error-color;
		}
		
		&.warning {
			border-color: @input-warning-color;
		}
		
		&.success {
			border-color: @input-success-color;
		}
	}
}