/* Input */

input,
textarea {
	display: block;
	width: 100%;
	height: @input-height;
	margin: @input-margin;
	padding: @input-padding;
	font-family: @input-font-family;
	.font-size(@input-font-size);
	color: @input-color;
	line-height: @input-line-height;
	border: @input-border;
	background-color: @input-background;
	background-image: none;
	.border-radius(@input-border-radius);
	.transition(all @transition-fast ease-in-out);

	//Override Normalise for Input Types
	.border-box-sizing();

	// Placeholder
	.placeholder(@input-placeholder-color, @input-placeholder-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);

	//Disabled
	&:disabled {
		background: @light-grey;
	}
	
	//Focus
	&:focus {
		border: @input-focus-border;
		background: @input-focus-background;
		
		&.inverse {
			color: @input-inverse-focus-color;
			border: @input-inverse-focus-border;
			background: @input-inverse-focus-background;
		}
	}
}

//Search
input[type="search"] {
	.border-radius(@input-search-border-radius);
}

//Input Sizes
.input-small() {
	.font-size(@input-small-font-size);
	height: @input-small-height;
	padding: @input-small-padding;
	.placeholder(@input-placeholder-color, @input-placeholder-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

.input-medium() {
	.font-size(@input-medium-font-size);
	height: @input-medium-height;
	padding: @input-medium-padding;
	.placeholder(@input-placeholder-color, @input-medium-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

.input-large() {
	.font-size(@input-large-font-size);
	height: @input-large-height;
	padding: @input-large-padding;
	.placeholder(@input-placeholder-color, @input-large-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

.input-extra-large() {
	.font-size(@input-extra-large-font-size);
	height: @input-extra-large-height;
	padding: @input-extra-large-padding;
	.placeholder(@input-placeholder-color, @input-extra-large-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

.input-small {
	.input-medium();
}

.input-medium {
	.input-medium();
}

.input-large {
	.input-large();
}

.input-extra-large {
	.input-extra-large();
}

//Input Inverse
.input-inverse {
	color: @input-inverse-color;
	border: @input-inverse-border;
	background-color: @input-inverse-background;
	.placeholder(@input-inverse-color, @input-placeholder-font-size, @input-placeholder-font-family, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}