/* Select */

.select {
	position: relative;
	display: block;
	margin: @select-margin;
	color: @select-background;
	
	//Select
	select {
		display: block;
		margin: 0;
		padding: @select-padding;
		width: 100%;
		height: @select-height;
		line-height: 1;
		font-family: @select-font-family;
		.font-size(@select-font-size);
		color: @select-color;
		background: @select-background;
		border: @select-border;
		cursor: pointer;
		outline: 0;
		.border-radius(@select-border-radius);
		.appearance(none);
		
		//Undo the Firefox inner focus ring
		&::-moz-focusring {
			color: transparent;
			text-shadow: 0 0 0 #000;
		}
		
		//Hide the arrow in IE10 and up
		&::-ms-expand {
			display: none;
		}
	}
	
	//Dropdown Arrow
	&:before,
	&:after {
		display: block;
		position: absolute;
		top: 50%;
		right: 30px;
		width: 3px;
		height: 12px;
		content: '';
		pointer-events: none;
		background: @select-arrow-background;
	}
	
	&:before {
		//-ms-transform: rotate(7deg);
		//-webkit-transform: rotate(7deg);
		transform: rotate(-45deg) translateY(-50%);
	}
	
	&:after {
		//-ms-transform: rotate(7deg);
		//-webkit-transform: rotate(7deg);
		transform: rotate(45deg) translateY(-50%);
	}
	
	//Large Select
	&.select-large {
	
		select {
			padding: @select-large-padding;
			height: @select-large-height;
			.font-size(@select-large-font-size);
		}
	}
	
	//Inverse
	&.select-inverse {
	
		select {
			color: @select-inverse-color;
			border: @select-inverse-border;
			background-color: @select-inverse-background;
		}
		
		&:after {
			color: @select-inverse-icon-color;
		}
	}
}

//IE9 hide the arrow
@media @ie9-10 {

	.select {
	
		select {
			padding: 0.5em;
		}
		
		&:before,
		&:after {
			display: none;
		}
	}
}

//Firefox hack to hide the arrow
@-moz-document url-prefix() {
	
	//Firefox hack to hide the arrow (FF < 30)
	.select select {
		text-indent: 0.01px;
		text-overflow: '';
		padding-right: 1rem;
	}
}