/* Controls (Radio + Checkbox) */

.control {
	position: relative;
	display: block;
	margin: @control-margin;
	padding: @control-padding;
	color: @control-color;
	cursor: pointer;
	
	input {
		position: absolute;
		opacity: 0;
		z-index: -1; /* Put the input behind the label so it doesn't overlay text */
	}
	
	input:focus ~ .control-indicator {
		
	}
	
	//Focus
	.control-indicator {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		.square(@control-indicator-size);
		line-height: 1rem;
		color: @control-indicator-color;
		text-align: center;
		background: @control-indicator-background;
		background-size: 50% 50%;
		background-position: center center;
		background-repeat: no-repeat;
		border: @control-indicator-border;
		.user-select(none);
	}
	
	.control-label {
		margin: @control-label-margin;
		font-family: @control-label-font-family;
		.font-size(@control-label-font-size);
		color: @control-label-color;
		line-height: 1;
	}
	
	//Checked
	input:checked ~ .control-indicator {
		color: @control-indicator-checked-color;
		background: @control-indicator-checked-background;
		
		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -(@control-indicator-icon-size / 2);
			margin-left: -(@control-indicator-icon-size / 2);
			font-family: @icon-font-family;
			font-size: @control-indicator-icon-size;
		}
	}
	
	//Checkbox
	&.checkbox .control-indicator {
		.border-radius(@checkbox-border-radius);
		
	}
	
	&.checkbox input:checked ~ .control-indicator:before {
		content: @checkbox-icon;
	}
	
	//Radio
	&.radio .control-indicator {
		.border-radius(@radio-border-radius);
	}
	
	&.radio input:checked ~ .control-indicator:before {
		content: @radio-icon;
	}
}