/* Input */

//Input Sizes
.input-small() {
	.font-size(@label_small_font_size);
	height: @input_small_height;
	padding: @input_small_padding;
	.placeholder(@input_placeholder_color, @input_placeholder_font_size, @input_placeholder_font_family, @input_placeholder_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
}

.input-medium() {
	.font-size(@label_medium_font_size);
	height: @input_medium_height;
	padding: @input_medium_padding;
	.placeholder(@input_placeholder_color, @label_medium_font_size, @input_placeholder_font_family, @input_placeholder_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
}

.input-large() {
	.font-size(@label_large_font_size);
	height: @input_large_height;
	line-height: @label_large_line_height;
	padding: @input_large_padding;
	.placeholder(@input_placeholder_color, @label_large_font_size, @input_placeholder_font_family, @label_large_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
}

.input-extra-large() {
	.font-size(@label_extra_large_font_size);
	height: @input_extra_large_height;
	line-height: @label_extra_large_line_height;
	padding: @input_extra_large_padding;
	.placeholder(@input_placeholder_color, @label_extra_large_font_size, @input_placeholder_font_family, @label_extra_large_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
}

//Inputs
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
.form-input {
	display: block;
	width: 100%;
	height: @input_height;
	padding: @input_padding;
	font-family: @input_font_family;
	.font-size(@input_font_size);
	color: @input_color;
	line-height: @input_line_height;
	border: @input_border;
	background-color: @input_background;
	background-image: none;
	.border-radius(@input_border_radius);
	.transition(border @transition_fast ease-in-out);

	//Override Normalise for Input Types
	.border-box-sizing();

	// Placeholder
	.placeholder(@input_placeholder_color, @input_placeholder_font_size, @input_placeholder_font_family, @input_placeholder_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);

	//Disabled
	&:disabled {
		background: @light_grey;
	}
	
	//Focus
	&:focus {
		border: @input_focus_border;
		background: @input_focus_background;
		
		&.inverse {
			color: @input_inverse_focus_color;
			border: @input_inverse_focus_border;
			background: @input_inverse_focus_background;
		}
	}
	
	//Form Error
	.form-error {
		color: @input_error_color;
		border-color: @input_error_border_color;
	}

	//Input Sizes
	&.input-small {
		.input-small();
	}

	&.input-medium {
		.input-medium();
		
		&.inverse {
			.placeholder(@input_inverse_color, @input_placeholder_font_size, @input_placeholder_font_family, @label_large_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
		}
		
		&.input-date {
			.placeholder(@input_placeholder_color, @input_placeholder_font_size, @input_placeholder_font_family, @label_large_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
		}
	}

	&.input-large {
		.input-large();
		
		&.inverse {
			.placeholder(@input_inverse_color, @input_placeholder_font_size, @input_placeholder_font_family, @label_large_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
		}
		
		&.input-date {
			.placeholder(@input_placeholder_color, @input_placeholder_font_size, @input_placeholder_font_family, @label_large_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
		}
		
		@media @medium {
			.input-medium();
		}
	}

	&.input-extra-large {
		.input-extra-large();
		
		&.inverse {
			.placeholder(@input_inverse_color, @input_placeholder_font_size, @input_placeholder_font_family, @label_large_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
		}
		
		@media @medium {
			.font-size(@label_large_font_size);
			height: @input_large_height;
			line-height: @label_large_line_height;
			padding: @input_large_padding;
			.placeholder(@input_placeholder_color, @label_large_font_size, @input_placeholder_font_family, @label_large_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
		}
	}

	//Inverse
	&.input-inverse {
		color: @input_inverse_color;
		border: @input_inverse_border;
		background-color: @input_inverse_background;
		.placeholder(@input_inverse_color, @input_placeholder_font_size, @input_placeholder_font_family, @input_placeholder_line_height, @input_placeholder_letter_spacing, @input_placeholder_text_transform);
	}
}

input[type="search"] {
	.border-radius(@input_search_border_radius);
}
