/* Input */

//Input Sizes
.input-small() {
	.font-size(@label-small-font-size);
	height: @input-small-height;
	padding: @input-small-padding;
	.placeholder(@input-placeholder-color, @input-placeholder-font-size, @input-placeholder-font-family, @input-placeholder-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

.input-medium() {
	.font-size(@label-medium-font-size);
	height: @input-medium-height;
	padding: @input-medium-padding;
	.placeholder(@input-placeholder-color, @label-medium-font-size, @input-placeholder-font-family, @input-placeholder-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

.input-large() {
	.font-size(@label-large-font-size);
	height: @input-large-height;
	line-height: @label-large-line-height;
	padding: @input-large-padding;
	.placeholder(@input-placeholder-color, @label-large-font-size, @input-placeholder-font-family, @label-large-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

.input-extra-large() {
	.font-size(@label-extra-large-font-size);
	height: @input-extra-large-height;
	line-height: @label-extra-large-line-height;
	padding: @input-extra-large-padding;
	.placeholder(@input-placeholder-color, @label-extra-large-font-size, @input-placeholder-font-family, @label-extra-large-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
}

//Inputs
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
.form-input {
	display: block;
	width: 100%;
	height: @input-height;
	padding: @input-padding;
	font-family: @input-font-family;
	.font-size(@input-font-size);
	color: @input-color;
	line-height: @input-line-height;
	border: @input-border;
	background-color: @input-background;
	background-image: none;
	.border-radius(@input-border-radius);
	.transition(border @transition-fast ease-in-out);

	//Override Normalise for Input Types
	.border-box-sizing();

	// Placeholder
	.placeholder(@input-placeholder-color, @input-placeholder-font-size, @input-placeholder-font-family, @input-placeholder-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);

	//Disabled
	&:disabled {
		background: @light-grey;
	}
	
	//Focus
	&:focus {
		border: @input-focus-border;
		background: @input-focus-background;
		
		&.inverse {
			color: @input-inverse-focus-color;
			border: @input-inverse-focus-border;
			background: @input-inverse-focus-background;
		}
	}
	
	//Form Error
	.form-error {
		color: @input-error-color;
		border-color: @input-error-border-color;
	}

	//Input Sizes
	&.input-small {
		.input-small();
	}

	&.input-medium {
		.input-medium();
		
		&.inverse {
			.placeholder(@input-inverse-color, @input-placeholder-font-size, @input-placeholder-font-family, @label-large-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
		}
		
		&.input-date {
			.placeholder(@input-placeholder-color, @input-placeholder-font-size, @input-placeholder-font-family, @label-large-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
		}
	}

	&.input-large {
		.input-large();
		
		&.inverse {
			.placeholder(@input-inverse-color, @input-placeholder-font-size, @input-placeholder-font-family, @label-large-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
		}
		
		&.input-date {
			.placeholder(@input-placeholder-color, @input-placeholder-font-size, @input-placeholder-font-family, @label-large-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
		}
		
		@media @medium {
			.input-medium();
		}
	}

	&.input-extra-large {
		.input-extra-large();
		
		&.inverse {
			.placeholder(@input-inverse-color, @input-placeholder-font-size, @input-placeholder-font-family, @label-large-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
		}
		
		@media @medium {
			.font-size(@label-large-font-size);
			height: @input-large-height;
			line-height: @label-large-line-height;
			padding: @input-large-padding;
			.placeholder(@input-placeholder-color, @label-large-font-size, @input-placeholder-font-family, @label-large-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
		}
	}

	//Inverse
	&.input-inverse {
		color: @input-inverse-color;
		border: @input-inverse-border;
		background-color: @input-inverse-background;
		.placeholder(@input-inverse-color, @input-placeholder-font-size, @input-placeholder-font-family, @input-placeholder-line-height, @input-placeholder-letter-spacing, @input-placeholder-text-transform);
	}
}

input[type="search"] {
	.border-radius(@input-search-border-radius);
}
