/*
 * Definitions
 */

// Base Font Size
@base-font-size: 10px;
@base-font-size-xlarge: @base-font-size;
@base-font-size-large: @base-font-size;
@base-font-size-medium: @base-font-size;
@base-font-size-small: @base-font-size;
@base-font-size-xsmall: @base-font-size;


/*
 * Font Size
 */

html {
	font-size: @base-font-size;

	@media @xlarge {
		font-size: @base-font-size-xlarge;
	}
	
	@media @large {
		font-size: @base-font-size-large;
	}

	@media @medium {
		font-size: @base-font-size-medium;
	}
	
	@media @small {
		font-size: @base-font-size-small;
	}

	@media @xsmall {
		font-size: @base-font-size-xsmall;
	}
}