//Font Size
html {
	font-size: @base-font-size;

	@media @large-only {
		font-size: @base-font-size-extra-large;
	}
	
	@media @large-only {
		font-size: @base-font-size-large;
	}

	@media @medium-only {
		font-size: @base-font-size-medium;
	}
	
	@media @small {
		font-size: @base-font-size-small;
	}
}