/*
 * Global
 */

// Border Radius
@border-radius: 2px;

// Z-Index
@z-index-high: 999;
@z-index-medium: 99;
@z-index-low: 9;

// Animations
@animation-fast: 0.5s;
@animation-medium: 1s;
@animation-slow: 2s;

// Transitions
@transition-fast: 0.2s;
@transition-medium: 0.3s;
@transition-slow: 0.5s;

// Heights
@height-xlarge: 65px;
@height-large: 50px;
@height-medium: 40px;
@height-small: 30px;
@height-xsmall: 20px;

// Padding
@padding-xlarge: 20px 30px;
@padding-large: 15px 25px;
@padding-medium: 8px 16px;
@padding-small: 8px 12px;
@padding-xsmall: 4px 8px;

