html {
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:focus {
	outline: 0;
}

html,
body {
	width: 100%;
	min-height: 100%;
}

figure {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
dt,
ul > li,
ol > li,
blockquote,
cite,
.field,
fieldset,
label,
input,
textarea,
.select {

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}