<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>Turret Template</title>
	<link rel="stylesheet" type="text/css" href="/dist/turret.min.css" />
	
	<style>
	
		.content {
			padding: 50px 0px;
		}
		
		.menu .menu-title a {
			color: #FFFFFF;
		}
		
		.menu ul {
			color: #FFFFFF;
			list-style: none;
		}
		
		.menu a {
			font-size: 13px;
		}
		
		.footer p {
			color: #FFFFFF;
			font-size: 12px;
		}
		
	</style>
	
</head>
<body>
	
	<header role="banner">
		<div class="container">
			<div class="row">
				<div class="column-1-2">
				
				</div>
				<div class="column-1-2">
				
				</div>
			</div>
		</div>
	</header>
	
	<section class="hero">
		<div class="container">
			<div class="media media-16-9">
				<img src="http://placehold.it/1280x720/4BB3D6/FFFFFF">
			</div>
		</div>
	</section>
	
	<main class="content" role="main">
		<div class="container">
		
			<div class="row">
				<div class="column-1 bottom-gutter">
					<nav class="nav nav-inline" role="navigation">
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Link</a></li>
							<li><a href="#">Link</a></li>
							<li>Current</li>
						</ul>
					</nav>
				</div>
			</div>
		
			<div class="row">
				<article class="column-2-3">
				
					<hgroup>
						<h2>Article Title</h2>
						<h3>Article Sub Title</h3>
					</hgroup>
					
					<p class="lead">Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					
					<p>Cras mattis consectetur purus sit amet fermentum. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum.</p>
					
					<hr>
					
					<blockquote>
						<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
					</blockquote>
					
					<hr>
					
					<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper nulla non metus auctor fringilla. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
					
					<p class="pullout">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla.</p>
					
					<p>Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed odio dui.</p>

				</article>
				<aside class="column-1-3">
				
				</aside>
			</div>
			
		</div>
	</main>
	
	<section class="content background-light-grey">
		<div class="container">
			<div class="row">
				<div class="column-1-3">
					<div class="media media-4-3">
						<img src="http://placehold.it/400x300/4BB3D6/FFFFFF">
					</div>
				</div>
				<div class="column-1-3">
					<div class="media media-4-3">
						<img src="http://placehold.it/400x300/4BB3D6/FFFFFF">
					</div>
				</div>
				<div class="column-1-3">
					<div class="media media-4-3">
						<img src="http://placehold.it/400x300/4BB3D6/FFFFFF">
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="content section-media">
		<div class="container">
			<div class="row">
				<div class="column-1 column-extra-large-3-4 column-center text-center">
					<h2>Subscribe to Newsletter</h2>
				</div>
			</div>
			<div class="row">
				<div class="column-3-4 column-center">
					<div class="row">
						<form>
							<div class="column-1-4">
								<input type="text" id="first-name" placeholder="First Name">
							</div>
							<div class="column-1-4">
								<input type="text" id="last-name" placeholder="Last Name">
							</div>
							<div class="column-1-4">
								<input type="email" id="email" placeholder="example@example.com">
							</div>
							<div class="column-1-4">
								<button type="submit" class="button button-block button-primary">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="content background-dark">
		<div class="container">
			<div class="row">
				
				<div class="column-1-4">
					<div class="row">
						<div class="column-1-2">
							<div class="media media-1-1">
								<img src="http://placehold.it/300x300&text=logo">
							</div>
						</div>
					</div>
				</div>
				
				<div class="column-3-4">
					<div class="row">
						<div class="column-1-4">
							<nav class="menu" role="navigation">
								<h4 class="menu-title"><a href="#">Menu Title</a></h4>
								<ul>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
								</ul>
							</nav>
						</div>
						<div class="column-1-4">
							<nav class="menu" role="navigation">
								<h4 class="menu-title"><a href="#">Menu Title</a></h4>
								<ul>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
								</ul>
							</nav>
						</div>
						<div class="column-1-4">
							<nav class="menu" role="navigation">
								<h4 class="menu-title"><a href="#">Menu Title</a></h4>
								<ul>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
								</ul>
							</nav>
						</div>
						<div class="column-1-4">
							<nav class="menu" role="navigation">
								<h4 class="menu-title"><a href="#">Menu Title</a></h4>
								<ul>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
									<li><a href="#">Menu Link</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	<footer class="footer background-black" role="contentinfo">
		<div class="container">
			<div class="row">
				<div class="column-1-2">
					<p><a href="#">Privacy</a> &middot; <a href="#">Terms & Conditions</a></p>
				</div>
				<div class="column-1-2">
					<p class="text-right">Website Copyright &copy; 2014. Company Name.</p>
				</div>
			</div>
		</div>
	</footer>
	
</body>
</html>