/**
 * Turret Variables
 */

@import '../../../turret/_variables';
@import '../../../turret/_mixins';


/**
 * Variables
 */

@import './_variables';


/**
 * Syntax
 */

@import './syntax';


/**
 * Typography
 */

@import './typography/headings';

/**
 * Template
 */

@import './template/main';
@import './template/header';
@import './template/hamburger';
@import './template/sidebar';
@import './template/navigation';
@import './template/search';
@import './template/footer';


/**
 * Component
 */

@import './component/block';
@import './component/palette';
@import './component/swatch';


/**
 * General
 */

.is-null,
.is-hidden,
.not-supported {
	color: var(--light-900);
	background: var(--light-100);
}

body {

	@media (--s-down) {

		&.open {

			& .main {
				transform: translateX(calc(var(--sidebar-width) * -1));
			}

			& .sidebar {
				transform: translateX(0);
			}
		}
	}
}