/**
 * Turret Variables
 */

@import '../../../turret/turret.css';

/**
 * Variables
 */

@import './_variables';


/**
 * Syntax
 */

@import './syntax';


/**
 * Typography
 */

@import './typography/headings';


/**
 * Template
 */

@import './template/main';
@import './template/header';
@import './template/hamburger';
@import './template/sidebar';
@import './template/navigation';
@import './template/search';
@import './template/footer';


/**
 * Component
 */

@import './component/boxes';
@import './component/palette';
@import './component/swatch';


/**
 * General
 */

.hero-text {
	margin: 0.25em 0;
	font-weight: var(--font-weight-black);
	font-size: calc(1rem + 7.5vw);
	line-height: 1;
	text-transform: uppercase;

	& span {
		display: block;
	}
}

.home-button {

	@media (--s-up) {
		width: 100%;
		max-width: 10rem;

		& + .home-button {
			margin-left: 1em;
		}
	}

	@media (--xs) {
		display: block;

		&:not(:last-child) {
			margin-bottom: 1em;
		}
	}
}

body {

	@media (--s-down) {

		&.open {

			& .main {
				transform: translateX(calc(var(--sidebar-width) * -1));
			}

			& .sidebar {
				transform: translateX(0);
			}
		}
	}
}