/**
 * Turret Variables
 */

@import '../../../turret/_variables';
@import '../../../turret/_mixins';


/**
 * Variables
 */

@import './_variables';


/**
 * Syntax
 */

@import './syntax';


/**
 * Typography
 */

@import './typography/headings';

/**
 * Template
 */

@import './template/main';
@import './template/header';
@import './template/hamburger';
@import './template/sidebar';
@import './template/navigation';
@import './template/search';
@import './template/footer';


/**
 * Component
 */

@import './component/block';
@import './component/palette';
@import './component/swatch';


/**
 * General
 */

body {

	@media (--s-down) {

		&.open {
			overflow: hidden;

			.main {
				transform: translateX(var(--sidebar-width));
			}

			.sidebar {
				transform: translateX(0);
			}
		}
	}
}