/* Alerts */

//Mixin
.alert-fade-style(@color) {
	color: @color;
	border: 1px solid @color;
	background: fade(@color, 25%);
	
	.alert-close {
		
		&:after {
			color: @color;
		}
	}
}

//Alerts
.alert {
	display: block;
	margin: @alerts_margin;
	padding: @alerts_padding;
	font-size: @alerts_font_size;
	font-weight: @alerts_font_weight;

	&.alert-info {
		.alert-fade-style(@info);
	}

	&.alert-warning {
		.alert-fade-style(@warning);
	}

	&.alert-error {
		.alert-fade-style(@error);
	}

	&.alert-success {
		.alert-fade-style(@success);
	}
	
	//Alert Block Syles
	&.alert-block {
		&.alert-info {
			color: @white;
			background: @info;

			.alert-close {
		
				&:after {
					color: @white;
				}
			}
		}

		&.alert-warning {
			color: @white;
			background: @warning;

			.alert-close {
		
				&:after {
					color: @white;
				}
			}
		}

		&.alert-error {
			color: @white;
			background: @error;

			.alert-close {
		
				&:after {
					color: @white;
				}
			}
		}

		&.alert-success {
			color: @white;
			background: @success;

			.alert-close {
		
				&:after {
					color: @white;
				}
			}
		}
	}
	
	//Alert Close Button
	.alert-close {
		float: right;
		font-size: @alerts_font_size;
		background: transparent;
		border: none;
		
		&:after {
			content: @alerts_close_icon;
			font-family: @icon_font_family;
		}
	}
}