blockquote {
	display: block;
	position: relative;
	margin: @blockquote_margin;

	p {
		
		margin: @blockquote_quote_margin;
		font-family: @blockquote_quote_font_family;
		.font-size(@blockquote_quote_font_size);
		line-height: @blockquote_quote_line_height;
		color: @blockquote_quote_color;
	}
	
	cite {
		display: block;
		margin: @blockquote_cite_margin;
		font-family: @blockquote_cite_font_family;
		.font-size(@blockquote_cite_font_size);
		color: @blockquote_cite_color;
		text-transform: @blockquote_cite_text_transform;
		font-style: normal;
	}
}