/* Breadcrumb */

.breadcrumb {
	margin: @breadcrumbs_margin;
	padding: @breadcrumbs_padding;

	li {
		display: inline-block;
		list-style: none;
		.font-size(@breadcrumbs_font_size);
		line-height: @breadcrumbs_font_size;

		a {
			font-family: @breadcrumbs_font_family;
			.font-size(@breadcrumbs_font_size);
			color: @breadcrumbs_color;
			.transition(color @transition_fast ease-in-out);

			&:hover {
				color: @breadcrumbs_hover_color;
			}
		}

		&:first-child {
			margin: 0;

			&:before {
				display: none;
			}
		}

		&:before {
			margin: @breadcrumbs_divider_margin;
			color: @breadcrumbs_divider_color;
			content: @breadcrumbs_divider_icon;
			.font-size(@breadcrumbs_divider_font_size);
			font-family: @icon_font_family;
			line-height: @breadcrumbs_font_size;
			vertical-align: middle;
		}

		&.active {
			a {
				color: @breadcrumbs_active_color;
			}
		}
	}
}