/* Breadcrumbs */

ul.breadcrumbs {
	margin: 0;
	padding: @breadcrumbs_padding;

	li {
		display: inline-block;
		margin: @breadcrumbs_margin;
		list-style: none;
		font-size: @breadcrumbs_font_size;
		line-height: @breadcrumbs_font_size;

		a {
			color: @breadcrumbs_color;
			.transition(color @transition_fast ease-in-out);

			&:hover {
				color: @breadcrumbs_hover_color;
			}
		}

		&:first-child {
			margin: 0;

			&:before {
				display: none;
			}
		}

		&:before {
			float: left;
			margin: @breadcrumbs_divider_margin;
			color: @breadcrumbs_divider_color;
			content: @breadcrumbs_divider_icon;
			font-size: @breadcrumbs_divider_size;
			font-family: @icon_font_family;
			line-height: @breadcrumbs_font_size;
		}

		&.active {
			color: @breadcrumbs_active_color;
		}
	}

	@media @small {
		li {
			display: block;
			margin-left: 0;

			a {
				display: block;
				padding: 5px 0px;
				text-align: center;
				color: @breadcrumbs_color;

				&:hover {
					color: @breadcrumbs_hover_color;
					.transition(color @transition_fast ease-in-out);
				}
			}

			&:before {
			    display: none;
			}
		}
	}
}