/* Buttons */

.button {
	padding: @buttons_padding;
	font-size: @buttons_font_size;
	border: none;
	line-height: 1;
	color: @buttons_color;
	background: @buttons_background;
	.border-radius(@buttons_border_radius);
	.transition(all @transition_fast ease-in-out);
	.transition-property(~"background, color");

	&:hover,
	&:focus {
		color: @buttons_hover_color;
		background: @buttons_hover_background;
	}

	//Button Primary
	&.button-inverse {
		color: @buttons_hover_color;
		background: @buttons_hover_background;

		&:hover,
		&:focus {
			color: @buttons_color;
			background: @buttons_background;
		}
	}

	//Button Primary
	&.button-primary {
		color: @white;
		background: @primary;

		&:hover,
		&:focus {
			background: @grey;
		}
	}

	//Button Small
	&.button-small {
		padding: @buttons_small_padding;
		font-size: @buttons_small_font_size;
	}

	//Button Medium
	&.button-medium {
		padding: @buttons_padding;
		font-size: @buttons_font_size;
	}

	//Button Large
	&.button-large {
		padding: @buttons_large_padding;
		font-size: @buttons_large_font_size;

		@media @medium {
			padding: @buttons_padding;
			font-size: @buttons_font_size;
		}
	}

	//Button Block
	&.button-block {
		width: 100%;
		text-align: center;
		display: block;
	}

	//Button Center
	&.button-center {
		margin: 0 auto;
	}

	//Button Border
	&.button-border {
		color: @buttons_color;
		background: transparent;
		border: 2px solid @buttons_color;
	}

	//Button Action
	&.button-action {
		position: relative;
		text-align: left;
		clear: both;

		&:after {
			position: absolute;
			top: 50%;
			right: 10px;
			margin-top: -10px;
			content: @buttons_action_icon;
			color: @buttons_color;
			font-size: 16px;
			font-family: @icon_font_family;
		}

		&:hover,
		&:focus {

			&:after {
				color: @buttons_hover_color;
			}
		}
	}

	//Text Button
	&.button-text {
		color: @primary;
		background: transparent;

		&:hover,
		&:focus {

		}
	}

	//Close Button
	&.button-close {
		position: relative;
		background: @buttons_background;

		&:after {
			color: @buttons_color;
			font-size: 15px;
			.square(15px);
			text-align: center;
			content: @buttons_close_icon;
			font-family: @icon_font_family;
			vertical-align: middle;
		}

		&:hover,
		&:focus {

			&:after {

			}
		}
	}

	/*
&.button-play {
		display: block;
		position: relative;
		.square(@button_play_size);

		&:after {
			position: absolute;
			top: 0;
			left: 0;
			font-family: @icon_font_family;
			content: @icon_play;
			color: @white;
			font-size: @button_play_icon_size;
			//padding: (100px - 40px)/2;
			@offset: (@button_play_size/2) - (@button_play_icon_size/2);
			padding: @offset (@offset - 2px) @offset (@offset + 2px); //Align Play Icon in Centre
			.gradient(#0F6BBB, 50%, #0D5FB1, 50%);
			.border-radius(50%);
		}

		&:hover,
		&:focus {

			&:after {

			}
		}

		@media @small {
			.square(@button_play_size/2);
			margin: 5px auto;

			&:after {
				font-size: (@button_play_icon_size/2);
				@offset: (@button_play_size/4) - (@button_play_icon_size/4);
				padding: @offset (@offset - 2px) @offset (@offset + 2px);
			}
		}
	}
*/

	//Button Disabled
	&:disabled {
		color: @white;
		background: @light_grey;
	}
}