/* Figure */

figure {
	padding: @figure_padding;
	border: @figure_border;

	figcaption {
		text-align: @figure_caption_text_align;
		margin: @figure_caption_margin;
		.font-size(@figure_caption_font_size);
		color: @figure_caption_color;
	}
}