/* Footer */

#footer {
	padding-top: @footer_padding_top;
	padding-bottom: @footer_padding_bottom;
	font-size: @footer_font_size;
	text-align: @footer_text_align;
	color: @footer_color;
	background: @footer_background;

	//Footer Content
	.footer-content {

		//Logo
		 .footer-logo span {
			font-size: @footer_logo_size;
		 }

		//Social Links
		.social {
			margin: @footer_social_margin;

			 a {
			 	margin: @footer_social_icon_margin;
			 	font-size: @footer_social_font_size;
			 	line-height: @footer_social_font_size;
				color: @white;
				vertical-align: middle;

				&:hover {
					color: @primary;
					.transition(color @transition_fast ease-in-out);
				}
			 }
		 }

		hr {
		    background: @footer_hr_color;
		}

		//Footer Menu
		.footer-menu {

			.footer-menu-list {

				.footer-title {
					color: @footer_color;
				}

				ul {
					margin: 0;
					padding: @footer_ul_padding;

					li {
						display: block;
						list-style: none;
						font-size: 11px;
						line-height: 16px;

						a {
							position: relative;
							display: inline-block;
							left: 0px;
							color: @footer_ul_color;
							.transition(all @transition_fast ease-in-out);

							&:hover {
								left: 2px;
								color: @white;

								&:before {
								 	left: 2px;
									color: @primary;
								}
							}
						}
					}
				}
			}
		}

		//Footer Copyright
		.footer-copyright {
			color: @footer_color;
			font-size: 10px;

			a {
				color: @footer_color;
				text-decoration: underline;

				&:hover,
				&:focus {
					color: @white;
				}
			}
		}
	}
}