/* Images */

img {
	vertical-align: bottom;

	&.thumbnail {
		.border-radius(@image-border-radius);
		padding: @image-padding;
		border: @image-border;
	}

	&.rounded {
		.border-radius(@image-border-radius);
	}

	&.circle {
		.border-radius(50%);
	}

	&.responsive {
		width: 100%;
		height: auto;
	}
}

.image {
	position: relative;
	font-size: 0;

	.image-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: table;
		margin: 0;
		padding: 0;
		width: 100%;

		@media @small {
			&.small-remove-overlay {
				position: relative;
				display: block;
			}
		}

		@media @medium {
			&.medium-remove-overlay {
				position: relative;
				display: block;
			}
		}

		@media @large {
			&.large-remove-overlay {
				position: relative;
				display: block;
			}
		}

		@media @extra-large {
			&.extra-large-remove-overlay {
				position: relative;
				display: block;
			}
		}

		.text {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		.image-overlay-content {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

	}

	.image-caption {
		display: block;
		padding: @image-caption-padding;
		width: @image-caption-width;
		font-family: @image-caption-font-family;
		font-weight: @image-caption-font-weight;
		.font-size(@image-caption-font-size);
		line-height: 1;
		color: @image-caption-color;
		background: @image-caption-background;
	}
}