/* Images */

img {
	vertical-align: bottom;

	&.thumbnail {
		.border-radius(@images_border_radius);
		padding: @images_padding;
		border: @images_border;
	}

	&.rounded {
		.border-radius(@images_border_radius);
	}

	&.circle {
		.border-radius(50%);
	}

	&.responsive {
		width: 100%;
		height: auto;
	}
}

.image {
	position: relative;
	font-size: 0;

	.image-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		display: table;
		margin: 0;
		padding: 0;
		width: 100%;

		@media @small {
			&.small-remove-overlay {
				position: relative;
				display: block;
			}
		}

		@media @medium {
			&.medium-remove-overlay {
				position: relative;
				display: block;
			}
		}

		@media @large {
			&.large-remove-overlay {
				position: relative;
				display: block;
			}
		}

		@media @extra_large {
			&.extra-large-remove-overlay {
				position: relative;
				display: block;
			}
		}

		.text {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		.image-overlay-content {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

	}

	.image-caption {

	}
}

//Image Placeholder
.image-placeholder {
	display: block;
	position: relative;
	background: @images_placeholder_background;
	background-size: 32px 32px;

	> img {
		//z-index: @image_placeholder_z_index + 2;
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

//Image Ratios
.image-ratio-1-2 { padding-top: 200%; }
.image-ratio-9-16 { padding-top: 177.777%; }
.image-ratio-9-14 { padding-top: 163.333%; }
.image-ratio-2-3 { padding-top: 150%; }
.image-ratio-3-4 { padding-top: 133.333%; }
.image-ratio-1-1 { padding-top: 100%; }
.image-ratio-4-3 { padding-top: 75%; }
.image-ratio-3-2 { padding-top: 66.66%; }
.image-ratio-16-9 { padding-top: 56.25%; }
.image-ratio-2-1 { padding-top: 50%; }