/* List Group */

.list-group {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style: none;

		a {
			position: relative;
			display: block;
			width: 100%;
			word-wrap: break-word;
		}
	}
}