/* Placeholder */

.placeholder {
	display: block;
	position: relative;
	background: @image-placeholder-background;
	
	svg,
	img,
	video {
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
}

//Placeholder Ratios
.placeholder-ratio-1-2 { padding-top: 200%; }
.placeholder-ratio-9-16 { padding-top: 177.777%; }
.placeholder-ratio-9-14 { padding-top: 163.333%; }
.placeholder-ratio-2-3 { padding-top: 150%; }
.placeholder-ratio-3-4 { padding-top: 133.333%; }
.placeholder-ratio-1-1 { padding-top: 100%; }
.placeholder-ratio-4-3 { padding-top: 75%; }
.placeholder-ratio-3-2 { padding-top: 66.66%; }
.placeholder-ratio-16-9 { padding-top: 56.25%; }
.placeholder-ratio-2-1 { padding-top: 50%; }