/* Navigation */

.navigation {
	z-index: @navigation_z_index;
	padding: @navigation_padding;
	background: @navigation_background;
	height: @navigation_height;
	.box-shadow(@navigation_box_shadow);

	&.navigation-fixed {
		z-index: @navigation_fixed_z_index;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	
	.navigation-header {
	
	}
	
	.navigation-toggle {
		display: none;
	}
	
	.logo {
		float: left;
		margin: @navigation_logo_margin;
		
		img {
			width: @navigation_logo_width;
			height: @navigation_logo_height;
			
			@media @extra_large {
				width: @navigation_logo_extra_large_width;
				height: @navigation_logo_extra_large_height;
			}

			@media @small {
				width: @navigation_logo_small_width;
				height: @navigation_logo_small_height;
			}
		}
	}

	//Navigaiton Nav
	.nav {
		padding: 0;
		margin: 0;
		height: @navigation_height;
		.clearfix();

		li {
			list-style: none;
			float: left;
			vertical-align: middle;

			a {
				display: block;
				margin: @nav_margin;
				padding: @nav_padding;
				height: @navigation_height;
				font-family: @nav_font_family;
				.font-size(@nav_font_size);
				color: @nav_color;
				height: @nav_line_height;
				text-align: @nav_text_align;
				text-transform: @nav_text_transform;		

				&:hover,
				&:focus {
					color: @nav_hover_color;
				}

				&.active {
					color: @nav_active_color;
					background: @nav_active_background;
				}
			}
			
			&.active {
				a {
					color: @nav_active_color;
					background: @nav_active_background;
				}
			}
		}
	}
	
	.secondary {
	
		li {
			a {
				margin: @nav_secondary_margin;
				font-family: @nav_secondary_font_family;
				.font-size(@nav_secondary_font_size);
				color: @nav_secondary_color;
								
				&.active,
				&:active {
					color: @nav_secondary_active_color;
				}
			}
		}
	}
	
	//Navigation Mobile
	@media @navigation_mobile_breakpoint {
		padding: @navigation_mobile_padding;
		height: @navigation_mobile_height;
		
		.logo {
			margin: @navigation_logo_mobile_margin;
		}
		
		.navigation-toggle {
			display: block;
		}
		
		.navigation-collapse {
			display: none;
			
			&.open {
				display: block;
			}
		}
	}
}