/* Page Header */

.page-header {
	background: @page_header_background;
	position: relative;

	.page-header-content {
		position: absolute;
		top: @page_header_content_top;
		bottom: @page_header_content_bottom;
		padding: @page_header_padding;
		background: @page_header_content_background;
		color: @page_header_color;
		text-align: @page_header_text_align;
		text-transform: @page_header_text_transform;
		font-size: @page_header_font_size;
	}
}