/* Panel */

.panel {
	margin: @panel-margin;
	padding: @panel-padding;
	background: @panel-background;
	text-align: @panel-text-align;
	.border-radius(@panel-border-radius);
	
	.panel-title {
		margin: @panel-title-margin;
		font-family: @panel-title-font-family;
		.font-size(@panel-title-font-size);
		color: @panel-title-color;
		text-transform: @panel-text-transform;
	}
	
	.panel-content {
		margin: @panel-content-margin;
		.font-size(@panel-content-font-size);
		line-height: @panel-content-line-height;
		color: @panel-content-color;
	}
}