/* Side Nav */

.side-nav {

	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			list-style: none;
			
			&.active {
				ul {
					display: block;
				}
			}

			a {
				position: relative;
				display: block;
				padding: @sidenav_padding;
				border-bottom: @sidenav_border_bottom;
				//height: @sidenav_height;
				color: @sidenav_color;
				vertical-align: middle;
				font-size: @sidenav_font_size;
				line-height: @sidenav_height;
				//overflow: hidden;

				@media @medium {
					font-size: @sidenav_font_size - 3;
				}

				&:hover,
				&:focus {
					color: @primary;
					margin-left: 3px;
					.transition(all @transition_fast ease-in-out);
				}

				&.active {
					background: @primary;
					color: @white;
					border-bottom: none;

					.icon {
						color: @sidenav_hover_divider_color;
					}

					&:hover,
					&:focus {
						margin-left: 0;
					}
				}
			}
			
			ul {
				margin: 0;
				padding: 0;
				display: none;
				border-bottom: 1px solid #E1E3E8;
				
				li {
					
					a {
						font-size: @sidenav_font_size - 2;
						line-height: @sidenav_height / 1.5;
						background: #FAFBFB;
						border: none;
						
						&:hover,
						&:focus {
							//color: @white;
							margin-left: 0;
							.transition(all @transition_fast ease-in-out);
						}
					}
				}
			}
		}
	}
}

