/* Social */

.social {

	a {
		color: @dark;

		&.facebook:hover {
			color: @facebook_color;
		}

		&.instagram:hover {
			color: @instagram_color;
		}

		&.twitter:hover {
			color: @twitter_color;
		}

		&.vimeo:hover {
			color: @vimeo_color;
		}

		&.youtube:hover {
			color: @youtube_color;
		}
	}

}