/* Swatches */

.swatch {

	&.white {
		background-color: @white;
	}

	&.lightgrey {
		background-color: @light_grey;
	}

	&.midgrey {
		background-color: @mid_grey;
	}

	&.grey {
		background-color: @grey;
	}

	&.darkgrey {
		background-color: @dark_grey;
	}

	&.black {
		background-color: @black;
	}

	&.error {
		background-color: @error;
	}

	&.warning {
		background-color: @warning;
	}

	&.success {
		background-color: @success;
	}

	&.info {
		background-color: @info;
	}

	&.light {
		background-color: @light;
	}

	&.primary {
		background-color: @primary;
	}

	&.secondary {
		background-color: @secondary;
	}

	&.dark {
		background-color: @dark;
	}
}