/* Tables */

table {
	&.table {
		border-collapse: collapse;
		overflow: hidden;
		background: @tables-background;
		.border-radius(@tables-border-radius);
		
		caption {
			margin: @tables-caption-margin;
			.font-size(@tables-caption-font-size);
			text-align: @tables-caption-text-align;
		}
		
		//Table Head
		thead {

			tr {

				th {
					padding: @tables-head-padding;
					font-family: @tables-head-font-family;
					font-weight: @tables-head-font-weight;
					.font-size(@tables-head-font-size);
					color: @tables-head-color;
					text-align: @tables-head-text-align;
					text-transform: @tables-head-text-transform;
				}
			}
		}
		
		//Table Body
		tbody {

			tr {

				td {
					padding: @tables-cell-padding;
					color: @grey;
					.font-size(@tables-body-font-size);
					line-height: @tables-body-line-height;
					vertical-align: text-middle;

					@media @large {
						max-width: 200px;
					}
				}
			}
		}

		&.table-bordered {
			border: @tables-border;
			border-width: @tables-border-width;

			td {
				padding: @tables-cell-padding;
				border: @tables-border;
				border-width: @tables-border-width;
			}
		}

		&.table-block {
			width: 100%;
		}

		&.table-hover {

			@media @large {
				> tbody > tr {

					> td,
					> th {
						.transition(all @transition-fast ease-in-out);
						
						.icon {
							//.translate3d(0,0,0);
							//.transition-transform(all @transition-fast ease-in-out);
						}
					}

					&:hover {
						> td,
						> th {
							opacity: 0.7;
							
							.icon {
								.translate3d(5px,0,0);
							}
						}
					}
				}
			}
		}

		&.table-responsive {
			@media @medium {

				//Force table to not be like tables anymore
				table, thead, tbody, th, td, tr {
					display: block;
				}

				//Hide table headers (but not display: none; for accessibility)
				thead tr {
					position: absolute;
					top: -9999px;
					left: -9999px;
				}

				tr {
					margin-bottom: @gutter;
					border: @table-responsive-border;
					border-width: @table-responsive-border-width;
				}

				td {
					//Behave  like a "row"
					border: none;
					padding: @table-responsive-padding;
					position: relative;

					//Display Title
					&:first-child {
						padding-top: @gutter;
					}
				}

				td:before {
					//Now like a table header
					position: absolute;
					//Top/left values mimic padding
					top: @gutter;
					left: @gutter;
					width: 100%;
					white-space: nowrap;
					color: @primary;

					//Display Title
					&:first-child {
						display: none;
					}
				}

				/// Label the data
				//td:nth-of-type(1):before { content: attr(data-label); }
				td:nth-of-type(2):before { content: attr(data-label); }
				td:nth-of-type(3):before { content: attr(data-label); }
				td:nth-of-type(4):before { content: attr(data-label); }
				td:nth-of-type(5):before { content: attr(data-label); }
				td:nth-of-type(6):before { content: attr(data-label); }
				td:nth-of-type(7):before { content: attr(data-label); }
				td:nth-of-type(8):before { content: attr(data-label); }
				td:nth-of-type(9):before { content: attr(data-label); }
			}
		}
	}
}