/* Video */

.video-player {
	background: @video_player_background;
}
/*

.video-message {
	@pxValue: (@video_message_font_size * 10);
	@offsetValue: (@pxValue / 2);
	position: absolute;
	top: 50%;
	margin: 0;
	margin-top: ~"-@{offsetValue}px";
	width: 100%;
	height: ~"@{offsetValue}px";
	.font-size(@video_message_font_size);
	color: @video_message_color;
	line-height: ~"@{offsetValue}px";
	text-align: center;
}
*/


//Video Wrapper
.video-wrapper {
	z-index: @video_wrapper_z_index !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	&.frame {
		position: relative;
		padding-bottom: 56.25%; //16:9
		height: 0;
	}

	iframe,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}