/*
 * Post
 */

.post {
	margin-bottom: @margin-xlarge;

	&:last-child {
		margin-bottom: 0;
	}
}

.post-title {
	margin: 0;
}

.post-meta {
	margin: 1rem 0 3rem;
	.thin-font();
	.font-size(@font-size-small);
}

.post-category {
	.medium-font();
	.font-size(@font-size-small);
	color: @grey;
}

.post-date {

}

.post-category {

}

.post-content {

	p,
	ul,
	ol {

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

}