/*
 * Definitions
 */

@max-width-xsmall: 450px;
@max-width-small: 600px;
@max-width-medium: 800px;
@max-width-large: 1024px;
@max-width-xlarge: 1280px;


/*
 * Max Width
 */

.max-width-xsmall {
	max-width: @max-width-xsmall;
}

.max-width-small {
	max-width: @max-width-small;
}

.max-width-medium {
	max-width: @max-width-medium;
}

.max-width-large {
	max-width: @max-width-large;
}

.max-width-xlarge {
	max-width: @max-width-xlarge;
}