/*
 * General
 */

//Clearfix
.clearfix() {

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}

	*zoom: 1;
}

//Show
.show() {
	display: block !important;
	visibility: visible !important;
	opacity: 1 !important;
}

//Hide
.hide() {
	display: none !important;
	visibility: hidden !important;
	opacity: 0 !important;
}

//Sizing
.size(@width, @height) {
	width: @width;
	height: @height;
}

//Square Sizing
.square(@size) {
	.size(@size, @size);
}

//Overflow Scroll
.overflow-scroll() {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

//Center Block
.center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

//Center
.center() {
	position: absolute;
	top: 50%;
	left: 50%;
	.translate(-50%, -50%);
}

//Hide text
.hide-text() {
	font: ~"0/0" a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.text-hide() {
	.hide-text();
}

//Truncate
.truncate() {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

//Overlay
.cover() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

//Hide but keep in DOM for Screen Readers
.hide-visually() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position:
	absolute;
	width: 1px;
}

//User Select
.user-select(@argument: none) {
	-webkit-user-select: @argument;
	-moz-user-select: @argument;
	-ms-user-select: @argument;
	user-select: @argument;
}

//Appearance
.appearance(@appearance) {
	-webkit-appearance: @appearance;
	-moz-appearance: @appearance;
	appearance: @appearance;
}

// Retina images
.img-retina(@file-1x, @file-2x, @width-1x, @height-1x) {
	background-image: url("@{file-1x}");
	
	@media @retina {
		background-image: url("@{file-2x}");
		background-size: @width-1x @height-1x;
	}
}

//Stroke Offset
.stroke-offset(@offset) {
	stroke-dasharray: @offset;
	stroke-dashoffset: @offset;
}

//Media Ratio
.media-ratio(@width, @height) {
	padding-top: (@height/@width) * 100%;
}

//Column Count
.column-count(@count) {
	-webkit-column-count: @count;
	-moz-column-count: @count;
	column-count: @count;
}

//Column Gap
.column-gap(@gap) {
	-webkit-column-gap: @gap;
	-moz-column-gap: @gap;
	column-gap: @gap;
}

//Box Sizing
.box-sizing(@box-sizing) {
	-webkit-box-sizing: @box-sizing;
	-moz-box-sizing: @box-sizing;
	box-sizing: @box-sizing;
}


/*
 * Border Radius
 */


//Border Radiuses
.border-radiuses (@top-left: @border-radius, @top-right: @border-radius, @bottom-left: @border-radius, @bottom-right: @border-radius) {
	border-radius: @top-left @top-right @bottom-right @bottom-left;
	background-clip: padding-box;
}

//Single Side Border Radius
.border-top-radius(@radius) {
	border-top-right-radius: @radius;
	border-top-left-radius: @radius;
}

.border-right-radius(@radius) {
	border-bottom-right-radius: @radius;
	border-top-right-radius: @radius;
}

.border-bottom-radius(@radius) {
	border-bottom-right-radius: @radius;
	border-bottom-left-radius: @radius;
}

.border-left-radius(@radius) {
	border-bottom-left-radius: @radius;
	border-top-left-radius: @radius;
}


/*
 * Typography
 */
 
//Font Family
.font-family(@font-family, @font-weight) {
	font-family: @font-family;
	font-weight: @font-weight;
	font-style: normal;
}

.thin-font() {
	.font-family(@thin-font-family, @thin-font-weight);
}

.regular-font() {
	.font-family(@regular-font-family, @regular-font-weight);
}

.medium-font() {
	.font-family(@medium-font-family, @medium-font-weight);
}

.semibold-font() {
	.font-family(@semibold-font-family, @semibold-font-weight);
}

.bold-font() {
	.font-family(@bold-font-family, @bold-font-weight);
}

//Font Face
.font-face(@family: arial, @weight: normal, @style: normal) {
	@font-face {
		font-family: '@{family}';
		src:url('@{font-path}/@{family}.eot');
		src:url('@{font-path}/@{family}.eot?#iefix') format('embedded-opentype'),
			url('@{font-path}/@{family}.svg#icon') format('svg'),
			url('@{font-path}/@{family}.woff') format('woff'),
			url('@{font-path}/@{family}.ttf') format('truetype'),
			url('@{font-path}/@{family}.svg#icon') format('svg');
		font-weight: @weight;
		font-style: @style;
	}
}

//Font Size
.font-size(@size) {
	@remValue: @size;
	@pxValue: (@size * 10);
	font-size: ~"@{pxValue}px"; 
	font-size: ~"@{remValue}rem";
}


/*
 * Backgrounds
 */

.gradient(@start: @white, @start-origin: 0%, @stop: @black, @stop-origin: 100%) {
	background-image: -webkit-linear-gradient(top, @start @start-origin, @stop @stop-origin);
	background-image: -moz-linear-gradient(top, @start @start-origin, @stop @stop-origin);
	background-image: -ms-linear-gradient(top, @start @start-origin, @stop @stop-origin);
	background-image: linear-gradient(to bottom, @start @start-origin, @stop @stop-origin);
}

//Horizontal Gradient
.horizontal-gradient(@start: @white, @start-origin: 0%, @stop: @black, @stop-origin: 100%) {
	background-image: -webkit-linear-gradient(left, @start @start-origin, @stop @stop-origin);
	background-image: -moz-linear-gradient(left, @start @start-origin, @stop 100%);
	background-image: -ms-linear-gradient(left, @start @start-origin, @stop @stop-origin);
	background-image: linear-gradient(to right, @start @start-origin, @stop @stop-origin);
}

//Radial Gradient
.radial-gradient(@start: @white, @start-origin: 0%, @stop: @black, @stop-origin: 100%) {
	background-image: -webkit-radial-gradient(center, ellipse cover, @start @start-origin, @stop @stop-origin);
	background-image: -moz-radial-gradient(center, ellipse cover, @start @start-origin, @stop @stop-origin);
	background-image: -ms-radial-gradient(center, ellipse cover, @start @start-origin, @stop @stop-origin);
	background-image: radial-gradient(ellipse at center, @start @start-origin, @stop @stop-origin);
}

//Background Cover
.background-cover(@url) {
	background: url('@{url}') no-repeat center center; 
	background-size: cover;
}

//Background Cover Fixed
.background-cover-fixed(@url) {
	background: url('@{url}') no-repeat center center;
	background-attachment: scroll;
	background-size: cover;
	
	@media @large {
		background-attachment: fixed;
	}
}


/*
 * Placeholder
 */
 
.placeholder-input(@font-family, @font-size, @color, @letter-spacing, @text-transform) {
	font-family: @font-family;
	.font-size(@font-size);
	color: @color;
	letter-spacing: @letter-spacing;
	text-transform: @text-transform;
	.transition(color 0.2s ease-in-out);
}

.placeholder-input-focus(@color) {
	color: fade(@color, 25%);
}

//Placeholder
.placeholder(@color, @font-size, @font-family, @letter-spacing, @text-transform) {
	&:-moz-placeholder {
		.placeholder-input(@font-family, @font-size, @color, @letter-spacing, @text-transform);
	}
	&:focus:-moz-placeholder {
		.placeholder-input-focus(@color);
	}
	&::-moz-placeholder {
		.placeholder-input(@font-family, @font-size, @color, @letter-spacing, @text-transform);
	}
	&:focus::-moz-placeholder {
		.placeholder-input-focus(@color);
	}
	&:-ms-input-placeholder {
		.placeholder-input(@font-family, @font-size, @color, @letter-spacing, @text-transform);
	}
	&:focus:-ms-input-placeholder {
		.placeholder-input-focus(@color);
	}
	&::-webkit-input-placeholder {
		.placeholder-input(@font-family, @font-size, @color, @letter-spacing, @text-transform);
	}
	&:focus::-webkit-input-placeholder {
		.placeholder-input-focus(@color);
	}
}


/*
 * Arrows
 */
 
.arrow() {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	content: ' ';
}

.arrow-top(@size, @color) {
	.arrow();
	top: -@size;
	left: 50%;
	margin-left: -@size;
	border-right: @size solid transparent;
	border-bottom: @size solid @color;
	border-left: @size solid transparent;
}

.arrow-top-left(@size, @color, @offset) {
	.arrow-top(@size, @color);
	left: @offset;
}

.arrow-top-right(@size, @color, @offset) {
	.arrow-top(@size, @color);
	left: auto;
	right: @offset;
}

.arrow-bottom(@size, @color) {
	.arrow();
	bottom: -@size;
	left: 50%;
	margin-left: -@size;
	border-right: @size solid transparent;
	border-top: @size solid @color;
	border-left: @size solid transparent;
}

.arrow-bottom-left(@size, @color, @offset) {
	.arrow-bottom(@size, @color);
	left: @offset;
}

.arrow-bottom-right(@size, @color, @offset) {
	.arrow-bottom(@size, @color);
	left: auto;
	right: @offset;
}

.arrow-left(@size, @color) {
	.arrow();
	left: -@size;
	top: 50%;
	margin-top: -@size;
	border-top: @size solid transparent;
	border-right: @size solid @color;
	border-bottom: @size solid transparent;
}

.arrow-right(@size, @color) {
	.arrow();
	right: -@size;
	top: 50%;
	margin-top: -@size;
	border-top: @size solid transparent;
	border-left: @size solid @color;
	border-bottom: @size solid transparent;
}


/*
 * Transitions
 */

.transition(@transition) {
	-webkit-transition: @transition;
	transition: @transition;
}

.transitions(@transition1, @transition2) {
	-webkit-transition: @transition1, @transition2;
	transition: @transition1, @transition2;
}

.transition-delay(@transition-delay) {
	-webkit-transition-delay: @transition-delay;
	transition-delay: @transition-delay;
}

.transition-property(@transition-property) {
	-webkit-transition-property: @transition-property;
	transition-property: @transition-property;
}

.transition-duration(@transition-duration) {
	-webkit-transition-duration: @transition-duration;
	transition-duration: @transition-duration;
}

.transition-transform(@transition) {
	-webkit-transition: -webkit-transform @transition;
	transition: transform @transition;
}


/*
 * Transformations
 */

.transform(@transform) {
	-webkit-transform: @transform;
	-ms-transform: @transform;
	transform: @transform;
}

.rotate(@degrees) {
	-webkit-transform: rotate(@degrees);
	-ms-transform: rotate(@degrees);
	transform: rotate(@degrees);
}

.scale(@ratio) {
	-webkit-transform: scale(@ratio);
	-ms-transform: scale(@ratio);
	transform: scale(@ratio);
}

.scale3d(@x, @y, @z) {
	-webkit-transform: scale3d(@x, @y, @z);
	-ms-transform: scale3d(@x, @y, @z);
	transform: scale3d(@x, @y, @z);
}

.translate(@x, @y) {
	-webkit-transform: translate(@x, @y);
	-ms-transform: translate(@x, @y);
	transform: translate(@x, @y);
}

.skew(@x, @y) {
	-webkit-transform: skew(@x, @y);
	-ms-transform: skewX(@x) skewY(@y);
	transform: skew(@x, @y);
}

.translate3d(@x, @y, @z) {
	-webkit-transform: translate3d(@x, @y, @z);
	transform: translate3d(@x, @y, @z);
}

.translateX(@offset) {
	-webkit-transform: translateX(@offset);
	-ms-transform: translateX(@offset);
	transform: translateX(@offset);
}

.translateY(@offset) {
	-webkit-transform: translateY(@offset);
	-ms-transform: translateY(@offset);
	transform: translateY(@offset);
}

.translateZ(@offset) {
	-webkit-transform: translateZ(@offset);
	-ms-transform: translateZ(@offset);
	transform: translateZ(@offset);
}

.rotateX(@degrees) {
	-webkit-transform: rotateX(@degrees);
	-ms-transform: rotateX(@degrees);
	transform: rotateX(@degrees);
}

.rotateY(@degrees) {
	-webkit-transform: rotateY(@degrees);
	-ms-transform: rotateY(@degrees);
	transform: rotateY(@degrees);
}

.transform-origin(@origin) {
	-webkit-transform-origin: @origin;
	-ms-transform-origin: @origin;
	transform-origin: @origin;
}

.transform-style(@style) {
	-webkit-transform-style: @style;
	-ms-transform-style: @style;
	transform-style: @style;
}

.perspective(@perspective) {
	-webkit-perspective: @perspective;
	perspective: @perspective;
}

.perspective-origin(@perspective) {
	-webkit-perspective-origin: @perspective;
	perspective-origin: @perspective;
}

.backface-visibility(@visibility) {
	-webkit-backface-visibility: @visibility;
	backface-visibility: @visibility;
}

/*
 * Animations
 */

.animation(@animation) {
	-webkit-animation: @animation;
	animation: @animation;
}

.animation-name(@name) {
	-webkit-animation-name: @name;
	animation-name: @name;
}

.animation-duration(@duration) {
	-webkit-animation-duration: @duration;
	animation-duration: @duration;
}

.animation-fill-mode(@mode) {
	-webkit-animation-fill-mode: @mode;
	animation-fill-mode: @mode;
}

.animation-timing-function(@timing-function) {
	-webkit-animation-timing-function: @timing-function;
	animation-timing-function: @timing-function;
}

.animation-delay(@delay) {
	-webkit-animation-delay: @delay;
	animation-delay: @delay;
}

.animation-iteration-count(@iteration-count) {
	-webkit-animation-iteration-count: @iteration-count;
	animation-iteration-count: @iteration-count;
}

.animation-direction(@direction) {
	-webkit-animation-direction: @direction;
	animation-direction: @direction;
}


/*
 * Filters
 */

.filter-blur(@radius) {
	-webkit-filter: blur(@radius);
	-moz-filter: blur(@radius);
	-ms-filter: blur(@radius);
}

.filter-sepia(@radius) {
	-webkit-filter: sepia(@radius);
	-moz-filter: sepia(@radius);
	-ms-filter: sepia(@radius);
}

.filter-hue-rotate(@radius) {
	-webkit-filter: hue-rotate(@radius);
	-moz-filter: hue-rotate(@radius);
	-ms-filter: hue-rotate(@radius);
}

.filter-brightness(@amount) {
	-webkit-filter: brightness(@amount);
	-moz-filter: brightness(@amount);
	-ms-filter: brightness(@amount);
}

.filter-contrast(@percentage) {
	-webkit-filter: contrast(@percentage);
	-moz-filter: contrast(@percentage);
	-ms-filter: contrast(@percentage);
}

.filter-invert(@percentage) {
	-webkit-filter: invert(@percentage);
	-moz-filter: invert(@percentage);
	-ms-filter: invert(@percentage);
}

.filter-saturate(@percentage) {
	-webkit-filter: saturate(@percentage);
	-moz-filter: saturate(@percentage);
	-ms-filter: saturate(@percentage);
}


/*
 * Flexbox
 * via: https://gist.github.com/jayj
 * url: https://gist.github.com/jayj/4012969
 */

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-moz-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}
 
// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
  -webkit-flex: @columns;
     -moz-flex: @columns;
      -ms-flex: @columns;
          flex: @columns;
}
 
// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
  -webkit-flex-direction: @direction;
     -moz-flex-direction: @direction;
      -ms-flex-direction: @direction;
          flex-direction: @direction;
}
 
// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
  -webkit-flex-wrap: @wrap;
     -moz-flex-wrap: @wrap;
      -ms-flex-wrap: @wrap;
          flex-wrap: @wrap;
}
 
// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
     -moz-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}
 
// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
  -webkit-order: @order;
     -moz-order: @order;
      -ms-order: @order;
          order: @order;
}
 
// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
  -webkit-flex-grow: @grow;
     -moz-flex-grow: @grow;
      -ms-flex-grow: @grow;
          flex-grow: @grow;
}
 
// Flex shr
// - applies to: flex itemsink factor
// <number> 
.flex-shrink(@shrink: 1) {
  -webkit-flex-shrink: @shrink;
     -moz-flex-shrink: @shrink;
      -ms-flex-shrink: @shrink;
          flex-shrink: @shrink;
}
 
// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
.flex-basis(@width: auto) {
  -webkit-flex-basis: @width;
     -moz-flex-basis: @width;
      -ms-flex-basis: @width;
          flex-basis: @width;
}
 
// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
  -webkit-justify-content: @justify;
     -moz-justify-content: @justify;
      -ms-justify-content: @justify;
          justify-content: @justify;
}
 
// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
.align-content(@align: stretch) {
  -webkit-align-content: @align;
     -moz-align-content: @align;
      -ms-align-content: @align;
          align-content: @align;
}
 
// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
.align-items(@align: stretch) {
  -webkit-align-items: @align;
     -moz-align-items: @align;
      -ms-align-items: @align;
          align-items: @align;
}
 
// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
.align-self(@align: auto) {
  -webkit-align-self: @align;
     -moz-align-self: @align;
      -ms-align-self: @align;
          align-self: @align;
}