/*
 * Position
 */

.top-left {
	position: absolute !important;
	top: 0;
	left: 0;
	
	&.gutter {
		top: @gutter;
		left: @gutter;
	}
}

.top-right {
	position: absolute !important;
	top: 0;
	right: 0;
	
	&.gutter {
		top: @gutter;
		right: @gutter;
	}
}

.bottom-left {
	position: absolute !important;
	bottom: 0;
	left: 0;
	
	&.gutter {
		bottom: @gutter;
		left: @gutter;
	}
}

.bottom-right {
	position: absolute !important;
	bottom: 0;
	right: 0;
	
	&.gutter {
		bottom: @gutter;
		right: @gutter;
	}
}