//Font Rendering
html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//Box Sizing
* {
	.box-sizing(border-box);
}

//Removes Dotted Border
:focus {
	outline: 0;
}

//Remove Webkit Glow
textarea, input {
	outline: none;
}