// Container
@container-xsmall: 100%;
@container-small: 100%;
@container-medium: 1024px;
@container-large: 1280px;
@container-xlarge: 1680px;

// Container Gutter
@container-gutter: (@gutter / 2);
@container-gutter-xlarge: @container-gutter;
@container-gutter-large: @container-gutter;
@container-gutter-medium: @container-gutter;
@container-gutter-small: @container-gutter;
@container-gutter-xsmall: @container-gutter;