// Gutter
@gutter: 15px;
@gutter-xlarge: @gutter;
@gutter-large: @gutter;
@gutter-medium: @gutter;
@gutter-small: @gutter;
@gutter-xsmall: @gutter;

// Gutter Directions
@gutter-top: (@gutter * 2);
@gutter-bottom: (@gutter * 2);
@gutter-left: (@gutter * 2);
@gutter-right: (@gutter * 2);