.button-group {
  display: flex;

  & > * {
    position: relative;
    flex: 0 0 auto;

    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }

    &:not(:first-child):not(:last-child) {
      border-radius: 0;
      margin-inline-start: calc(var(--button-border-width) * -1);
    }

    &:first-child {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &:last-child {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
      margin-inline-start: calc(var(--button-border-width) * -1);
    }
  }
}

.button-group-block {
  width: 100%;

  & button,
  & .button {
    flex: 1 1 auto;
  }
}
