.button-group {
  display: flex;

  & button,
  & .button {
    position: relative;
    flex: 0 0 auto;

    &:hover,
    &:focus,
    &:active {
      z-index: 2;
    }

    & + button,
    & + .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      margin-left: calc(var(--button-border-width) * -1);
    }
  }
}

.button-group-block {
  width: 100%;

  & button,
  & .button {
    flex: 1 1 auto;
  }
}
