button,
.button {
	display: inline-block;
	padding: var(--button-padding-vertical) var(--button-padding-horizontal);
	min-width: var(--button-height);
	height: var(--button-height);
	font-family: var(--button-font-family);
	font-weight: var(--button-font-weight);
	line-height: var(--button-line-height);
	font-size: var(--button-font-size);
	color: var(--button-color);
	letter-spacing: var(--button-letter-spacing);
	text-align: var(--button-text-align);
	text-transform: var(--button-text-transform);
	white-space: nowrap;
	cursor: pointer;
	background: var(--button-background);
	border-width: var(--button-border-width);
	border-style: var(--button-border-style);
	border-color: var(--button-border-color);
	border-radius: var(--button-border-radius);
	@apply --transition-fast;

	&:not(:disabled):hover,
	&:not(:disabled):focus {
		text-decoration: none;
		color: var(--button-hover-color);
		background: var(--button-hover-background);
		border-color: var(--button-hover-border-color);
	}

	&:not(:disabled):active {
		color: var(--button-active-color);
		background: var(--button-active-background);
		border-color: var(--button-active-border-color);
		box-shadow: var(--button-active-shadow);
	}

	&.spinner::before {
		margin-top: -0.5em;
		margin-left: -0.5em;
		width: 1em;
		height: 1em;
	}
	
	& svg {
		width: var(--button-font-size);
		height: var(--button-font-size);
		fill: var(--button-color);
		@apply --transition-fast;
	}
}

button:disabled {
	cursor: no-drop;
	opacity: var(--button-disabled-opacity);
}

/* iOS "clickable elements" fix for role="button" */
[role="button"] {
	cursor: pointer;
}

.button-block {
	display: block;
	width: 100%;
	text-align: var(--button-block-text-align);
}

.button-border {
	background: transparent;
}

.button-square {
	padding: var(--button-padding-vertical);
}

.button-pill {
	border-radius: calc(var(--button-height) / 2);
}