.button-xl {
	padding: var(--button-xl-padding);
	min-width: var(--button-xl-height);
	height: var(--button-xl-height);
	font-size: var(--button-xl-font-size);
}

.button-l {
	padding: var(--button-l-padding);
	min-width: var(--button-l-height);
	height: var(--button-l-height);
	font-size: var(--button-l-font-size);
}

.button-s {
	padding: var(--button-s-padding);
	min-width: var(--button-s-height);
	height: var(--button-s-height);
	font-size: var(--button-s-font-size);
}

.button-xs {
	padding: var(--button-xs-padding);
	min-width: var(--button-xs-height);
	height: var(--button-xs-height);
	font-size: var(--button-xs-font-size);
}