.spinner {
  position: relative;

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(var(--spinner-size) / -2);
    margin-inline-start: calc(var(--spinner-size) / -2);
    width: var(--spinner-size);
    height: var(--spinner-size);
    content: '';
    border-radius: 50%;
    border: var(--spinner-width) solid var(--spinner-background-color);
    border-left-color: var(--spinner-foreground-color);
    animation: spin var(--spinner-speed) infinite linear;
  }
}
