// Button
@button-padding: @padding-vertical-medium @padding-horizontal-medium;
@button-height: @height-medium;
@button-font-family: @bold-font-family;
@button-font-weight: @bold-font-weight;
@button-font-size: 1.4;
@button-color: @dark-grey;
@button-line-height: 1;
@button-text-align: center;
@button-text-transform: none;
@button-background: @light;
@button-border: 1px solid @light-grey;

// Button Hover
@button-hover-color: @dark-grey;
@button-hover-background: darken(@button-background, 10%);
@button-hover-border: 1px solid darken(@light-grey, 10%);