// Button
@button-padding-vertical: 12px;
@button-padding-horizontal: 15px;
@button-height: 40px;
@button-font-family: @bold-font-family;
@button-font-weight: @bold-font-weight;
@button-font-size: 1.4;
@button-color: @dark-grey;
@button-line-height: 1;
@button-text-align: center;
@button-text-transform: none;
@button-background: @light-grey;
@button-border: 1px solid darken(@button-background, 5%);

// Button Hover
@button-hover-color: @dark-grey;
@button-hover-background: darken(@button-background, 10%);
@button-hover-border: 1px solid darken(@button-background, 15%);