// Button Error
@button-error-color: @white;
@button-error-background: @error;
@button-error-border: 1px solid darken(@error, 5%);
@button-error-hover-color: @button-error-color;
@button-error-hover-background: darken(@error, 10%);
@button-error-hover-border: 1px solid darken(@error, 15%);

// Button Warning
@button-warning-color: @white;
@button-warning-background: @warning;
@button-warning-border: 1px solid darken(@warning, 5%);
@button-warning-hover-color: @button-warning-color;
@button-warning-hover-background: darken(@warning, 10%);
@button-warning-hover-border: 1px solid darken(@warning, 15%);

// Button Success
@button-success-color: @white;
@button-success-background: @success;
@button-success-border: 1px solid darken(@success, 5%);
@button-success-hover-color: @button-success-color;
@button-success-hover-background: darken(@success, 10%);
@button-success-hover-border: 1px solid darken(@success, 15%);

// Button Info
@button-info-color: @white;
@button-info-background: @info;
@button-info-border: 1px solid darken(@button-info-background, 5%);
@button-info-hover-color: @button-info-color;
@button-info-hover-background: darken(@button-info-background, 10%);
@button-info-hover-border: 1px solid darken(@info, 15%);