// Button Extra Large
@button-xlarge-padding: @padding-xlarge;
@button-xlarge-height: @height-xlarge;
@button-xlarge-font-size: @font-size-xlarge;

// Button Large
@button-large-padding: @padding-large;
@button-large-height: @height-large;
@button-large-font-size: @font-size-large;

// Button Medium
@button-medium-padding: @button-padding;
@button-medium-height: @button-height;
@button-medium-font-size: @button-font-size;

// Button Extra Small
@button-xsmall-padding: @padding-xsmall;
@button-xsmall-height: @height-xsmall;
@button-xsmall-font-size: @font-size-xsmall;

// Button Small
@button-small-padding: @padding-small;
@button-small-height: @height-small;
@button-small-font-size: @font-size-small;