// Button Small
@button-small-padding-vertical: 8px;
@button-small-padding-horizontal: 15px;
@button-small-height: 30px;
@button-small-font-size: 1;

// Button Medium
@button-medium-padding-vertical: @button-padding-vertical;
@button-medium-padding-horizontal: @button-padding-horizontal;
@button-medium-height: @button-height;
@button-medium-font-size: @button-font-size;

// Button Large
@button-large-padding-vertical: 15px;
@button-large-padding-horizontal: 24px;
@button-large-height: 50px;
@button-large-font-size: 1.6;

// Button Extra Large
@button-extra-large-padding-vertical: 20px;
@button-extra-large-padding-horizontal: 30px;
@button-extra-large-height: 65px;
@button-extra-large-font-size: 2;