// Button Inverse
@button-inverse-color: @light;
@button-inverse-background: @inverse;
@button-inverse-border: 1px solid darken(@inverse, 5%);
@button-inverse-hover-color: @button-inverse-color;
@button-inverse-hover-background: darken(@button-inverse-background, 10%);
@button-inverse-hover-border: 1px solid darken(@inverse, 15%);

// Button Primary
@button-primary-color: @white;
@button-primary-background: @primary;
@button-primary-border: 1px solid darken(@primary, 5%);
@button-primary-hover-color: @button-primary-color;
@button-primary-hover-background: darken(@primary, 10%);
@button-primary-hover-border: 1px solid darken(@primary, 15%);

// Button Secondary
@button-secondary-color: @white;
@button-secondary-background: @secondary;
@button-secondary-border: 1px solid darken(@secondary, 5%);
@button-secondary-hover-color: @button-secondary-color;
@button-secondary-hover-background: darken(@secondary, 10%);
@button-secondary-hover-border: 1px solid darken(@secondary, 15%);

// Button Tertiary
@button-tertiary-color: @white;
@button-tertiary-background: @tertiary;
@button-tertiary-border: 1px solid darken(@tertiary, 5%);
@button-tertiary-hover-color: @button-tertiary-color;
@button-tertiary-hover-background: darken(@tertiary, 10%);
@button-tertiary-hover-border: 1px solid darken(@tertiary, 5%);

// Button Border
@button-border-color: @dark;
@button-border-border: 1px solid @button-border-color;
@button-border-background: transparent;
@button-border-radius: @border-radius;
@button-border-hover-color: @white;
@button-border-hover-border: 1px solid @button-border-color;
@button-border-hover-background: @button-border-color;

// Button Text
@button-text-padding-horizontal: @button-padding-horizontal;
@button-text-color: @dark;
@button-text-hover-color: @primary;