// Table
@table-background: none;
@table-border-radius: @border-radius;

// Table Caption
@table-caption-margin: 5px 10px;
@table-caption-font-size: @font-size-medium;
@table-caption-font-weight: @bold-font-weight;
@table-caption-color: @body-color;
@table-caption-text-align: left;

// Table Head
@table-head-padding: 10px;
@table-head-font-family: @bold-font-family;
@table-head-font-weight: @bold-font-weight;
@table-head-font-size: @paragraph-font-size;
@table-head-text-align: left;
@table-head-text-transform: none;
@table-head-color: @body-color;

// Table Body
@table-cell-padding: 10px;
@table-cell-font-size: @paragraph-font-size;
@table-cell-color: @body-color;
@table-cell-line-height: @line-height-medium;
@table-cell-vertical-align: middle;

// Table Border
@table-border: solid @light-grey;
@table-border-width: 1px;

// Table Block
@table-block-head-background: @light;

// Table Reponsive
@table-responsive-breakpoint: @small;
@table-responsive-row-margin: 10px 0px;
@table-responsive-cell-padding: 10px 0px;
@table-responsive-border: solid @light;
@table-responsive-border-width: 0px 0px 1px 0px;