/* Browser Styles */

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	.border-box-sizing();
}

//Removes Dotted Border
:focus {
	outline: 0;
}

abbr {
	cursor: help;
}

//Remove Border Radius from Mobile Safari
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	.appearance(none);
	.border-radius(0);
}

//Remove Webkit Glow
textarea, input {
	outline: none;
}

/* General Styles */

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
}

html {
	font-size: @base-font-size;
	
	@media @medium {
		font-size: @base-medium-font-size;
	}
	
	@media @small {
		font-size: @base-small-font-size;
	}
}

body {
	color: @body-color;
	font-family: @copy-font-family;
	
	&.navigation-fixed {
		padding-top: @navigation-height;
		
		@media @navigation-mobile-breakpoint {
			padding-top: @navigation-mobile-height;
		}
	}
}

a {
	text-decoration: none;
	color: @link-color;
	.transition(color @transition-fast ease-in-out);
	
	&:hover,
	&:focus {
		color: @link-hover-color;
	}
}

hr {
	clear: both;
	margin: @hr-margin;
	border: 0;
	height: @hr-height;
	background: @hr-background;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

dl {

	dt,
	dd {

	}
}