/* Map */

.map {
	position: relative;

	img {
		max-width:none;//Bug Fix for Infowindow
	}

	.map-canvas {
		width: 100%;

		@media @small {
			height: 300px;
		}

		@media @only_medium {
			height: 380px;
		}

		@media @large {
			height: 500px;
		}

		@media @extra_large {
			height: 600px;
		}
	}

	//Controls
	.map-controls {
		margin-left: 10px;
		padding: 10px;
		font-size: 15px;
		width: 40px;
		height: 40px;
		text-align: center;
		color: @white;
		background: @primary;
		.transition(all @transition_fast ease-in-out);

		&:hover,
		&:focus {
			background: @dark_grey;
		}

		&.map-controls-zoom-in {
			margin-top: 10px;
		}

		&.map-controls-zoom-out {

		}
	}

	//Pagination
	.map-pagination {
		z-index: @map_pagination_z_index;
		position: absolute;
		bottom: 0;
		right: 0;
		margin: 0;
		padding: 0;
		list-style: none;

		.map-pagination-item {
			display: inline-block;

			a {
				position: relative;
				display: block;
				background: @primary;
				color: @white;
				padding: 20px;
				text-align: center;
				font-size: 12px;
				cursor: pointer;

				&:hover,
				&:focus {
					@media @large {
						background: @dark;
					}
				}

				&.active {
					background: @secondary;
				}
			}
		}
	}
}


//Marker Label
.marker-label {
	z-index: @map_marker_label_z_index;
	position: absolute;
	display: block;
	margin-top: -55px;
	margin-left: -50px;
	width: 100px;
	height: 50px;
	font-size: 32px !important;
	text-align: center;
	color: @white;
	white-space: nowrap;
}


//Infobox
.infobox {
	z-index: 99;
	margin: 0;
	padding: 10px 20px;
	width: 250px;
	height: 140px;
	font-size: 14px;
	color: @grey;
	background: @white;

	&:after {
		z-index: 99;
		position: absolute;
		width: 0;
		height: 0;
		content: ' ';
		left: 50%;
		bottom: -20px;
		margin-left: -20px;
		border-left: 20px solid transparent;
		border-top: 20px solid @white;
		border-right: 20px solid transparent;
	}
}