/* Scroll Top */

.scroll-top {
	z-index: @scroll_top_z_index;
	margin: @scroll_top_margin;
	padding: @scroll_top_padding;
	position: absolute;
	bottom: 0;
	display: block;
	width: @scroll_top_width;
	height: @scroll_top_height;
	text-align: center;
	cursor: pointer;
	background: @scroll_top_background;
	.border-radius(@scroll_top_border_radius);
	
	&:after {
		color: @scroll_top_color;
		content: @scroll_top_icon;
		font-family: @icon_font_family;
		font-size: @scroll_top_font_size;
		font-weight: @scroll_top_font_weight;
		line-height: @scroll_top_height - (@scroll_top_padding * 2);
	}

	&.fixed {
		position: fixed;
	}

	&.right {
		right: 35px;
	}

	&.centred {
		left: 50%;
		margin-left: -(@scroll_top_width/2);
	}

	&.tooltip {
		&:before {
			position: absolute;
			top: -@scroll_top_tooltip_size;
			left: 50%;
			margin-left: -@scroll_top_tooltip_size;
			width: 0;
			height: 0;
			border-right: @scroll_top_tooltip_size solid transparent;
			border-bottom: @scroll_top_tooltip_size solid @scroll_top_color;
			border-left: @scroll_top_tooltip_size solid transparent;
			content: ' ';
		}
	}
}