/* Slides */

.slides {
	position: relative;

	.slides-navigation {
		z-index: 999;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		.container {
			height: 100%;
		}

		.slides-previous,
		.slides-next {
			z-index: 999;
			position: absolute;
			top: 50%;
			margin-top: -@slides_navigation_offset;
			font-size: @slides_navigation_size;
			color: @slides_navigation_color;
		}

		.slides-previous {
			left: @slides_navigation_offset;

			&:after {
				content: @icon_angle_left;
				font-family: @icon_font_family;
			}

		}

		.slides-next {
			right: @slides_navigation_offset;

			&:after {
				content: @icon_angle_right;
				font-family: @icon_font_family;
			}
		}
	}

	.slides-pagination {
		z-index: 999;
		margin: 0;
		padding: 0;
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;
		bottom: @slides_pagination_offset;
		right: @slides_pagination_offset;

		.slides-pagination-item {
			display: inline-block;

			a {
				display: block;
				margin: 0px 2px;
				.square(@slides_pagination_size);
				.hide-text();
				.border-radius(@slides_pagination_border_radius);
				border: 2px solid @slides_pagination_color;

				&.active,
				&:active {
					background: @slides_pagination_color;
				}
			}
		}

	}
}