/* Tooltip */

.tooltip {
	position: absolute;
	z-index: @tooltip_z_index;
	display: block;
	visibility: visible;
	font-size: @font_size_medium;
	line-height: 1.4;
	.opacity(0);

	&.in {
		.opacity(1);
	}

	&.top {
		margin-top: -3px;
		padding: @tooltip_arrow_width 0;
	}

	&.right {
		margin-left: 3px;
		padding: 0 @tooltip_arrow_width;
	}

	&.bottom {
		margin-top: 3px;
		padding: @tooltip_arrow_width 0;
	}

	&.left {
		margin-left: -3px;
		padding: 0 @tooltip_arrow_width;
	}
}

// Wrapper for the tooltip content
.tooltip-inner {
	min-width: @tooltip_min_width;
	max-width: @tooltip_max_width;
	padding: 8px 14px;
	color: @tooltip_color;
	text-align: left;
	text-decoration: none;
	background-color: @tooltip_background;
}

// Arrows
.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip {

	//Top
	&.top .tooltip-arrow {
		bottom: 0;
		left: 50%;
		margin-left: -@tooltip_arrow_width;
		border-width: @tooltip_arrow_width @tooltip_arrow_width 0;
		border-top-color: @tooltip_arrow_color;
	}

	//Top Left
	&.top-left .tooltip-arrow {
		bottom: 0;
		left: @tooltip_arrow_width;
		border-width: @tooltip_arrow_width @tooltip_arrow_width 0;
		border-top-color: @tooltip_arrow_color;
	}

	//Top Right
	&.top-right .tooltip-arrow {
		bottom: 0;
		right: @tooltip_arrow_width;
		border-width: @tooltip_arrow_width @tooltip_arrow_width 0;
		border-top-color: @tooltip_arrow_color;
	}

	//Right
	&.right .tooltip-arrow {
		top: 50%;
		left: 0;
		margin-top: -@tooltip_arrow_width;
		border-width: @tooltip_arrow_width @tooltip_arrow_width @tooltip_arrow_width 0;
		border-right-color: @tooltip_arrow_color;
	}

	//Left
	&.left .tooltip-arrow {
		top: 50%;
		right: 0;
		margin-top: -@tooltip_arrow_width;
		border-width: @tooltip_arrow_width 0 @tooltip_arrow_width @tooltip_arrow_width;
		border-left-color: @tooltip_arrow_color;
	}

	//Bottom
	&.bottom .tooltip-arrow {
		top: 0;
		left: 50%;
		margin-left: -@tooltip_arrow_width;
		border-width: 0 @tooltip_arrow_width @tooltip_arrow_width;
		border-bottom-color: @tooltip_arrow_color;
	}

	//Bottom Left
	&.bottom-left .tooltip-arrow {
		top: 0;
		left: @tooltip_arrow_width;
		border-width: 0 @tooltip_arrow_width @tooltip_arrow_width;
		border-bottom-color: @tooltip_arrow_color;
	}

	//Bottom Right
	&.bottom-right .tooltip-arrow {
		top: 0;
		right: @tooltip_arrow_width;
		border-width: 0 @tooltip_arrow_width @tooltip_arrow_width;
		border-bottom-color: @tooltip_arrow_color;
	}
}